<div class="main">
    <div class="sidebar-main-title">
      <div class="d-flex fl-column js-center" style="width: 100%;"> 
        <mat-form-field class="example-full-width">
          <mat-label>Client Id</mat-label>
          <input type="text" style="width: 100%;"  readonly matInput [value]="this.apiKeys.clientId" placeholder="ClientId">
          <mat-icon matSuffix style="cursor: pointer;" matTooltip = "Copy ClientId"  (click)="copyContent(this.apiKeys.clientId,'Client Key')">content_copy</mat-icon>
        </mat-form-field>
        
        <mat-form-field class="example-full-width" style="margin-top: 1em;">
          <mat-label>Secret Id</mat-label>
          <input type="text" style="width: 100%;" readonly matInput [value]="this.apiKeys.secretId" placeholder="SecretId">
          <mat-icon matSuffix matSuffix style="cursor: pointer;"  (click)="copyContent(this.apiKeys.secretId,'Secret Key')" matTooltip = "Copy SecretId">content_copy</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div style="text-align: right;">
      <button type="button" mat-flat-button color="primary" (click)="generateKey(true)" >Re-Generate Keys</button>
    </div>
</div>