<div class="container">
    <div class="row">
        <div id="b4l-content">

            <div class="b4l-product-title">
                <ul>
                    <li><a href="javaScript:void(0);" routerLink="{{routeURL.SAVED_PRODUCTS}}" [ngClass]="{'active': route.url === routeURL.SAVED_PRODUCTS}">
                            <p>{{global.COUNT.saved || 0}}</p><span>Saved</span> </a></li>
                    <li><a href="javaScript:void(0);" routerLink="{{routeURL.SENT_PRODUCTS}}"
                            [ngClass]="{'active': route.url === routeURL.SENT_PRODUCTS}">
                            <p>{{global.COUNT.sent || 0}}</p><span>Sent to checker</span>
                        </a></li>
                    <li><a href="javaScript:void(0);" routerLink="{{routeURL.SENT_BACK_PRODUCTS}}"
                            [ngClass]="{'active': route.url === routeURL.SENT_BACK_PRODUCTS}">
                            <p>{{global.COUNT.sendBack || 0}}</p><span>Sent back by checker</span>
                        </a></li>
                    <li><a href="javaScript:void(0);" routerLink="{{routeURL.ACTIVE_PRODUCTS}}"
                            [ngClass]="{'active': route.url === routeURL.ACTIVE_PRODUCTS}">
                            <p>{{global.COUNT.active || 0}}</p><span>Active Products</span>
                        </a></li>
                    <li><a href="javaScript:void(0);" routerLink="{{routeURL.INACTIVE_PRODUCTS}}"
                            [ngClass]="{'active': route.url === routeURL.INACTIVE_PRODUCTS}">
                            <p>{{global.COUNT.inActive|| 0}}</p><span>Inactive Products</span>
                        </a></li>
                </ul>
                <div class="sidebar-main-title">
                    <a href="javascript:void(0)" *ngIf="isAdd" routerLink="{{routeURL.PRODUCT}}">+ Add new Product</a>
                </div>
            </div>

            <div [ngSwitch]="route.url">
                <div *ngSwitchCase="routeURL.SAVED_PRODUCTS">
                    <div class="b4l-product-list-title">
                        <p>Product Name</p>
                        <div class="b4l-product-list-right">
                            <p>Last modified</p>
                            <p>Action</p>
                        </div>
                    </div>
                    <div class="b4l-product-list" *ngFor="let item of productList">
                        <p>{{item.name}}</p>
                        <div class="b4l-product-list-right">
                            <p>{{item.modifiedDate  | date:'dd MMM yyyy' }} {{item.modifiedDate  | date:'shortTime' }} </p>
                            <p class="buttin-b4l-opacity">
                                <button [disabled]="!isEdit" [routerLink]="[routeURL.PRODUCT, item.productsTempId]" mat-raised-button class="btn1-b4l" matTooltip="edit" matTooltipPosition="above" aria-label="Edit">
                                    <img src="assets/img/edit-icon.svg" /> 
                                </button>
                                <button (click)="viewProduct(item.productStatus.id, item.productsTempId)"  mat-raised-button class="btn2-b4l" matTooltip="view" matTooltipPosition="above" aria-label="View">
                                    <img src="assets/img/view-icon.svg" />
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="routeURL.SENT_PRODUCTS">
                    <div class="b4l-product-list-title-1">
                        <p>Product Name</p>
                        <div class="b4l-product-list-right-1">
                            <p>Status</p>
                            <p>Version</p>
                            <p>Last modified</p>
                            <p>Action</p>
                        </div>
                    </div>
                    <div class="b4l-product-list-1" *ngFor="let item of productList">
                        <p>{{item.name}}</p>
                        <div class="b4l-product-list-right-1">
                            <p class="display"><span class="dot">&#8226; </span>Active</p>
                            <p>Version 2.0</p>
                            <p>{{item.modifiedDate  | date:'dd MMM yyyy' }} {{item.modifiedDate  | date:'shortTime' }}</p>
                            <p class="buttin-b4l-opacity">
                                <button mat-raised-button class="btn3-b4l" matTooltip="view" matTooltipPosition="above" (click)="viewProduct(item.productStatus.id, item.productsTempId)" aria-label="View">
                                    <img src="assets/img/view-icon.svg" />
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="routeURL.SENT_BACK_PRODUCTS">
                    <div class="b4l-product-list-title">
                        <p>Product Name</p>

                        <div class="b4l-product-list-right">
                            <p>Last modified</p>
                            <p>Action</p>
                        </div>

                    </div>
                    <div class="b4l-product-list" *ngFor="let item of productList">
                        <p>{{item.name}}</p>
                        <div class="b4l-product-list-right">
                            <p>{{item.modifiedDate  | date:'dd MMM yyyy' }} {{item.modifiedDate  | date:'shortTime' }}</p>
                            <p class="buttin-b4l-opacity">
                                <button [disabled]="!isEdit" [routerLink]="[routeURL.PRODUCT, item.productsTempId]" mat-raised-button class="btn1-b4l" matTooltip="edit" matTooltipPosition="above" aria-label="Edit">
                                    <img src="assets/img/edit-icon.svg" />
                                </button>
                                <button (click)="viewProduct(item.productStatus.id, item.productsTempId)"  mat-raised-button class="btn2-b4l" matTooltip="view"  matTooltipPosition="above" aria-label="View">
                                    <img src="assets/img/view-icon.svg" />
                                </button>
                            </p>
                        </div>

                    </div>
                </div>
                <div *ngSwitchCase="routeURL.ACTIVE_PRODUCTS">
                    <div class="b4l-product-list-title-1">
                        <p>Product Name</p>

                        <div class="b4l-product-list-right-1">
                            <p>Status</p>
                            <p>Version</p>
                            <p>Last modified</p>
                            <p>Action</p>
                        </div>
                    </div>
                    <div class="b4l-product-list-1" *ngFor="let item of productList">
                        <p>{{item.name}}</p>
                        <div class="b4l-product-list-right-1">
                            <p class="display"><span class="dot">&#8226; </span>Active</p>
                            <p>Version 2.0</p>
                            <p>{{item.modifiedDate  | date:'dd MMM yyyy' }} {{item.modifiedDate  | date:'shortTime' }}</p>
                            <p  class="buttin-b4l-opacity"><button [disabled]="!isEdit" mat-raised-button class="btn1-b4l" matTooltip="edit"
                                    matTooltipPosition="above" aria-label="Edit">
                                    <img src="assets/img/edit-icon.svg" />
                                </button>
                                <button (click)="viewProduct(item.productStatus.id, item.productsId)"  mat-raised-button class="btn4-b4l" matTooltip="view" matTooltipPosition="above" aria-label="View">
                                    <img src="assets/img/view-icon.svg" />
                                </button>
                                <button [disabled]="!isEdit" mat-raised-button class="btn2-b4l" matTooltip="Deactive"
                                    matTooltipPosition="above" aria-label="Deactive">
                                    <img src="assets/img/lock-icon.svg" />
                                </button></p>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="routeURL.INACTIVE_PRODUCTS">
                    <div class="b4l-product-list-title-1">
                        <p>Product Name</p>
                        <div class="b4l-product-list-right-1">
                            <p>Status</p>
                            <p>Version</p>
                            <p>Last modified</p>
                            <p>Action</p>
                        </div>
                    </div>

                    <div class="b4l-product-list-1" *ngFor="let item of productList">
                        <p>{{item.name}}</p>
                        <div class="b4l-product-list-right-1">
                            <p class="display"><span class="dot1">&#8226; </span>Inctive</p>
                            <p>Version 2.0</p>
                            <p>{{item.modifiedDate  | date:'dd MMM yyyy' }} {{item.modifiedDate  | date:'shortTime' }}</p>
                            <p  class="buttin-b4l-opacity"><button [disabled]="!isEdit" mat-raised-button class="btn1-b4l" matTooltip="edit"
                                    matTooltipPosition="above" aria-label="Edit">
                                    <img src="assets/img/edit-icon.svg" />
                                </button>
                                <button (click)="viewProduct(item.productStatus.id, item.productsId)"  mat-raised-button class="btn4-b4l" matTooltip="view" matTooltipPosition="above" aria-label="View">
                                    <img src="assets/img/view-icon.svg" />
                                </button>
                                <button [disabled]="!isEdit" mat-raised-button class="btn2-b4l" matTooltip="Deactive"
                                    matTooltipPosition="above" aria-label="Deactive">
                                    <img src="assets/img/lock-icon.svg" />
                                </button></p>
                        </div>
                    </div>
                    <div class="b4l-product-list-1" *ngIf="productList.length === 0 || !productList">
                        <p class="text-center">No data found.</p>
                    </div>
                </div>
            </div>
        </div>





        <!-- Send to checker start -->


        <!-- <div id="b4l-content">



            <div class="b4l-product-title">
                <ul>
                    <li><a href="#">
                            <p>01</p><span>Saved</span>
                        </a></li>
                    <li><a href="#" class="active">
                            <p>02</p><span>Sent to checker</span>
                        </a></li>
                    <li><a href="#">
                            <p>02</p><span>Sent back by checker</span>
                        </a></li>
                    <li><a href="#">
                            <p>10</p><span>Active Products</span>
                        </a></li>
                    <li><a href="#">
                            <p>03</p><span>Inactive Products</span>
                        </a></li>
                </ul>

                <div class="sidebar-main-title">

                    <a href="#">+ Add new Product</a>
                </div>


            </div>




            <div class="b4l-product-list-title-1">
                <p>Product Name</p>

                <div class="b4l-product-list-right-1">
                    <p>Status</p>
                    <p>Version</p>
                    <p>Last modified</p>
                    <p>Action</p>
                </div>

            </div>



            <div class="b4l-product-list-1">
                <p>Contactless Invoice financing</p>

                <div class="b4l-product-list-right-1">
                    <p class="display"><span class="dot">&#8226; </span>Active</p>
                    <p>Version 2.0</p>
                    <p>30 march 2020, 3:52 PM</p>
                    <p class="buttin-b4l-opacity">
                        <button mat-raised-button class="btn3-b4l" matTooltip="view" matTooltipPosition="above"
                            aria-label="View">
                            <img src="assets/img/view-icon.svg" />
                        </button>
                    </p>
                </div>

            </div>




        </div> -->

        <!-- Send to checker end -->

        <!-- Sent back by checker start -->
        <!-- <div id="b4l-content">



            <div class="b4l-product-title">
                <ul>
                    <li><a href="#">
                            <p>01</p><span>Saved</span>
                        </a></li>
                    <li><a href="#">
                            <p>02</p><span>Sent to checker</span>
                        </a></li>
                    <li><a href="#" class="active">
                            <p>02</p><span>Sent back by checker</span>
                        </a></li>
                    <li><a href="#">
                            <p>10</p><span>Active Products</span>
                        </a></li>
                    <li><a href="#">
                            <p>03</p><span>Inactive Products</span>
                        </a></li>
                </ul>

                <div class="sidebar-main-title">

                    <a href="#">+ Add new Product</a>
                </div>


            </div>




            <div class="b4l-product-list-title">
                <p>Product Name</p>

                <div class="b4l-product-list-right">
                    <p>Last modified</p>
                    <p>Action</p>
                </div>

            </div>



            <div class="b4l-product-list">
                <p>Contactless Invoice financing</p>

                <div class="b4l-product-list-right">
                    <p>30 march 2020, 3:52 PM</p>
                    <p class="buttin-b4l-opacity"><button mat-raised-button class="btn1-b4l" matTooltip="edit"
                            matTooltipPosition="above" aria-label="Edit">
                            <img src="assets/img/edit-icon.svg" />
                        </button><button mat-raised-button class="btn2-b4l" matTooltip="view" matTooltipPosition="above"
                            aria-label="View">
                            <img src="assets/img/view-icon.svg" />
                        </button></p>
                </div>

            </div>

            <div class="b4l-product-list back">
                <p>Contactless Invoice financing</p>

                <div class="b4l-product-list-right">
                    <p>30 march 2020, 3:52 PM</p>
                    <p class="buttin-b4l-opacity"><button mat-raised-button class="btn1-b4l" matTooltip="edit"
                            matTooltipPosition="above" aria-label="Edit">
                            <img src="assets/img/edit-icon.svg" />
                        </button><button mat-raised-button class="btn2-b4l" matTooltip="view" matTooltipPosition="above"
                            aria-label="View">
                            <img src="assets/img/view-icon.svg" />
                        </button></p>
                </div>

            </div>
        </div> -->




        <!-- Sent back by checker end -->

        <!-- Active Products start -->


        <!-- <div id="b4l-content">



            <div class="b4l-product-title">
                <ul>
                    <li><a href="#">
                            <p>01</p><span>Saved</span>
                        </a></li>
                    <li><a href="#">
                            <p>02</p><span>Sent to checker</span>
                        </a></li>
                    <li><a href="#">
                            <p>02</p><span>Sent back by checker</span>
                        </a></li>
                    <li><a href="#" class="active">
                            <p>10</p><span>Active Products</span>
                        </a></li>
                    <li><a href="#">
                            <p>03</p><span>Inactive Products</span>
                        </a></li>
                </ul>

                <div class="sidebar-main-title">

                    <a href="#">+ Add new Product</a>
                </div>


            </div>




            <div class="b4l-product-list-title-1">
                <p>Product Name</p>

                <div class="b4l-product-list-right-1">
                    <p>Status</p>
                    <p>Version</p>
                    <p>Last modified</p>
                    <p>Action</p>
                </div>

            </div>



            <div class="b4l-product-list-1">
                <p>Contactless Invoice financing</p>

                <div class="b4l-product-list-right-1">
                    <p class="display"><span class="dot">&#8226; </span>Active</p>
                    <p>Version 2.0</p>
                    <p>30 march 2020, 3:52 PM</p>
                    <p class="buttin-b4l-opacity"><button mat-raised-button class="btn1-b4l" matTooltip="edit"
                            matTooltipPosition="above" aria-label="Edit">
                            <img src="assets/img/edit-icon.svg" />
                        </button>
                        <button mat-raised-button class="btn4-b4l" matTooltip="view" matTooltipPosition="above"
                            aria-label="View">
                            <img src="assets/img/view-icon.svg" />
                        </button>
                        <button mat-raised-button class="btn2-b4l" matTooltip="Deactive" matTooltipPosition="above"
                            aria-label="Deactive">
                            <img src="assets/img/lock-icon.svg" />
                        </button></p>
                </div>

            </div>


            <div class="b4l-product-list-1 back ">
                <p>Contactless Invoice financing</p>

                <div class="b4l-product-list-right-1">
                    <p class="display"><span class="dot">&#8226; </span>Active</p>
                    <p>Version 2.0</p>
                    <p>30 march 2020, 3:52 PM</p>
                    <p class="buttin-b4l-opacity"><button mat-raised-button class="btn1-b4l" matTooltip="edit"
                            matTooltipPosition="above" aria-label="Edit">
                            <img src="assets/img/edit-icon.svg" />
                        </button>
                        <button mat-raised-button class="btn4-b4l" matTooltip="view" matTooltipPosition="above"
                            aria-label="View">
                            <img src="assets/img/view-icon.svg" />
                        </button>
                        <button mat-raised-button class="btn2-b4l" matTooltip="Deactive" matTooltipPosition="above"
                            aria-label="Deactive">
                            <img src="assets/img/lock-icon.svg" />
                        </button></p>
                </div>

            </div>



            <div class="b4l-product-list-1">
                <p>Contactless Invoice financing</p>

                <div class="b4l-product-list-right-1">
                    <p class="display"><span class="dot">&#8226; </span>Active</p>
                    <p>Version 2.0</p>
                    <p>30 march 2020, 3:52 PM</p>
                    <p class="buttin-b4l-opacity"><button mat-raised-button class="btn1-b4l" matTooltip="edit"
                            matTooltipPosition="above" aria-label="Edit">
                            <img src="assets/img/edit-icon.svg" />
                        </button>
                        <button mat-raised-button class="btn4-b4l" matTooltip="view" matTooltipPosition="above"
                            aria-label="View">
                            <img src="assets/img/view-icon.svg" />
                        </button>
                        <button mat-raised-button class="btn2-b4l" matTooltip="Deactive" matTooltipPosition="above"
                            aria-label="Deactive">
                            <img src="assets/img/lock-icon.svg" />
                        </button></p>
                </div>

            </div>



            <div class="b4l-product-list-1 back ">
                <p>Contactless Invoice financing</p>

                <div class="b4l-product-list-right-1">
                    <p class="display"><span class="dot">&#8226; </span>Active</p>
                    <p>Version 2.0</p>
                    <p>30 march 2020, 3:52 PM</p>
                    <p class="buttin-b4l-opacity"><button mat-raised-button class="btn1-b4l" matTooltip="edit"
                            matTooltipPosition="above" aria-label="Edit">
                            <img src="assets/img/edit-icon.svg" />
                        </button>
                        <button mat-raised-button class="btn4-b4l" matTooltip="view" matTooltipPosition="above"
                            aria-label="View">
                            <img src="assets/img/view-icon.svg" />
                        </button>
                        <button mat-raised-button class="btn2-b4l" matTooltip="Deactive" matTooltipPosition="above"
                            aria-label="Deactive">
                            <img src="assets/img/lock-icon.svg" />
                        </button></p>
                </div>

            </div>


            <div class="b4l-product-list-1">
                <p>Contactless Invoice financing</p>

                <div class="b4l-product-list-right-1">
                    <p class="display"><span class="dot">&#8226; </span>Active</p>
                    <p>Version 2.0</p>
                    <p>30 march 2020, 3:52 PM</p>
                    <p class="buttin-b4l-opacity"><button mat-raised-button class="btn1-b4l" matTooltip="edit"
                            matTooltipPosition="above" aria-label="Edit">
                            <img src="assets/img/edit-icon.svg" />
                        </button>
                        <button mat-raised-button class="btn4-b4l" matTooltip="view" matTooltipPosition="above"
                            aria-label="View">
                            <img src="assets/img/view-icon.svg" />
                        </button>
                        <button mat-raised-button class="btn2-b4l" matTooltip="Deactive" matTooltipPosition="above"
                            aria-label="Deactive">
                            <img src="assets/img/lock-icon.svg" />
                        </button></p>
                </div>

            </div>




        </div> -->

        <!-- Active Products end -->


        <!-- Inactive Products start -->

        <!-- <div id="b4l-content">



            <div class="b4l-product-title">
                <ul>
                    <li><a href="#">
                            <p>01</p><span>Saved</span>
                        </a></li>
                    <li><a href="#">
                            <p>02</p><span>Sent to checker</span>
                        </a></li>
                    <li><a href="#">
                            <p>02</p><span>Sent back by checker</span>
                        </a></li>
                    <li><a href="#">
                            <p>10</p><span>Active Products</span>
                        </a></li>
                    <li><a href="#" class="active">
                            <p>03</p><span>Inactive Products</span>
                        </a></li>
                </ul>

                <div class="sidebar-main-title">

                    <a href="#">+ Add new Product</a>
                </div>


            </div>




            <div class="b4l-product-list-title-1">
                <p>Product Name</p>

                <div class="b4l-product-list-right-1">
                    <p>Status</p>
                    <p>Version</p>
                    <p>Last modified</p>
                    <p>Action</p>
                </div>

            </div>



            <div class="b4l-product-list-1">
                <p>Contactless Invoice financing</p>

                <div class="b4l-product-list-right-1">
                    <p class="display"><span class="dot1">&#8226; </span>Inctive</p>
                    <p>Version 2.0</p>
                    <p>30 march 2020, 3:52 PM</p>
                    <p class="buttin-b4l-opacity"><button mat-raised-button class="btn1-b4l" matTooltip="edit"
                            matTooltipPosition="above" aria-label="Edit">
                            <img src="assets/img/edit-icon.svg" />
                        </button>
                        <button mat-raised-button class="btn4-b4l" matTooltip="view" matTooltipPosition="above"
                            aria-label="View">
                            <img src="assets/img/view-icon.svg" />
                        </button>
                        <button mat-raised-button class="btn2-b4l" matTooltip="Deactive" matTooltipPosition="above"
                            aria-label="Deactive">
                            <img src="assets/img/lock-icon.svg" />
                        </button></p>
                </div>

            </div>


            <div class="b4l-product-list-1 back ">
                <p>Contactless Invoice financing</p>

                <div class="b4l-product-list-right-1">
                    <p class="display"><span class="dot1">&#8226; </span>Inctive</p>
                    <p>Version 2.0</p>
                    <p>30 march 2020, 3:52 PM</p>
                    <p class="buttin-b4l-opacity"><button mat-raised-button class="btn1-b4l" matTooltip="edit"
                            matTooltipPosition="above" aria-label="Edit">
                            <img src="assets/img/edit-icon.svg" />
                        </button>
                        <button mat-raised-button class="btn4-b4l" matTooltip="view" matTooltipPosition="above"
                            aria-label="View">
                            <img src="assets/img/view-icon.svg" />
                        </button>
                        <button mat-raised-button class="btn2-b4l" matTooltip="Deactive" matTooltipPosition="above"
                            aria-label="Deactive">
                            <img src="assets/img/lock-icon.svg" />
                        </button></p>
                </div>

            </div>



            <div class="b4l-product-list-1">
                <p>Contactless Invoice financing</p>

                <div class="b4l-product-list-right-1">
                    <p class="display"><span class="dot1">&#8226; </span>Inctive</p>
                    <p>Version 2.0</p>
                    <p>30 march 2020, 3:52 PM</p>
                    <p class="buttin-b4l-opacity"><button mat-raised-button class="btn1-b4l" matTooltip="edit"
                            matTooltipPosition="above" aria-label="Edit">
                            <img src="assets/img/edit-icon.svg" />
                        </button>
                        <button mat-raised-button class="btn4-b4l" matTooltip="view" matTooltipPosition="above"
                            aria-label="View">
                            <img src="assets/img/view-icon.svg" />
                        </button>
                        <button mat-raised-button class="btn2-b4l" matTooltip="Deactive" matTooltipPosition="above"
                            aria-label="Deactive">
                            <img src="assets/img/lock-icon.svg" />
                        </button></p>
                </div>

            </div>



            <div class="b4l-product-list-1 back ">
                <p>Contactless Invoice financing</p>

                <div class="b4l-product-list-right-1">
                    <p class="display"><span class="dot1">&#8226; </span>Inctive</p>
                    <p>Version 2.0</p>
                    <p>30 march 2020, 3:52 PM</p>
                    <p class="buttin-b4l-opacity"><button mat-raised-button class="btn1-b4l" matTooltip="edit"
                            matTooltipPosition="above" aria-label="Edit">
                            <img src="assets/img/edit-icon.svg" />
                        </button>
                        <button mat-raised-button class="btn4-b4l" matTooltip="view" matTooltipPosition="above"
                            aria-label="View">
                            <img src="assets/img/view-icon.svg" />
                        </button>
                        <button mat-raised-button class="btn2-b4l" matTooltip="Deactive" matTooltipPosition="above"
                            aria-label="Deactive">
                            <img src="assets/img/lock-icon.svg" />
                        </button></p>
                </div>

            </div>


            <div class="b4l-product-list-1">
                <p>Contactless Invoice financing</p>

                <div class="b4l-product-list-right-1">
                    <p class="display"><span class="dot1">&#8226; </span>Inctive</p>
                    <p>Version 2.0</p>
                    <p>30 march 2020, 3:52 PM</p>
                    <p class="buttin-b4l-opacity"><button mat-raised-button class="btn1-b4l" matTooltip="edit"
                            matTooltipPosition="above" aria-label="Edit">
                            <img src="assets/img/edit-icon.svg" />
                        </button>
                        <button mat-raised-button class="btn4-b4l" matTooltip="view" matTooltipPosition="above"
                            aria-label="View">
                            <img src="assets/img/view-icon.svg" />
                        </button>
                        <button mat-raised-button class="btn2-b4l" matTooltip="Deactive" matTooltipPosition="above"
                            aria-label="Deactive">
                            <img src="assets/img/lock-icon.svg" />
                        </button></p>
                </div>

            </div>
        </div> -->
        <!-- Inactive Products end -->

    </div>
</div>