::ng-deep .mat-input-wrapper{
    width:400px !important;
  }
  .sidenav-content {
    height: 77vh;
    overflow: auto;
    align-items: center;
    justify-content: center;
    padding-left: 0.5em;
  }