::ng-deep .mat-input-wrapper{
    width:400px !important;
  }
  .sidenav-content {
    height: 77vh;
    overflow: auto;
    align-items: center;
    justify-content: center;
    padding-left: 0.5em;
  }

  .card-header{
    h3{
      font-size: 18px;
      font-weight: 500;
    }
  }

  .credit-data{
    p{
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 4px;
      span{
        font-weight: 400;
      }
    }
  }