<div id="b4l-pop-up">

    <div class="import-matches">
        <div class="import-matches-left">
<p>Add matches parameters</p>
<span></span>       

        </div>

        <div class="input-group">
            <input id="search" type="text" class="form-control" name="search" placeholder="Search product">
            <span class="input-group-addon"><img src="assets/img/Search.svg"></span>
          </div>

    </div>


<div class="hr"></div>
<div class="pop-up-content">
<div class="pop-up-cl">
    <mat-checkbox>Whether the unit/ proprietor is Banking with SBI and has CIF and </mat-checkbox>
    <p class="padd-lt"> Account No. Match with our database</p>
</div>


<div class="pop-up-cl back">
    <mat-checkbox>Constitution </mat-checkbox>
</div>


<div class="pop-up-cl">
    <mat-checkbox>Usance Period of Invoice  </mat-checkbox>
    <span class="padd-lt padd-cl">Lorem ipsum doler sit amen is there therefore the’s something</span>
</div>


<div class="pop-up-cl back">
    <mat-checkbox>Whether the status of unit’s existing exposure is Standard and Regular </mat-checkbox>
    <p class="padd-lt">i.e. not in SMA 1 & worse (Not Applicable in case of only Current Account Holders)</p>
</div>


<div class="pop-up-cl">
    <mat-checkbox>Invoice value </mat-checkbox>
    <span class="padd-lt">Sales value of invoices fetched from GSTIN of applicant</span>
</div>

<div class="pop-up-cl back">
    <mat-checkbox>Whether Input Tax Credit (ITC) is claimed by the Buyer on the invoice proposed for discounting</mat-checkbox>
</div>


</div>










<div class="btn-pop-up">

<a href="#" class="product-btn4">Cancel</a>
<a href="#" class="product-btn3">Import matches parameters</a>




</div>
