.btn-pop-up {
    display: flex;
    position: absolute;
    max-width: 50em;
    background: #ffffff;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    margin: 3em 0 0;
    padding: 2em;
    width: 100%;
    bottom: 9em;
    background: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-pop-up a img {
    margin-right: 0.3em ;
}



.btn-pop-up .product-btn3 {
    border: 1px solid #2D3079;
    border-radius: 8px;
    opacity: 1;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    padding: 1em 2em;  
    width: 48%;
    text-align: center;
    background: #2D3079;
}

.btn-pop-up .product-btn4 {
    border: 1px solid #BEBEBE;
    border-radius: 8px;
    opacity: 1;
    color: #5C5C5C;
    font-size: 16px;
    font-weight: 500;
    padding: 1em 2em;  
    width: 48%;
    text-align: center;
    background: #F7F7F7;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 50%;
}
.form-control {
    display: block;
    width: 100%;
    height: auto;
    padding: 1em 2.5em;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    color: rgba(17, 39, 73, 0.6);
    background-color: #fff;
    background-clip: padding-box;
   
    border-radius: 5px !important;
   
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.input-group-addon {
    position: absolute;
    left: 15px;
    top: 15px;
    opacity: 50%;
}
::-webkit-input-placeholder {
    margin-left: 1em;
}

.import-matches {
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
padding: 2em 2em 0;

}
.import-matches-left {
    display: flex;
    flex-direction: column;  
}
#b4l-pop-up .hr {
    width: 100%;
    height: 1px;
    background-color: #D8D8D8;
    margin: 2em 0 0 !important;
}
.import-matches-left p {
color: #000000;
font-size: 20px;
font-weight: bold;
}

.import-matches-left span {
    color: #000000;
font-size: 16px;
font-weight: 500;
opacity: 0.4;
}
.pop-up-cl {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #DEDEDE;
    padding: 2em;
}
.pop-up-cl p {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.4;
    margin-bottom: 0;
}
#b4l-pop-up {
 padding: 0em !important;
}
.padd-lt {padding-left: 1.5em;}
.padd-cl {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.4;
    margin-bottom: 0;
}

.import-matches {   
    position: absolute;
   max-width: 50em;
   width: 100%;
   background: #ffffff;
   z-index: 1;
}
    .pop-up-content {
        margin: 6em 0;
    }
    
    .import-matches {
        display: flex;
        align-items: center;
        justify-content: space-between;  
        padding: 2em;
        top: 9.5em;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        
        }

        


        @media (max-width: 1440px)
        {
   
           .import-matches{
               display: flex;
               align-items: center;
               justify-content: space-between;
               padding: 2em;
               top: 6em;
               border-top-left-radius: 5px;
               border-top-right-radius: 5px;
           }
   

           .btn-pop-up {         
            bottom: 6em ;         
        }
        }
   
   
   
       @media (max-width: 1024px)
        {
   
           .import-matches{
               display: flex;
               align-items: center;
               justify-content: space-between;
               padding: 2em;
               top: 5.5em;
               border-top-left-radius: 5px;
               border-top-right-radius: 5px;
           }
   
        }