<div id="b4l-pop-up">

    <div class="import-matches">
        <div class="import-matches-left">
            <p>Add matches parameters</p>
            <span></span>
        </div>
        <div class="input-group">
            <input id="search" #criteria (input)="updateCriteria(criteria.value)" type="text" class="form-control" name="search" placeholder="Search product">
            <span class="input-group-addon"><img src="assets/img/Search.svg"></span>
        </div>
    </div>


    <div class="hr"></div>
    <div class="pop-up-content">
        <div class="pop-up-cl" *ngFor="let param of itemList">
            <mat-checkbox [(ngModel)]="param.isSelected" > {{param.lable}} </mat-checkbox>
            <!-- <p class="padd-lt"> Account No. Match with our database</p> -->
        </div>
    </div>

    <div class="btn-pop-up">
        <a href="javascript:void(0)" (click)="close(null)" class="product-btn4">Cancel</a>
        <a href="javascript:void(0)" (click)="save()" class="product-btn3">Add Parameters</a>
    </div>