<form>
    <mat-card class="common_form_wrap">
        <form class="example-form form-main-section form-main-section" [formGroup]="udhyamRegDetailUsingOTPForm" (ngSubmit)="onFormSubmit()">
            <div class="form_wrap">
                <mat-form-field class="form-group">
                    <mat-label>Udyam Registration Number</mat-label>
                    <input type="text" matInput [formControl]="udhyamRegDetailUsingOTPForm.controls.urnId" [errorStateMatcher]="matcher" placeholder="Ex. UDYAM-MH-19-0000001">
                    <mat-error>
                        <app-print-error [control]="udhyamRegDetailUsingOTPForm.controls.urnId"></app-print-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-group">
                    <mat-label>Mobile Number</mat-label>
                    <input type="text" matInput [formControl]="udhyamRegDetailUsingOTPForm.controls.mobNo" [errorStateMatcher]="matcher" placeholder="Ex. 9819574650">
                    <mat-error>
                        <app-print-error [control]="udhyamRegDetailUsingOTPForm.controls.mobNo"></app-print-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-group">
                    <mat-label>Pan Number</mat-label>
                    <input type="text" matInput [formControl]="udhyamRegDetailUsingOTPForm.controls.pan" [errorStateMatcher]="matcher" placeholder="Ex. 9819574650">
                    <mat-error>
                        <app-print-error [control]="udhyamRegDetailUsingOTPForm.controls.pan"></app-print-error>
                    </mat-error>
                </mat-form-field>
                &nbsp;
            </div>
            <button type="submit" class="send-btn submit-form-btn ml-auto" mat-flat-button>Send</button>
        </form>
    </mat-card>
</form>
<app-tryout-response *ngIf="response != null" [jsonData]="response"></app-tryout-response>