<form>
    <mat-card style="display: flex; width: 100%;">
        <form class="example-form" [formGroup]="verifyOtpForm" (ngSubmit)="onFormSubmit()">
            <mat-form-field class="example-full-width">
                <mat-label>OTP</mat-label>
                <input type="text" matInput [formControl]="verifyOtpForm.controls.otp"
                    placeholder="Enter OTP">
                <mat-error>
                    <app-print-error [control]="verifyOtpForm.controls.otp"></app-print-error>
                </mat-error>
            </mat-form-field>
            &nbsp;
            <mat-form-field class="example-full-width">
                <mat-label>Session Key</mat-label>
                <input type="text" matInput [formControl]="verifyOtpForm.controls.sessionKey"
                    placeholder="Enter Session Key">
                <mat-error>
                    <app-print-error [control]="verifyOtpForm.controls.sessionKey"></app-print-error>
                </mat-error>
            </mat-form-field>
            &nbsp;
            <button type="submit" style="margin-left: 1em;" mat-flat-button color="primary">Verify OTP</button>
        </form>
    </mat-card>
</form>
<app-tryout-response *ngIf="response != null" [jsonData]="response"></app-tryout-response>