<div>
  <div class="card-header">
    <h3 class="card-title m-0">
      <strong>Introduction</strong>
    </h3>
    <!---->
  </div>
  <mat-tab-group>
    <mat-tab label="About">
      <div>
        <br><br>
        <ul>
          <li>
            <p>The OAM(OPL API Manager) API is organized around RESTful Web Services.
              Our API has predictable, resource-oriented URLs, and uses HTTP response codes to indicate API errors.
              We use built-in HTTP features, like HTTP authentication and HTTP verbs (POST), which are understood by
              off-the-shelf HTTP clients.
              We support cross-origin resource sharing, allowing you to interact securely with our API from a
              client-side web application (though you should never expose your secret Id and Client Id API keys in any
              public website's client-side code).
            </p>
          </li>
          <li>
            <p>
              To make the API as explorable as possible, you will have different account for test mode and live mode
              accecss.
              Requests made with TEST mode credentials incur no cost but the total number of TEST mode calls will be
              restricted as per the relevant API.
              Please contact our business development team for further details.
            </p>
          </li>
          <li>
            <p>
              You’ll likely need access to a web developer or programmer (if you’re not one) to get the most use out of
              the API.
            </p>
          </li>
        </ul>
      </div>
    </mat-tab>
    <mat-tab label="Registration / Onboarding">
      <br>
      <div>
        <p>API access will be granted to Customers registered with OPL. To request an access to test APIs please get in
          touch with OPL Team at support@onlinepsbloans.com with the following details:</p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"> Field</th>
              <th scope="col">Details</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Organization Name</td>
              <td> Full Organization Name</td>
            </tr>
            <tr>
              <td>Sector</td>
              <td>In which sector your company provide services.</td>
            </tr>
            <tr>
              <td>Email-id </td>
              <td>email-id will use to register with our company.</td>
            </tr>
            <tr>
              <td>Mobile Number</td>
              <td>MobileNo will use to register with our company.</td>
            </tr>
            <tr>
              <td>Service Name </td>
              <td> Service Name which you want to access to test APIs.</td>
            </tr>
            <tr>
              <td>Contact Details</td>
              <td> Minimum 1 Person Contact Detail Will be required. (Name, Email-id, Mobile Number, Designation)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-tab>

    <mat-tab label="HTTP Status Codes">
      <br>
      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Code</th>
              <th scope="col">Message</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>200</td>
              <td>OK</td>
              <td>Request Successful</td>
            </tr>
            <tr>
              <td>400</td>
              <td>Bad Request</td>
              <td>Mandatory fields are missing / invalid</td>
            </tr>
            <tr>
              <td>401</td>
              <td>Unauthorized Access</td>
              <td>API Key is missing or invalid.</td>
            </tr>
            <tr>
              <td>402</td>
              <td>Insufficient Credits</td>
              <td>Credits to access the APIs expired</td>
            </tr>
            <tr>
              <td>500</td>
              <td> Internal Server Error</td>
              <td>Internal processing error of OPL.</td>
            </tr>
            <tr>
              <td>503</td>
              <td>Source Unavailable</td>
              <td>The source for authentication is down for maintenance or inaccessible.</td>
            </tr>
            <tr>
              <td>504</td>
              <td>Endpoint Request Timed Out</td>
              <td>The response latency from the source for authentication is >30sec.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-tab>

    <mat-tab label="Internal Status Codes">
      <br>
      <div class="parent-table-scroll">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Code</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1000</td>
              <td>Success</td>
            </tr>
            <tr>
              <td>1001</td>
              <td>Details found</td>
            </tr>
            <tr>
              <td>1002</td>
              <td>Details not found based on combination of inputs</td>
            </tr>
            <tr>
              <td>1003</td>
              <td>Invalid Keypair.</td>
            </tr>
            <tr>
              <td>1004</td>
              <td>Unauthorized.</td>
            </tr>
            <tr>
              <td>1005</td>
              <td>Missing Inputs.</td>
            </tr>
            <tr>
              <td>1006</td>
              <td>Technical Error</td>
            </tr>
            <tr>
              <td>1007</td>
              <td>User already Registered!</td>
            </tr>
            <tr>
              <td>1008</td>
              <td>Invalid Inputs.</td>
            </tr>
            <tr>
              <td>1009</td>
              <td>Unknown Error</td>
            </tr>
            <tr>
              <td>1010</td>
              <td>Required Headers Missing.</td>
            </tr>
            <tr>
              <td>1011</td>
              <td>Verification Failed.</td>
            </tr>
            <tr>
              <td>1012</td>
              <td>User Doesn't have credit limit to access the APIs. Kindly contact to Administrator</td>
            </tr>
            <tr>
              <td>1013</td>
              <td>User Doesn't have API access, Kindly contact to Administrator</td>
            </tr> 
            <tr>
              <td>1014</td>
              <td>Your iPVR is under process.</td>
            </tr> 
            <tr>
              <td>1015</td>
              <td>Version is missing or invalid.</td>
            </tr>
            <tr>
              <td>1016</td>
              <td>Invalid payload.</td>
            </tr>
            <tr>
              <td>1017</td>
              <td>Header decryption failed.</td>
            </tr>
            <tr>
              <td>1018</td>
              <td>Payload encyption failed.</td>
            </tr> 
            <tr>
              <td>1019</td>
              <td>Payload decryption failed.</td>
            </tr> 
            <tr>
              <td>1020</td>
              <td>Thirdparty api access not available.</td>
            </tr> 
            <tr>
              <td>1021</td>
              <td>Thirdparty Server Issue.</td>
            </tr>
            <tr>
              <td>1022</td>
              <td>You are not allowed to access Return for selected return period.</td>
            </tr>
            <tr>
              <td>1023</td>
              <td>No data found, please contact gst customer care.</td>
            </tr>
          </tbody> 
        </table>
      </div>
    </mat-tab> 

  </mat-tab-group>