#b4l-content {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 20px #0000000F;
    border: 1px solid #DEDEDE;
    border-radius: 8px;
    opacity: 1;
    margin: 2em auto;
  
    width: 100%;
}

.b4l-product-title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e4e4e4;
    padding: 0 2em;
}

.b4l-product-title ul {
    float: left;
    overflow: hidden;
   margin-bottom: 0;
   padding: 0;
}

.b4l-product-title ul li{
    float: left;
    list-style: none;
    padding: 2em 2em 0;
  
}

.b4l-product-title ul li a {
display: flex;
flex-direction: column;
align-items: center;
text-decoration: none;
min-width: 8em;
}

.b4l-product-title ul li a p {
font-size: 24px;
font-weight: bold;
color: #000000;
opacity: 0.4;
}

.b4l-product-title ul li a span {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    opacity: 0.4;
    padding-bottom: 1em;
    }
    


.b4l-product-title ul li a.active {
border-bottom: 3px solid #2D3079;

}

.b4l-product-title ul li a.active p{
    color: #2D3079;
    opacity: 1;
    }

    .b4l-product-title ul li a.active span{
        color: #2D3079;
        opacity: 1;
        }


        .sidebar-main-title a {
            background-color: #2D3079;
            padding: 1em 2em;
            color: #FFFFFF;
            border-radius: 5px;  
            }
            
              .sidebar-main-title img {
            margin-right: 0.5em;
            
              }

              .b4l-product-title .sidebar-main-title a {
                background-color: #2D3079;
                padding: 1.5em 3.5em;
                color: #FFFFFF;
                border-radius: 5px;  
                }


                .b4l-product-list-title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    padding: 1.5em 3em;
                    border-bottom: 1px solid #e4e4e4;
                }
                .b4l-product-list {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    padding: 1.5em 3em;
                    border-bottom: 1px solid #e4e4e4;
                }

.b4l-product-list-title p {
    width: 50%;
    color: #000000;
    opacity: 0.4;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0 !important; 
}
.b4l-product-list p {
    width: 50%;
    color: #000000;
    opacity: 1;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0 !important; 
}

.b4l-product-list-title .b4l-product-list-right {
    width: 50%;
    display: flex;
    align-items: center;
  
}

.b4l-product-list-title .b4l-product-list-right p {
    text-align: right;
    color: #000000;
    opacity: 0.4;  
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}

.b4l-product-list .b4l-product-list-right {
    width: 50%;
    display: flex;
    align-items: center;
  
}

.b4l-product-list .b4l-product-list-right p {
    text-align: right;
    color: #000000;
    opacity: 0.4;  
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}










.mat-raised-button {  
    min-width: 50px !important;    
}

.buttin-b4l-opacity {
    opacity: 1 !important;
}

.btn1-b4l {
    border-top-left-radius: 12px !important;
    border-bottom-left-radius: 12px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0 !important;
    border: 1px solid #B4B4B4 !important;
    background: #D6D6D6 !important;
    opacity: 1 !important;
}
.btn2-b4l {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
    border: 1px solid #B4B4B4 !important;
    background: #D6D6D6 !important;
    opacity: 1 !important;
}

.btn3-b4l {
    border-radius: 12px !important;
    border: 1px solid #B4B4B4 !important;
    background: #D6D6D6 !important;
    opacity: 1 !important;
}
.btn4-b4l {
    border-radius: 0 !important;
    border: 1px solid #B4B4B4 !important;
    background: #D6D6D6 !important;
    opacity: 1 !important;
}
.mat-tooltip {
    background: #000000 !important;
    color: #FFFFFF !important;
}

.btn2-b4l:hover {
    background: transparent linear-gradient(180deg, #B4B4B4 0%, #D6D6D6 50%, #FFFFFF 100%) 0% 0% no-repeat padding-box !important;

}
.btn1-b4l:hover {
    background: transparent linear-gradient(180deg, #B4B4B4 0%, #D6D6D6 50%, #FFFFFF 100%) 0% 0% no-repeat padding-box !important;

}





.b4l-product-title-1 .sidebar-main-title-1 a {
    background-color: #2D3079;
    padding: 1.5em 3.5em;
    color: #FFFFFF;
    border-radius: 5px;  
    }


    .b4l-product-list-title-1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1.5em 3em;
        border-bottom: 1px solid #e4e4e4;
    }
    .b4l-product-list-1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1.5em 3em;
        border-bottom: 1px solid #e4e4e4;
    }

.b4l-product-list-title-1 p {
width: 30%;
color: #000000;
opacity: 0.4;
font-size: 16px;
font-weight: 500;
margin-bottom: 0 !important; 
}
.b4l-product-list-1 p {
width: 30%;
color: #000000;
opacity: 1;
font-size: 16px;
font-weight: 500;
margin-bottom: 0 !important; 
}

.b4l-product-list-title-1 .b4l-product-list-right-1 {
width: 70%;
display: flex;
align-items: center;

}

.b4l-product-list-title-1 .b4l-product-list-right-1 p {
text-align: right;
color: #000000;
opacity: 0.4;  
font-size: 16px;
font-weight: 500;
margin-bottom: 0;
}

.b4l-product-list-1 .b4l-product-list-right-1 {
width: 70%;
display: flex;
align-items: center;

}


.back {
    background-color: #FCFCFC;
}



.b4l-product-list-1 .b4l-product-list-right-1 p {
text-align: right;
color: #000000;
opacity: 0.4;  
font-size: 16px;
font-weight: 500;
margin-bottom: 0;
}
.display {
    display: flex;
    justify-content: flex-end;
}

.dot {

    font-size: 40px;
    color: #067906;
}

.dot1 {

    font-size: 40px;
    color: #333333;
}

        @media (min-width:1200px) {
            .container {
              max-width: 1200px !important;
            }
          }
          