<!-- <div class="container">
  <div class="row"> -->

<!-- <div class="b4l-dashboard">
      <p>Number of Applications – Analytics Dashboard</p>
      <select _ngcontent-njf-c118="" id="exampleFormControlSelect1" class="form-control">
        <option _ngcontent-njf-c118="">Today</option>
      </select>
    </div>
    <div class="row psb1">

      <div class="psb-xl-4 psb-lg-4 psb-md-4 psb-sm-4">
        <mat-card class="example-card">
          <div class="progress-spinner-ex">
            <mat-progress-spinner value="75" mode="determinate" [diameter]="250"></mat-progress-spinner>

            <div class="text-spinner">
              <p>2,425</p>
              <span>Total</span>

            </div>

          </div>


          <div class="card-text">
            <div class="card-txt-left">
              <p class="active">1,800</p>
              <span>Matched</span>

            </div>
            <div class="card-txt-left">
              <p>625</p>
              <span>Not matched</span>
            </div>

          </div>



        </mat-card>

      </div>
      <div class="psb-xl-4 psb-lg-4 psb-md-4 psb-sm-4">
        <mat-card class="example-card">
          <div class="progress-spinner-ex">
            <mat-progress-spinner value="60" mode="determinate" [diameter]="250"></mat-progress-spinner>

            <div class="text-spinner">
              <p>1,475</p>
              <span>Total</span>

            </div>

          </div>


          <div class="card-text">
            <div class="card-txt-left">
              <p class="active">403</p>
              <span>Loan Disbursed</span>

            </div>
            <div class="card-txt-left">
              <p>1,072</p>
              <span>Loan not availed</span>
            </div>

          </div>



        </mat-card>

      </div>


      <div class="psb-xl-4 psb-lg-4 psb-md-4 psb-sm-4">
        <mat-card class="example-card">
          <div class="progress-spinner-ex">
            <mat-progress-spinner value="95" mode="determinate" [diameter]="250"></mat-progress-spinner>

            <div class="text-spinner">
              <p>325</p>
              <span>Total</span>

            </div>

          </div>


          <div class="card-text">
            <div class="card-txt-left">
              <p class="active">292</p>
              <span>Pending</span>

            </div>
            <div class="card-txt-left">
              <p>33</p>
              <span>Failed</span>
            </div>

          </div>



        </mat-card>

      </div>


    </div>





    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Product Name </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Matched </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Loan Disbursed </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Loan not availed </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
 -->


<!-- <div class="b4l-dashboard b4l-dashboard-dash-tb"> -->
<!-- <div class="b4l-dashboard">
      <p>LSP Bridge Matrix</p>
    </div> -->

<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-tab-bt-0">
    
       
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Recent Requests Log </th>
            <td mat-cell *matCellDef="let element">e8cc6822bd4bbb4eblb9elb4996fbff8acb </td>
          </ng-container>
    
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="b4l-bold-cr"> Org. ID </th>
            <td mat-cell *matCellDef="let element"> KJ 58 </td>
          </ng-container>
    
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef class="b4l-bold-cr"> Request Date Time </th>
            <td mat-cell *matCellDef="right element"> 15 may 2020 12:12 PM <img class="b4l-tab-arrow"
                src="assets/img/b4l-down-arrow.svg" /> </td>
          </ng-container>
    
          <ng-container matColumnDef="symbol">
            <th *matHeaderCellDef> </th>
            <td *matCellDef="right element"> </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
    
        </table> -->
<!-- <div class="table-responsive">
          <table class="table">
            <thead>
                <tr>
                    <th scope="col">Recent Requests Log</th>
                    <th scope="col">Org. ID</th>
                    <th scope="col" class="right">Request Date Time</th>

                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let audit of audits">
                    <tr class="accordion-toggle collapsed" id="{{audit.id}}" data-toggle="collapse" [attr.href]="'#collapse_'+audit.id">
                        <td *ngIf="audit.isError" class="failed"><b>{{audit.requestId}} <img src="assets/img/failed-table.svg" /></b> </td>
                        <td *ngIf="!audit.isError" ><b>{{audit.requestId}}</b> </td>
                        <td>{{audit.orgId}}</td>
                        <td class="right" title="{{audit.createdDate}}" >{{audit.createdDate  | date:'dd MMM yyyy' }} {{audit.createdDate  | date:'shortTime' }} <img class="b4l-tab-arrow" src="assets/img/b4l-down-arrow.svg" /> </td>
                    </tr>
                    <tr class="hide-table-padding">
                        <td colspan="4" style="padding: 0 !important;">
                            <div id="collapse_{{audit.id}}" class="collapse in p-3">
                                <table class="table table-bordered table-padding">
                                    <thead>
                                        <tr>
                                            <th scope="col">Trace ID</th>
                                            <th scope="col">Source</th>
                                            <th scope="col">API Request Type</th>
                                            <th scope="col">Acknowledgement Status</th>
                                            <th scope="col">Ack Timestamp</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let ack of audit.ackAudits">
                                            <td> <p class="dark" [ngClass]="{failed : ack.error != '0'}">{{ack.requestId}}</p> </td>
                                            <td>{{ack.entity}}</td>
                                            <td>{{ack.type}}</td>
                                            <td *ngIf="ack.error != '0'" class="failed" > <img mat-raised-button matTooltip="{{ack.error}}" matTooltipPosition="above" src="assets/img/failed-table.svg" /> Failed</td>
                                            <td *ngIf="ack.error == '0'" >Success</td>
                                            <td title="{{ack.createdDate}}">{{ack.createdDate  | date:'dd MMM yyyy' }} {{ack.createdDate  | date:'shortTime' }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </ng-container>
                <ng-container *ngIf="audits.length === 0">
                  <p class="text-center">No records found.</p>
                </ng-container>
            </tbody>
        </table>
      </div>
    <div class=" mat-card-table">
      <p style="cursor: pointer;" routerLink="{{routeURL.BRIDGE_MATRIX}}" >View all 
        <a href="javascript:void(0)">  <img class="b4l-tab-arrow" src="assets/img/b4l-view-arrow.svg" /></a>
      </p>
    </div>

  </div>
</div> -->

<mat-card class="pd-0">
  <div class="container">

    <div class="dash-b4l-title">
      <p>Dashboard & Analytics</p>

      <div class="dashboard-date-report">
        <mat-form-field appearance="outline" class="mr-2">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <button mat-raised-button color="primary" class="btn"><img src="assets/img/download-white.svg"
            class="mr-2" />Download Report</button>

      </div>
    </div>


    <div class="dash-b4l-title">
      <div class="dashboard-details">

        <div class="detail-of-dash">
          <span>Total Applications</span>
          <h2>1000</h2>
          <p>₹ 20,00,000</p>
        </div>


        <div class="detail-of-dash">
          <span>Eligible Applications</span>
          <h2>500</h2>
          <p>₹ 5,00,000</p>
        </div>


        <div class="detail-of-dash">
          <span>Loan disbursed</span>
          <h2>300</h2>
          <p>₹ 3,00,000</p>
        </div>


        <div class="detail-of-dash">
          <span>Upcoming Collection</span>
          <h2>200</h2>
          <p>₹ 2,50,000</p>
        </div>


        <div class="detail-of-dash">
          <span>Total Revenue Collected</span>
          <h2>50</h2>
          <p>₹ 50,000</p>
        </div>
      </div>
    </div>

    <div class="b4l-height">
      <div class="container">
        <div class="b4l-product-title border-none">
          <ul class="product">
            <li><a [ngClass]="(tab.summary ? 'active' : '')" (click)="setTab('summary')" href="javaScript:void(0);">
                <p class="fs-18">Summary</p>
              </a> </li>
              <li><a [ngClass]="(tab.Proposal ? 'active' : '')" (click)="setTab('Proposal')" href="javaScript:void(0);">
                <p class="fs-18">Proposal Details</p>
              </a> </li>

              <li><a [ngClass]="(tab.Geographical ? 'active' : '')" (click)="setTab('Geographical')" href="javaScript:void(0);">
                <p class="fs-18">  Geographical Differentiation</p>
              </a> </li>

              <li><a [ngClass]="(tab.Monitoring ? 'active' : '')" (click)="setTab('Monitoring')" href="javaScript:void(0);">
                <p class="fs-18">  LSP Bridge Monitoring</p>
              </a> </li>



            
          </ul>
        </div>
      </div>
    </div>

  </div>
</mat-card>





<div class="container" *ngIf="tab.summary">

  <mat-card class="mt-4 mb-4">

    <div class="d-flex al-center js-between w-100 pd-30">
      <p><b>Overall Summary</b></p>

      <div class="d-flex al-center js-center w-30 dash-summary">
        <mat-form-field appearance="outline" class="mr-2">
          <mat-label>Favorite food</mat-label>
          <mat-select>
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="toggle-text-btn-dash w-100">
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="bold" checked>Application</mat-button-toggle>
            <mat-button-toggle value="italic">Amount</mat-button-toggle>
          </mat-button-toggle-group>
        </div>


      </div>
    </div>

    <div class="pd-4">
      <apx-chart class="apex-charts" [series]="StockAnalysisChart.series" [chart]="StockAnalysisChart.chart"
        [tooltip]="StockAnalysisChart.tooltip" [yaxis]="StockAnalysisChart.yaxis" [legend]="StockAnalysisChart.legend"
        [grid]="StockAnalysisChart.grid" [dataLabels]="StockAnalysisChart.dataLabels"
        [stroke]="StockAnalysisChart.stroke" [xaxis]="StockAnalysisChart.xaxis" [colors]="StockAnalysisChart.colors"
        [responsive]="StockAnalysisChart.responsive">
      </apx-chart>
    </div>




    <table class="table dash-table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Application Stage</th>
          <th scope="col">Total</th>
          <th scope="col">Success</th>
          <th scope="col">Failed</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>1.</td>
          <td>Applications Received</td>
          <td>1000 <br> <span>₹ 20,00,000</span></td>
          <td>800 <br><span>₹ 18,00,000</span></td>
          <td>200 <br><span>₹ 20,00,000</span></td>
        </tr>

        <tr>
          <td>2</td>
          <td>Offers Generated</td>
          <td>1000 <br> <span>₹ 20,00,000</span></td>
          <td>800 <br><span>₹ 18,00,000</span></td>
          <td>200 <br><span>₹ 20,00,000</span></td>
        </tr>


        <tr>
          <td>3</td>
          <td>Loans Disbursed</td>
          <td>50 <br> <span>₹ 35,000</span></td>
          <td>50 <br> <span>₹ 50,000</span></td>
          <td>- <br><span>-</span></td>
        </tr>


        <tr>
          <td>4</td>
          <td>Loans Collected</td>
          <td>1000 <br> <span>₹ 20,00,000</span></td>
          <td>800 <br><span>₹ 18,00,000</span></td>
          <td>200 <br><span>₹ 20,00,000</span></td>
        </tr>


        <tr>
          <td>5</td>
          <td>Loans Overdue</td>
          <td>200 <br> <span>₹ 2,50,000</span></td>
          <td>165 <br> <span>₹ 1,90,000</span></td>
          <td>- <br><span>-</span></td>
        </tr>

        <tr>
          <td>6</td>
          <td>Revenue Earned</td>
          <td>50 <br> <span>₹ 35,000</span></td>
          <td>50 <br> <span>₹ 50,000</span></td>
          <td>- <br><span>-</span></td>
        </tr>


        <tr>
          <td>7</td>
          <td>Total Principle Collected</td>
          <td>50 <br> <span>₹ 35,000</span></td>
          <td>50 <br> <span>₹ 35,000</span></td>
          <td>- <br><span>-</span></td>
        </tr>

        <tr>
          <td>8</td>
          <td>Disputes Raised (via App)</td>
          <td>10 <br> <span>₹ 10,000</span></td>
          <td>- <br><span>-</span></td>
          <td>10 <br> <span>₹ 10,000</span></td>
        </tr>

      </tbody>
    </table>
  </mat-card>

  <div class="row mb-4">
    <div class="psb-lg-6 psb-xl-6 psb-md-6 psb-sm-12 psb-xs-12">
      <mat-card class="d-flex al-center js-between w-100">
        <div class="w-55">
          <h2>Type of Application</h2>
          <apx-chart class="w-55" [series]="totalUsersPieChart.series" [chart]="totalUsersPieChart"
            [colors]="totalUsersPieChart.colors" [labels]="totalUsersPieChart.labels"
            [dataLabels]="totalUsersPieChart.dataLabels" [tooltip]="totalUsersPieChart.tooltip"
            [legend]="totalUsersPieChart.legend" [plotOptions]="totalUsersPieChart.option"
            [grid]="totalUsersPieChart.grid">
          </apx-chart>
        </div>
        <div class="legend-abs">
          <div class="d-flex al-center js-between w-100 blue-legend">
            <div class="circle-blue-legend mr-2"></div>
            <p>Existing Bank Customer <span class="ml-4">800</span></p>
          </div>
          <div class="d-flex al-center js-between w-100 blue-legend">
            <div class="circle-blue-light-legend mr-2"></div>
            <p>New to Bank Customer <span class="ml-4">200</span></p>
          </div>
        </div>
      </mat-card>
    </div>


    <div class="psb-lg-6 psb-xl-6 psb-md-6 psb-sm-12 psb-xs-12">
      <mat-card class="d-flex al-center js-between w-100">
        <div class="w-55">
          <h2>Applicant Credit History</h2>
          <apx-chart class="w-55" [series]="b4ltotalUsersPieChart.series" [chart]="b4ltotalUsersPieChart"
            [colors]="b4ltotalUsersPieChart.colors" [labels]="b4ltotalUsersPieChart.labels"
            [dataLabels]="b4ltotalUsersPieChart.dataLabels" [tooltip]="b4ltotalUsersPieChart.tooltip"
            [legend]="b4ltotalUsersPieChart.legend" [plotOptions]="b4ltotalUsersPieChart.option"
            [grid]="b4ltotalUsersPieChart.grid">
          </apx-chart>
        </div>
        <div class="legend-abs">
          <div class="d-flex al-center js-between w-100 blue-legend">
            <div class="circle-blue-legend mr-2"></div>
            <p>New to Credit Applications <span class="ml-4">900</span></p>
          </div>
          <div class="d-flex al-center js-between w-100 blue-legend">
            <div class="circle-blue-light-legend mr-2"></div>
            <p>Existing to Credit Applications <span class="ml-4">300</span></p>
          </div>
        </div>
      </mat-card>
    </div>

  </div>

  <div class="row mb-4">
    <div class="psb-lg-6 psb-xl-6 psb-md-6 psb-sm-12 psb-xs-12">
      <mat-card class="d-flex al-center js-between w-100">
        <div class="w-55">
          <h2>Disbursement Account</h2>
          <apx-chart class="w-55" [series]="b4lnewtotalUsersPieChart.series" [chart]="b4lnewtotalUsersPieChart"
            [colors]="b4lnewtotalUsersPieChart.colors" [labels]="b4lnewtotalUsersPieChart.labels"
            [dataLabels]="b4lnewtotalUsersPieChart.dataLabels" [tooltip]="b4lnewtotalUsersPieChart.tooltip"
            [legend]="b4lnewtotalUsersPieChart.legend" [plotOptions]="b4lnewtotalUsersPieChart.option"
            [grid]="b4lnewtotalUsersPieChart.grid">
          </apx-chart>
        </div>
        <div class="legend-abs">
          <div class="d-flex al-center js-between w-100 blue-legend">
            <div class="circle-blue-legend mr-2"></div>
            <p>Saving Account <span class="ml-4">900</span></p>
          </div>
          <div class="d-flex al-center js-between w-100 blue-legend">
            <div class="circle-blue-legend mr-2"></div>
            <p>OD/CC Account <span class="ml-4">900</span></p>
          </div>
          <div class="d-flex al-center js-between w-100 blue-legend">
            <div class="circle-blue-light-legend mr-2"></div>
            <p>Current Account <span class="ml-4">300</span></p>
          </div>
        </div>
      </mat-card>
    </div>


    <div class="psb-lg-6 psb-xl-6 psb-md-6 psb-sm-12 psb-xs-12">
      <mat-card>
        <div class="w-55">
          <h2>Average ROI & Tenure </h2>
        </div>
        <div class="roi-ave-b4l">
          <div class="roi-content-b4l">
            <img src="assets/img/Avg-ROI.svg" />
            <span>Average ROI</span>
            <h2>7.5%</h2>          
       <div class="apex-charts-1">
            <apx-chart class="apex-charts" [series]="b4lbasicBarChart.series" [chart]="b4lbasicBarChart.chart"
            [tooltip]="b4lbasicBarChart.tooltip" [yaxis]="b4lbasicBarChart.yaxis" [legend]="b4lbasicBarChart.legend"
            [grid]="b4lbasicBarChart.grid" [dataLabels]="b4lbasicBarChart.dataLabels"
            [stroke]="b4lbasicBarChart.stroke" [xaxis]="b4lbasicBarChart.xaxis" [colors]="b4lbasicBarChart.colors"
            [responsive]="b4lbasicBarChart.responsive">
          </apx-chart>
      
          <div class="details">
<span>6%</span>
<span>18%</span>
          </div>
        </div>

          </div>

          <div class="roi-content-b4l">
            <img src="assets/img/Avg-Tenure.svg" />
            <span>Average Tenure</span>
            <h2>45 Days</h2>
            <div class="apex-charts-1">
              <apx-chart class="apex-charts" [series]="b4lbasicBarChart.series" [chart]="b4lbasicBarChart.chart"
              [tooltip]="b4lbasicBarChart.tooltip" [yaxis]="b4lbasicBarChart.yaxis" [legend]="b4lbasicBarChart.legend"
              [grid]="b4lbasicBarChart.grid" [dataLabels]="b4lbasicBarChart.dataLabels"
              [stroke]="b4lbasicBarChart.stroke" [xaxis]="b4lbasicBarChart.xaxis" [colors]="b4lbasicBarChart.colors"
              [responsive]="b4lbasicBarChart.responsive">
            </apx-chart>
        
            <div class="details">
  <span>12</span>
  <span>60</span>
            </div>
          </div>
          </div>
        </div>



      </mat-card>
    </div>

  </div>

</div>


<div class="container" *ngIf="tab.Proposal">

  <mat-card class="mt-4 mb-4">

    <div class="d-flex al-center js-between w-100 pd-30">
      <p><b>Collection Status</b></p>

      <div class="d-flex al-center js-center w-30 dash-summary">
        <mat-form-field appearance="outline" class="mr-2">
          <mat-label>All Products</mat-label>
          <mat-select>
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="toggle-text-btn-dash w-100">
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="bold" checked>Application</mat-button-toggle>
            <mat-button-toggle value="italic">Amount</mat-button-toggle>
          </mat-button-toggle-group>
        </div>


      </div>
    </div>

    <div class="pd-4">
      <apx-chart class="apex-charts" [series]="StockAnalysisChart.series" [chart]="StockAnalysisChart.chart"
        [tooltip]="StockAnalysisChart.tooltip" [yaxis]="StockAnalysisChart.yaxis" [legend]="StockAnalysisChart.legend"
        [grid]="StockAnalysisChart.grid" [dataLabels]="StockAnalysisChart.dataLabels"
        [stroke]="StockAnalysisChart.stroke" [xaxis]="StockAnalysisChart.xaxis" [colors]="StockAnalysisChart.colors"
        [responsive]="StockAnalysisChart.responsive">
      </apx-chart>
    </div>

  </mat-card>

  <div class="row mb-4">
    <div class="psb-lg-6 psb-xl-6 psb-md-6 psb-sm-12 psb-xs-12">
      <mat-card class="d-flex al-center js-between w-100">
        <div class="w-55">
          <h2>Proposal Distribution</h2>
          <apx-chart class="w-55" [series]="b4lnewtotalUsersPieChart.series" [chart]="b4lnewtotalUsersPieChart"
            [colors]="b4lnewtotalUsersPieChart.colors" [labels]="b4lnewtotalUsersPieChart.labels"
            [dataLabels]="b4lnewtotalUsersPieChart.dataLabels" [tooltip]="b4lnewtotalUsersPieChart.tooltip"
            [legend]="b4lnewtotalUsersPieChart.legend" [plotOptions]="b4lnewtotalUsersPieChart.option"
            [grid]="b4lnewtotalUsersPieChart.grid">
          </apx-chart>
        </div>
        <div class="legend-abs">
          <div class="d-flex al-center js-between w-100 blue-legend">
            <div class="circle-blue-legend mr-2"></div>
            <p>Saving Account <span class="ml-4">900</span></p>
          </div>
          <div class="d-flex al-center js-between w-100 blue-legend">
            <div class="circle-blue-legend mr-2"></div>
            <p>OD/CC Account <span class="ml-4">900</span></p>
          </div>
          <div class="d-flex al-center js-between w-100 blue-legend">
            <div class="circle-blue-light-legend mr-2"></div>
            <p>Current Account <span class="ml-4">300</span></p>
          </div>
        </div>
      </mat-card>
    </div>


    <div class="psb-lg-6 psb-xl-6 psb-md-6 psb-sm-12 psb-xs-12">
      <mat-card class="d-flex al-center js-between w-100">
        <div class="w-55">
          <h2>SMA Distribution</h2>
          <apx-chart class="w-55" [series]="b4lnew4totalUsersPieChart.series" [chart]="b4lnew4totalUsersPieChart"
            [colors]="b4lnew4totalUsersPieChart.colors" [labels]="b4lnew4totalUsersPieChart.labels"
            [dataLabels]="b4lnew4totalUsersPieChart.dataLabels" [tooltip]="b4lnew4totalUsersPieChart.tooltip"
            [legend]="b4lnew4totalUsersPieChart.legend" [plotOptions]="b4lnew4totalUsersPieChart.option"
            [grid]="b4lnew4totalUsersPieChart.grid">
          </apx-chart>
        </div>
        <div class="legend-abs">
          <div class="d-flex al-center js-between w-100 blue-legend">
            <div class="circle-blue-legend mr-2"></div>
            <p>SMA 0 <span class="ml-4">40</span></p>
          </div>
          <div class="d-flex al-center js-between w-100 blue-legend">
            <div class="circle-blue-legend mr-2"></div>
            <p>SMA 1 <span class="ml-4">50</span></p>
          </div>
          <div class="d-flex al-center js-between w-100 blue-legend">
            <div class="circle-blue-light-legend mr-2"></div>
            <p>SMA 2 <span class="ml-4">100</span></p>
          </div>
            <div class="d-flex al-center js-between w-100 blue-legend">
            <div class="circle-blue-light-legend mr-2"></div>
            <p>SMA 3 (NPA) <span class="ml-4">30</span></p>
          </div>
        </div>
      </mat-card>
    </div>

  </div>

  <div class="row mb-4">
    <div class="psb-lg-6 psb-xl-6 psb-md-6 psb-sm-12 psb-xs-12">
      <mat-card>
        <div class="w-55">
          <h2>Invoice Value Range & Average Period</h2>
        </div>
        <div class="roi-ave-b4l">
          <div class="roi-content-b4l">
            <img src="assets/img/rs.svg" />
            <span>Invoice Value Range</span>
            <h2>₹ 7.5 lacs</h2>          
       <div class="apex-charts-1">
            <apx-chart class="apex-charts" [series]="b4lbasicBarChart.series" [chart]="b4lbasicBarChart.chart"
            [tooltip]="b4lbasicBarChart.tooltip" [yaxis]="b4lbasicBarChart.yaxis" [legend]="b4lbasicBarChart.legend"
            [grid]="b4lbasicBarChart.grid" [dataLabels]="b4lbasicBarChart.dataLabels"
            [stroke]="b4lbasicBarChart.stroke" [xaxis]="b4lbasicBarChart.xaxis" [colors]="b4lbasicBarChart.colors"
            [responsive]="b4lbasicBarChart.responsive">
          </apx-chart>
      
          <div class="details">
            <span>₹ 3.5 Lacs</span>
            <span>₹ 15 Lacs</span>
          </div>
        </div>

          </div>

          <div class="roi-content-b4l">
            <img src="assets/img/Avg-Tenure.svg" />
            <span>Invoice Average Period</span>
            <h2>45 Days</h2>
            <div class="apex-charts-1">
              <apx-chart class="apex-charts" [series]="b4lbasicBarChart.series" [chart]="b4lbasicBarChart.chart"
              [tooltip]="b4lbasicBarChart.tooltip" [yaxis]="b4lbasicBarChart.yaxis" [legend]="b4lbasicBarChart.legend"
              [grid]="b4lbasicBarChart.grid" [dataLabels]="b4lbasicBarChart.dataLabels"
              [stroke]="b4lbasicBarChart.stroke" [xaxis]="b4lbasicBarChart.xaxis" [colors]="b4lbasicBarChart.colors"
              [responsive]="b4lbasicBarChart.responsive">
            </apx-chart>
        
            <div class="details">
  <span>15 Days</span>
  <span>60 Days</span>
            </div>
          </div>
          </div>
        </div>



      </mat-card>
    </div>


    <div class="psb-lg-6 psb-xl-6 psb-md-6 psb-sm-12 psb-xs-12">
      <mat-card>
        <div class="w-55">
          <h2>MSME Rank & Bureau Score</h2>
        </div>
        <div class="roi-ave-b4l">
          <div class="roi-content-b4l">
            <img src="assets/img/MSME-Rank.svg" />
            <span>MSME Rank</span>
            <h2>6</h2>          
       <div class="apex-charts-1">
            <apx-chart class="apex-charts" [series]="b4lbasicBarChart.series" [chart]="b4lbasicBarChart.chart"
            [tooltip]="b4lbasicBarChart.tooltip" [yaxis]="b4lbasicBarChart.yaxis" [legend]="b4lbasicBarChart.legend"
            [grid]="b4lbasicBarChart.grid" [dataLabels]="b4lbasicBarChart.dataLabels"
            [stroke]="b4lbasicBarChart.stroke" [xaxis]="b4lbasicBarChart.xaxis" [colors]="b4lbasicBarChart.colors"
            [responsive]="b4lbasicBarChart.responsive">
          </apx-chart>
      
          <div class="details">
<span>3</span>
<span>9</span>
          </div>
        </div>

          </div>

          <div class="roi-content-b4l">
            <img src="assets/img/Bureau-Score.svg" />
            <span>Bureau Score</span>
            <h2>625</h2>
            <div class="apex-charts-1">
              <apx-chart class="apex-charts" [series]="b4lbasicBarChart.series" [chart]="b4lbasicBarChart.chart"
              [tooltip]="b4lbasicBarChart.tooltip" [yaxis]="b4lbasicBarChart.yaxis" [legend]="b4lbasicBarChart.legend"
              [grid]="b4lbasicBarChart.grid" [dataLabels]="b4lbasicBarChart.dataLabels"
              [stroke]="b4lbasicBarChart.stroke" [xaxis]="b4lbasicBarChart.xaxis" [colors]="b4lbasicBarChart.colors"
              [responsive]="b4lbasicBarChart.responsive">
            </apx-chart>
        
            <div class="details">
  <span>378</span>
  <span>798</span>
            </div>
          </div>
          </div>
        </div>



      </mat-card>
    </div>

  </div>


  <div class="row mb-4">
    <div class="psb-lg-3 psb-xl-3 psb-md-6 psb-sm-12 psb-xs-12">
      <mat-card>
        <div>
          <h2>GST Turnover (Annual)</h2>
        </div>
        <div class="roi-ave-b4l">
          <div class="roi-content-b4l w-100">
            <img src="assets/img/rs.svg" />
            <span>Average GST Turnover</span>
            <h2>₹ 75 lacs</h2>          
       <div class="apex-charts-1">
            <apx-chart class="apex-charts" [series]="b4lbasicBarChart.series" [chart]="b4lbasicBarChart.chart"
            [tooltip]="b4lbasicBarChart.tooltip" [yaxis]="b4lbasicBarChart.yaxis" [legend]="b4lbasicBarChart.legend"
            [grid]="b4lbasicBarChart.grid" [dataLabels]="b4lbasicBarChart.dataLabels"
            [stroke]="b4lbasicBarChart.stroke" [xaxis]="b4lbasicBarChart.xaxis" [colors]="b4lbasicBarChart.colors"
            [responsive]="b4lbasicBarChart.responsive">
          </apx-chart>
      
          <div class="details">
            <span>₹ 5 lacs</span>
            <span>₹ 5 Cr.</span>
          </div>
        </div>

          </div>         
        </div>
      </mat-card>
    </div>


    <div class="psb-lg-9 psb-xl-9 psb-md-6 psb-sm-12 psb-xs-12">
      <mat-card>

        <div class="d-flex al-center js-between w-100 pd-30">
          <p><b>Constitution</b></p>
    
          <div class="d-flex al-center js-center w-50 dash-summary">
            <mat-form-field appearance="outline" class="mr-2">
              <mat-label>All Products</mat-label>
              <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
    
            <div class="toggle-text-btn-dash w-100">
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="bold" checked>Application</mat-button-toggle>
                <mat-button-toggle value="italic">Amount</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
    
    
          </div>
        </div>
    
        <div class="pd-4">
          <apx-chart class="apex-charts" [series]="b4lStockAnalysisChart.series" [chart]="b4lStockAnalysisChart.chart"
            [tooltip]="b4lStockAnalysisChart.tooltip" [yaxis]="b4lStockAnalysisChart.yaxis" [legend]="b4lStockAnalysisChart.legend"
            [grid]="b4lStockAnalysisChart.grid" [dataLabels]="b4lStockAnalysisChart.dataLabels"
            [stroke]="b4lStockAnalysisChart.stroke" [xaxis]="b4lStockAnalysisChart.xaxis" [colors]="b4lStockAnalysisChart.colors"
            [responsive]="b4lStockAnalysisChart.responsive">
          </apx-chart>
        </div>
    
      </mat-card>
    </div>

  </div>

</div>

<div class="container" *ngIf="tab.Monitoring">
  <mat-card class="dash-b4l-title dash-b4l-monitoring mt-4 mb-4">
    <div class="d-flex al-center js-between w-100 pd-30">
      <p><b>API ping analysis</b></p>
    </div>
    <div class="dashboard-details">
      <div class="detail-of-dash">
        <div class="icon-img"><img src="assets/img/Total-Request-ID.svg"></div>
        <span>Total Request ID  <img src="assets/img/info.svg" matTooltip="Total Request ID"/></span>
        <h2>5,000</h2>
      </div>


      <div class="detail-of-dash">
        <div class="icon-img"><img src="assets/img/Successful-Pings.svg"></div>
        <span>Successful Pings</span>
        <h2>4,360</h2>
        <p>86.4%</p>
      </div>


      <div class="detail-of-dash">
        <div class="icon-img"><img src="assets/img/Failure-Pings.svg"></div>
        <span>Failure Pings</span>
        <h2>640</h2>
        <p>13.6%</p>
      </div>


      <div class="detail-of-dash">
        <div class="icon-img"><img src="assets/img/Unique-Users.svg"></div>
        <span>Unique Users</span>
        <h2>1000</h2>
        <p>20%</p>
      </div>
    </div>
  </mat-card>
  <mat-card class="mt-4 mb-4">

    <div class="d-flex al-center js-between w-100 pd-30">
      <p><b>API vs Pings</b></p>

      <div class="d-flex al-center js-center w-40 dash-summary">
        <mat-form-field appearance="outline" class="mr-2">
          <mat-label>All</mat-label>
          <mat-select>
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="pd-4">
      <apx-chart class="apex-charts" [series]="b4lPingsChart.series" [chart]="b4lPingsChart.chart"
        [tooltip]="b4lPingsChart.tooltip" [yaxis]="b4lPingsChart.yaxis" [legend]="b4lPingsChart.legend"
        [grid]="b4lPingsChart.grid" [dataLabels]="b4lPingsChart.dataLabels"
        [stroke]="b4lPingsChart.stroke" [xaxis]="b4lPingsChart.xaxis" [colors]="b4lPingsChart.colors"
        [responsive]="b4lPingsChart.responsive">
      </apx-chart>
    </div>
    <table class="table dash-table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">API Name</th>
          <th scope="col">Total Pings</th>
          <th scope="col">Successful Pings</th>
          <th scope="col">Failed Pings</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>1.</td>
          <td>Applications Received</td>
          <td>1000 <br> <span>₹ 20,00,000</span></td>
          <td>800 <br><span>₹ 18,00,000</span></td>
          <td>200 <br><span>₹ 20,00,000</span></td>
        </tr>

        <tr>
          <td>2</td>
          <td>Offers Generated</td>
          <td>1000 <br> <span>₹ 20,00,000</span></td>
          <td>800 <br><span>₹ 18,00,000</span></td>
          <td>200 <br><span>₹ 20,00,000</span></td>
        </tr>


        <tr>
          <td>3</td>
          <td>Loans Disbursed</td>
          <td>50 <br> <span>₹ 35,000</span></td>
          <td>50 <br> <span>₹ 50,000</span></td>
          <td>- <br><span>-</span></td>
        </tr>


        <tr>
          <td>4</td>
          <td>Loans Collected</td>
          <td>1000 <br> <span>₹ 20,00,000</span></td>
          <td>800 <br><span>₹ 18,00,000</span></td>
          <td>200 <br><span>₹ 20,00,000</span></td>
        </tr>


        <tr>
          <td>5</td>
          <td>Loans Overdue</td>
          <td>200 <br> <span>₹ 2,50,000</span></td>
          <td>165 <br> <span>₹ 1,90,000</span></td>
          <td>- <br><span>-</span></td>
        </tr>

        <tr>
          <td>6</td>
          <td>Revenue Earned</td>
          <td>50 <br> <span>₹ 35,000</span></td>
          <td>50 <br> <span>₹ 50,000</span></td>
          <td>- <br><span>-</span></td>
        </tr>


        <tr>
          <td>7</td>
          <td>Total Principle Collected</td>
          <td>50 <br> <span>₹ 35,000</span></td>
          <td>50 <br> <span>₹ 35,000</span></td>
          <td>- <br><span>-</span></td>
        </tr>

        <tr>
          <td>8</td>
          <td>Disputes Raised (via App)</td>
          <td>10 <br> <span>₹ 10,000</span></td>
          <td>- <br><span>-</span></td>
          <td>10 <br> <span>₹ 10,000</span></td>
        </tr>

      </tbody>
    </table>

  </mat-card>
  <mat-card class="mt-4 mb-4">
    <div class="d-flex al-center js-between w-100 pd-30">
      <p><b>Successful Pings vs Failed Pings</b></p>
    </div>
    <apx-chart class="apex-charts" [series]="stackedAreaChart.series" [chart]="stackedAreaChart.chart"
    [tooltip]="stackedAreaChart.tooltip" [yaxis]="stackedAreaChart.yaxis" [legend]="stackedAreaChart.legend"
    [grid]="stackedAreaChart.grid" [dataLabels]="stackedAreaChart.dataLabels"
    [stroke]="stackedAreaChart.stroke" [xaxis]="stackedAreaChart.xaxis" [colors]="stackedAreaChart.colors"
    [responsive]="stackedAreaChart.responsive">
  </apx-chart>
  </mat-card>

  <mat-card class="mt-4 mb-4">
    <div class="d-flex al-center js-between w-100 pd-30">
      <p><b>API vs Response Time</b></p>
    </div>
    <apx-chart class="apex-charts" [series]="b4lResponseTime.series" [chart]="b4lResponseTime.chart"
    [tooltip]="b4lResponseTime.tooltip" [yaxis]="b4lResponseTime.yaxis" [legend]="b4lResponseTime.legend"
    [grid]="b4lResponseTime.grid" [dataLabels]="b4lResponseTime.dataLabels"
    [stroke]="b4lResponseTime.stroke" [xaxis]="b4lResponseTime.xaxis" [colors]="b4lResponseTime.colors"
    [responsive]="b4lResponseTime.responsive">
  </apx-chart>
  </mat-card>

  <mat-card class="mt-4 mb-4">
    <div class="d-flex al-center js-between w-100 pd-30">
      <p><b>LSP Bridge API Logs</b></p>
      <div class="d-flex al-center js-center w-40 dash-summary mb-4">
        <mat-form-field appearance="outline" class="mr-2">
          <mat-label>All</mat-label>
          <mat-select>
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="toggle-text-btn-dash w-100">
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            </mat-button-toggle-group>
        </div>
      </div>
    </div>
    <table class="table dash-table dash-table-brige">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Request ID</th>
          <th scope="col">Borrower Name</th>
          <th scope="col">API Name</th>
          <th scope="col">Success/Failure</th>
          <th scope="col">Request Date/Time</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>1.</td>
          <td>e8cc6822bd4bbb4eblb9el</td>
          <td>Mani Sharma</td>
          <td>Create Loan Applications<br><span>Request</span></td>
          <td class="sucess">Success</td>
          <td>15 may 2020 12:12 PM</td>
          <td class="open-down-table up-arrow"><a  href="javaScript:void(0);"><img src="assets/img/down-gray-arrow.svg"></a>
          </td>
        </tr>
      
        <tr>
          <td colspan="8">
            <mat-card class="mt-4 mb-4 down-arrow opentable">
            <table class="table dash-table dash-table-brige">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Trace ID</th>
                  <th scope="col">Source</th>
                  <th scope="col">API Request Type</th>
                  <th scope="col">Status</th>
                  <th scope="col">Ack Timestamp</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1.</td>
                  <td class="failed">e8cc6822bd4bbb4eblb9el</td>
                  <td><span>LSP</span></td>
                  <td><span>CreateLoanAppRequest</span></td>
                  <td class="failed">Success</td>
                  <td><span>06 may 2020 1:45 PM</span></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>e8cc6822bd4bbb4eblb9el</td>
                  <td><span>LSP</span></td>
                  <td><span>CreateLoanAppRequest</span></td>
                  <td class="sucess">Success</td>
                  <td><span>06 may 2020 1:45 PM</span></td>
                 </tr>
                 <tr>
                  <td>3</td>
                  <td>e8cc6822bd4bbb4eblb9el</td>
                  <td><span>LSP</span></td>
                  <td><span>CreateLoanAppRequest</span></td>
                  <td class="sucess">Success</td>
                  <td><span>06 may 2020 1:45 PM</span></td>
                 </tr>
                 <tr>
                  <td>4</td>
                  <td>e8cc6822bd4bbb4eblb9el</td>
                  <td><span>LSP</span></td>
                  <td><span>CreateLoanAppRequest</span></td>
                  <td class="sucess">Success</td>
                  <td><span>06 may 2020 1:45 PM</span></td>
                 </tr>
                 <tr>
                  <td>5</td>
                  <td>e8cc6822bd4bbb4eblb9el</td>
                  <td><span>LSP</span></td>
                  <td><span>CreateLoanAppRequest</span></td>
                  <td class="sucess">Success</td>
                  <td><span>06 may 2020 1:45 PM</span></td>
                 </tr>
              </tbody>
            </table>
          </mat-card>
          </td>
        </tr>

        <tr>
          <td>2</td>
          <td>e8cc6822bd4bbb4eblb9el</td>
          <td>Mani Sharma</td>
          <td>Create Loan Applications <br><span>Request</span></td>
          <td class="sucess">Success</td>
          <td>15 may 2020 12:12 PM</td>
          <td class="open-down-table"><a  href="javaScript:void(0);"><img src="assets/img/down-gray-arrow.svg"></a></td>
        </tr>


        <tr>
          <td>3</td>
          <td>e8cc6822bd4bbb4eblb9el</td>
          <td>Mani Sharma</td>
          <td>Create Loan Applications <br> <span>Request</span></td>
          <td class="sucess">Success</td>
          <td>15 may 2020 12:12 PM</td>
          <td class="open-down-table"><a  href="javaScript:void(0);"><img src="assets/img/down-gray-arrow.svg"></a></td>
        </tr>


        <tr>
          <td>4</td>
          <td>e8cc6822bd4bbb4eblb9el</td>
          <td>Mani Sharma</td>
          <td>Create Loan Applications <br><span>Request</span></td>
          <td class="sucess">Success</td>
          <td>15 may 2020 12:12 PM</td>
          <td class="open-down-table"><a  href="javaScript:void(0);"><img src="assets/img/down-gray-arrow.svg"></a></td>
        </tr>


        <tr>
          <td>5</td>
          <td>e8cc6822bd4bbb4eblb9el</td>
          <td>Mani Sharma</td>
          <td>Create Loan Applications <br> <span>Request</span></td>
          <td class="sucess">Success</td>
          <td>15 may 2020 12:12 PM</td>
          <td class="open-down-table"><a  href="javaScript:void(0);"><img src="assets/img/down-gray-arrow.svg"></a></td>
        </tr>

        <tr>
          <td>6</td>
          <td>e8cc6822bd4bbb4eblb9el</td>
          <td>Mani Sharma</td>
          <td>Create Loan Applications <br> <span>Request</span></td>
          <td>Failed</td>
          <td>15 may 2020 12:12 PM</td>
          <td class="open-down-table"><a  href="javaScript:void(0);"><img src="assets/img/down-gray-arrow.svg"></a></td>
        </tr>


        <tr>
          <td>7</td>
          <td>e8cc6822bd4bbb4eblb9el</td>
          <td>Mani Sharma</td>
          <td>Create Loan Applications <br> <span>Request</span></td>
          <td class="sucess">Success</td>
          <td>15 may 2020 12:12 PM</td>
          <td class="open-down-table"><a  href="javaScript:void(0);"><img src="assets/img/down-gray-arrow.svg"></a></td>
        </tr>

        <tr>
          <td>8</td>
          <td>e8cc6822bd4bbb4eblb9el</td>
          <td>Mani Sharma</td>
          <td>Create Loan Applications <br><span>Request</span></td>
          <td class="sucess">Success</td>
          <td>15 may 2020 12:12 PM</td>
          <td class="open-down-table"><a  href="javaScript:void(0);"><img src="assets/img/down-gray-arrow.svg"></a></td>
        </tr>

      </tbody>
    </table>
  </mat-card>

</div>

<div class="container" *ngIf="tab.Geographical">

<mat-card class="mt-4 mb-4">
  <div class="d-flex al-center js-between w-100">
    <p><b>Geographical Differentiation</b></p>
    <mat-form-field appearance="outline">
      <mat-label>All</mat-label>
      <mat-select [(value)]="selected">
      
        <mat-option value="option0">None</mat-option>
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2">Option 2</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>
    </div>
  <div class="row">
    <div class="psb-lg-6 psb-xl-6 psb-md-6 psb-sm-12 psb-xs-12">
     
        <highcharts-chart id="container" [Highcharts]="Highcharts" [constructorType]="chartConstructor"
                [options]="chartOptions">
              </highcharts-chart>

     
    </div>


    <div class="psb-lg-6 psb-xl-6 psb-md-6 psb-sm-12 psb-xs-12">
    
       
        <table class="table1 dash-table1">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">State <img src="assets/img/b4l-arrow.svg"/></th>
              <th scope="col">Applications <img src="assets/img/b4l-arrow.svg"/></th>
              <th scope="col">Amount <img src="assets/img/b4l-arrow.svg"/></th>
              <th scope="col">Applications (%) <img src="assets/img/b4l-arrow.svg"/></th>
            </tr>
          </thead>
          <tbody>
    
            <tr>
              <td>1.</td>
              <td><a>Andhra Pradesh</a></td>
              <td>100</td>
              <td>₹ 2,00,000</td>
              <td>10% <img src="assets/img/info.svg" matTooltip="Total Number of Applications"/></td>
            </tr>
    
            <tr>
              <td>2</td>
              <td><a>Arunachal Pradesh</a></td>
              <td>100</td>
              <td>₹ 2,00,000</td>
              <td>10% <img src="assets/img/info.svg" matTooltip="Total Number of Applications"/></td>
            </tr>
    
    
            <tr>
              <td>3</td>
              <td><a>Assam</a></td>
              <td>100</td>
              <td>₹ 2,00,000</td>
              <td>10% <img src="assets/img/info.svg" matTooltip="Total Number of Applications"/></td>
            </tr>
    
    
            <tr>
              <td>4</td>
              <td><a>Bihar</a></td>
              <td>100</td>
              <td>₹ 1,00,000</td>
              <td>10% <img src="assets/img/info.svg" matTooltip="Total Number of Applications"/></td>
            </tr>
    
    
            <tr>
              <td>5</td>
              <td><a>Chhattisgarh</a></td>
              <td>100</td>
              <td>₹ 2,00,000</td>
              <td>10% <img src="assets/img/info.svg" matTooltip="Total Number of Applications"/></td>
            </tr>
    
            <tr>
              <td>6</td>
              <td><a>Goa</a></td>
              <td>70</td>
              <td>₹ 1,00,000</td>
              <td>10% <img src="assets/img/info.svg"  matTooltip="Total Number of Applications"/></td>
            </tr>
    
    
            <tr>
              <td>7</td>
              <td><a>Gujarat</a></td>
              <td>70</td>
              <td>₹ 1,00,000</td>
              <td>10% <img src="assets/img/info.svg"  matTooltip="Total Number of Applications"/></td>
            </tr>
    
            <tr>
              <td>8</td>
              <td><a>Haryana</a></td>
              <td>50</td>
              <td>₹ 50,000</td>
              <td>10% <img src="assets/img/info.svg"  matTooltip="Total Number of Applications"/></td>
            </tr>

            <tr>
              <td>9</td>
              <td><a>Himachal Pradesh</a></td>
              <td>50</td>
              <td>₹ 50,000</td>
              <td>6% <img src="assets/img/info.svg"  matTooltip="Total Number of Applications"/></td>
            </tr>

            <tr>
              <td>10</td>
              <td><a>Jharkhand</a></td>
              <td>50</td>
              <td>₹ 50,000</td>
              <td>5% <img src="assets/img/info.svg"  matTooltip="Total Number of Applications"/></td>
            </tr>

            <tr>
              <td>11</td>
              <td><a>Karnataka</a></td>
              <td>50</td>
              <td>₹ 50,000</td>
              <td>5% <img src="assets/img/info.svg"  matTooltip="Total Number of Applications"/></td>
            </tr>

            <tr>
              <td>12</td>
              <td><a>Kerala</a></td>
              <td>50</td>
              <td>₹ 50,000</td>
              <td>5% <img src="assets/img/info.svg"  matTooltip="Total Number of Applications"/></td>
            </tr>

            <tr>
              <td>13</td>
              <td><a>Madhya Pradesh</a></td>
              <td>50</td>
              <td>₹ 25,000</td>
              <td>5% <img src="assets/img/info.svg"  matTooltip="Total Number of Applications"/></td>
            </tr>

            <tr>
              <td>14</td>
              <td><a>Maharashtra</a></td>
              <td>50</td>
              <td>₹ 25,000</td>
              <td>5% <img src="assets/img/info.svg"  matTooltip="Total Number of Applications"/></td>
            </tr>

    
          </tbody>
        </table>
   
    </div>

  </div>
</mat-card>




<mat-card class="mt-4 mb-4">
<div class="row">

<div class="psb-lg-12 psb-xl-12 psb-md-12 psb-sm-12 psb-xs-12">
  <div class="d-flex al-center js-between w-100">
    <p><b>Top 5 Branches</b></p>
    <mat-form-field appearance="outline">
      <mat-label>All</mat-label>
      <mat-select [(value)]="selected">
      
        <mat-option value="option0">None</mat-option>
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2">Option 2</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>
    </div>



  <table class="table2 dash-table2 w-100">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Branch Name</th>
        <th scope="col">State</th>
        <th scope="col">Applications</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td>1.</td>
        <td>Amaravati Branch</td>
        <td>Andhra Pradesh</td>
        <td>42</td>
        <td>₹ 2,00,000</td>
      </tr>

      <tr>
        <td>2.</td>
        <td>Itanagar Branch</td>
        <td>Arunachal Pradesh</td>
        <td>31</td>
        <td>₹ 2,00,000</td>
      </tr>


      <tr>
        <td>3.</td>
        <td>Guwahati Branch</td>
        <td>Assam</td>
        <td>27</td>
        <td>₹ 2,00,000</td>
      </tr>


      <tr>
        <td>4.</td>
        <td>Patna Main Branch</td>
        <td>Bihar</td>
        <td>25</td>
        <td>₹ 1,00,000</td>
      </tr>

      <tr>
        <td>5.</td>
        <td>Raipur Domestic Airport Branch</td>
        <td>Chhattisgarh</td>
        <td>21</td>
        <td>₹ 1,00,000</td>
      </tr>


    </tbody>
  </table>

</div>

</div>
</mat-card>

<mat-card class="mt-4 mb-4">
  <div class="row">
  
  <div class="psb-lg-12 psb-xl-12 psb-md-12 psb-sm-12 psb-xs-12">
    <div class="d-flex al-center js-between w-100">
      <p><b>Bottom 5 Branches</b></p>
      <mat-form-field appearance="outline">
        <mat-label>All</mat-label>
        <mat-select [(value)]="selected">
        
          <mat-option value="option0">None</mat-option>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
      </div>

    <table class="table2 dash-table2 w-100">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Branch Name</th>
          <th scope="col">State</th>
          <th scope="col">Applications</th>
          <th scope="col">Disbursement Amount</th>
        </tr>
      </thead>
      <tbody>
  
        <tr>
          <td>1.</td>
          <td>Baner Pune Branch</td>
          <td>Maharashtra</td>
          <td>12</td>
          <td>₹ 22,000</td>
        </tr>
  
        <tr>
          <td>2.</td>
          <td>Sehore Branch</td>
          <td>Madhya Pradesh</td>
          <td>9</td>
          <td>₹ 12,000</td>
        </tr>
  
  
        <tr>
          <td>3.</td>
          <td>Kerala Airport Branch</td>
          <td>Kerala</td>
          <td>7</td>
          <td>₹ 10,000</td>
        </tr>
  
  
        <tr>
          <td>4.</td>
          <td>Bangalore Rural Branch</td>
          <td>Karnataka</td>
          <td>4</td>
          <td>₹ 8,000</td>
        </tr>
  
        <tr>
          <td>5.</td>
          <td>Dhanbad Branch</td>
          <td>Jharkhand</td>
          <td>2</td>
          <td>₹ 6,000</td>
        </tr>
  
  
      </tbody>
    </table>
  
  </div>
  
  </div>
  </mat-card>

</div>

