<div class="container">
    <div class="row">
        <div id="b4l-content">
            <div class="sidebar">
                <a [ngClass]="(this.currentPage == constant.PROFILE_PAGE.SETTING ? 'active' : '')" (click)="goTo(constant.PROFILE_PAGE.SETTING)"> Account Settings</a>
                <a [ngClass]="(this.currentPage == constant.PROFILE_PAGE.API_ACCESS_KEY ? 'active' : '')" (click)="goTo(constant.PROFILE_PAGE.API_ACCESS_KEY)"> API Access Keys</a>
                <a [ngClass]="(this.currentPage == constant.PROFILE_PAGE.API_CREDITS ? 'active' : '')"  (click)="goTo(constant.PROFILE_PAGE.API_CREDITS)"> API Credits</a>
            </div>
                <app-settings *ngIf="this.currentPage == constant.PROFILE_PAGE.SETTING"></app-settings>
                <app-api-access-key *ngIf="this.currentPage == constant.PROFILE_PAGE.API_ACCESS_KEY"></app-api-access-key>
                <app-api-credit *ngIf="this.currentPage == constant.PROFILE_PAGE.API_CREDITS"></app-api-credit>
        </div>
    </div>
</div>