<div class="signin-content">
    <mat-card>
      <mat-card-content>
        <form name="loginForm">
          <p>Please login to continue</p>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="User" type="text" required>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Password" required>
          </mat-form-field>
          <button mat-raised-button color="primary"  routerLink="/dashboard">Login</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>