<div class="text-danger" *ngIf="control && control.errors && (control.dirty || control.touched || submitted)">
    <div *ngIf="control.errors.required">This field is required</div>
    <div *ngIf="control.errors.maxlength">The value for this field is too long</div>
    <div *ngIf="control.errors.minlength">The value for this field is too short</div>
    <div *ngIf="control.errors.max">Input exceeds maximum value</div>
    <div *ngIf="control.errors.min">Input valid minimum value</div>
    <div *ngIf="control.errors.pattern">You did not enter the value in the correct format</div>
    <div *ngIf="control.errors.unique">{{control.errors.unique}}</div>
    <div *ngIf="control.errors.lessThen">{{control.errors.lessThen}}</div>
    <div *ngIf="control.errors.greaterThan">{{control.errors.greaterThan}}</div>
    <div *ngIf="control.errors.email">{{control.errors.email}}</div>
    <div *ngIf="control.errors.mobile">{{control.errors.mobile}}</div>
    <div *ngIf="control.errors.confirmPassword">{{control.errors.confirmPassword}}</div>
</div>