<div id="b4l-pop-up">
  <h4>EBLR Value</h4>
  <div class="hr"></div>
  <form  autocomplete="off" novalidate [formGroup]="registerForm">
  <div class="pop-up-content">
    <p>New EBLR value</p>
    <div class="buttin-b4l-opacity opl2">
      <div class="text-with-presnt person-text-width">
        <input placeholder="eg. 12.3" [(ngModel)]="eblr.plr" type="text" tabindex="1" required=""  required formControlName="eblr" pattern="^[0-9]{2}$"> 
        <p class="perstage-text-n-d">%</p>
        <!-- <div *ngIf="f.submitted && f.form.controls.eblr.status == 'INVALID'" > -->
          <!-- <div *ngIf="f.form.controls.eblr.errors.required"> -->
              <!-- Eblr value is not valid. -->
          <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
  <div class="hr"></div>
  <div class="pop-up-radio-group">
    <mat-radio-group aria-label="Select an option">
      <!-- <mat-radio-button value="1">Update at specific time</mat-radio-button> -->
      Update at specific time
      <!-- <mat-radio-button value="2">Update Immediately after approval</mat-radio-button> -->
    </mat-radio-group>
    <div class="popup-input">
      <div class="buttin-b4l-opacity buttin-b4l-opacity1 opl2">
        <div class="text-with-presnt person-text-width">
          <!-- <input placeholder="Date" type="text" tabindex="3" required="" maxlength="6"> -->
          
          <!-- <p class="perstage-text-n-d"><img src="assets/img/edit-icon.svg" /></p> -->
        </div>
      </div>
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input [min]="minDate" matInput [matDatepicker]="picker" tabindex="2" [(ngModel)]="eblr.effectiveFrom" formControlName="date" required>
        <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div class="buttin-b4l-opacity opl2">
        <div class="text-with-presnt person-text-width">
          <input placeholder="Hour" type="number" (ngModelChange)="setHoursMinutes()" [(ngModel)]="time.hours" tabindex="3" formControlName="hours" max="12" required="" maxlength="2">
          <!-- <div *ngIf="f.submitted && f.form.controls.hours.status == 'INVALID'" > -->
               <!-- Invalid hours -->
          <!-- </div> -->
          <input placeholder="Minutes" type="number" (ngModelChange)="setHoursMinutes()" [(ngModel)]="time.minutes" tabindex="4" formControlName="minutes" max="59" required="" maxlength="2">
          <!-- <div *ngIf="f.submitted && f.form.controls.hours.status == 'INVALID'" > -->
            <!-- Invalid minutes -->
          <!-- </div> -->
          <button mat-button (click)="setAMPM()" tabindex="5">{{time.ampm}}</button>
        </div>
      </div>

    </div>

  </div>
  </form>

  <div class="hr"></div>

  <p *ngIf="eblr.effectiveFrom" >New EBLR Value will take effect from {{ eblr.effectiveFrom | date:'dd MMM yyyy' }} at  {{ eblr.effectiveFrom | date:'shortTime' }}   All new proposals will be calculated accordingly after that.</p>
  <!-- <p>New EBLR Value will take effect from 23 May 2020 at 10:30 Am. All new proposals will be calculated accordingly after that.</p> -->

  <div class="btn-pop-up">
    <a href="javaScript:void(0);" tabindex="6" (click)="close()" class="product-btn4">Cancel</a>
    <a href="javaScript:void(0);" tabindex="7"(click)="save()" class="product-btn3"><img src="assets/img/schedule.svg" />Save</a>
  </div>