
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.pop-up-content {
display: flex;
width: 100%;
align-items: center;
justify-content: space-between;

}

input[type=text] {
    width: 100%;
    border: 0 solid #DEDEDE;
    background: transparent;
    padding: 12px;
    border-radius: 3px;
}

.text-with-presnt p {
    padding: 10px;
    margin: 0;
    font-size: 14px !important;
    color: #112749;
    font-weight: 500;
    top: 0.4em;
    position: absolute;
    right: 0;
}

.text-with-presnt{
    float: left;
    width: 100%;
    display: flex;
    text-align: center;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    position: relative;
}
.pop-up-content p {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  .mat-radio-group {
      display: flex;
      flex-direction: column;
  }
.popup-input {
    display: flex;
    align-items: center;
    width: 70% !important;
}
.pop-up-radio-group {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.popup-input .buttin-b4l-opacity1 {
    margin-right: 1em ;
}

.btn-pop-up {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 3em 0 0;
}

.btn-pop-up a img {
    margin-right: 0.3em ;
}
#b4l-pop-up {
    padding: 3em !important;
} 
.btn-pop-up .product-btn3 {
    border: 1px solid #2D3079;
    border-radius: 8px;
    opacity: 1;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    padding: 1em 2em;  
    width: 48%;
    text-align: center;
    background: #2D3079;
}

.btn-pop-up .product-btn4 {
    border: 1px solid #BEBEBE;
    border-radius: 8px;
    opacity: 1;
    color: #5C5C5C;
    font-size: 16px;
    font-weight: 500;
    background: #F7F7F7;
    padding: 1em 2em;  
    width: 48%;
    text-align: center;
}


.eblr-text {
    color: #2D3079;
    font-size: 16px;
    font-weight: bold;
    width: 50%;
}

.time-width input {
    width: 100%;
    padding: 1.2em 1em;
    border: 0;
    border-right: 1px solid #DEDEDE;
    border-radius: 5px;
}


.time-width {
    width: 95% !important;
}

.buttin-b4l-opacity {
    opacity: 1 !important;
    float: right;
    display: flex;
    justify-content: flex-end;
}


.person-text-width1 {
    input {
        width: 50px !important;
        height: 3.5em;
        border: none;
        border-right: 1px solid #dedede !important;
        border-radius: 8px;
        padding: 16px;
    }
    .border-rad-0 {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}