<form>
    <mat-card class="d-flex w-100 px-0 py-2">
        <form class="example-form d-flex flex-column w-100" [formGroup]="caFirmDetailForm" (ngSubmit)="onFormSubmit()">
            <div class="input-fields">
                <mat-form-field class="example-full-width">
                    <mat-label>Membership Number</mat-label>
                    <input type="text" matInput [formControl]="caFirmDetailForm.controls.membershipNumber"
                        [errorStateMatcher]="matcher" placeholder="Ex. 171302">
                    <mat-error *ngIf="caFirmDetailForm.get('membershipNumber').hasError('required')">
                        Please Enter Membership Number
                    </mat-error>
                </mat-form-field>
                &nbsp;
                <mat-form-field class="example-full-width">
                    <mat-label>Date of Birth</mat-label>
                    <input type="text" matInput [formControl]="caFirmDetailForm.controls.dob"
                        [errorStateMatcher]="matcher" placeholder="Ex. 1992-05-22">
                    <mat-error *ngIf="caFirmDetailForm.get('dob').hasError('required')">
                        Please Enter Date of Birth
                    </mat-error>
                </mat-form-field>
                &nbsp;
                <mat-form-field class="example-full-width">
                    <mat-label>Firm Registration Number</mat-label>
                    <input type="text" matInput [formControl]="caFirmDetailForm.controls.firmRegNumber"
                        [errorStateMatcher]="matcher" placeholder="Ex. 109826W">
                    <mat-error *ngIf="caFirmDetailForm.get('firmRegNumber').hasError('required')">
                        Please Enter Firm Registration Number
                    </mat-error>
                </mat-form-field>
            </div>
            <button type="submit" class="submit-form-btn send-btn" mat-flat-button color="primary">Send</button>
        </form>
    </mat-card>
</form>
<app-tryout-response *ngIf="response != null" [jsonData]="response"></app-tryout-response>