<div id="b4l-pop-up">
    <h4>{{data.title}}</h4>
  
   <p><b>“ {{data.productName}}”</b> will be {{data.txt}} after approval from checker.</p>
   <p>After {{data.txt}} new customers will not be matched to this product. But there will be no effect on customers which have already selected this loan. You can activate this product again with permission of Admin Checker.</p>
   
  
  

    <div class="btn-pop-up">
      <a href="javaScript:void(0);" (click)="close()" class="product-btn4">Cancel</a>
      <a href="javaScript:void(0);" (click)="save()" class="product-btn3"><img src="assets/img/send-to-checker-white.svg" /> Send to checker for {{data.btnName}}</a>
    </div>