<div id="b4l-pop-up">
    <h4>Change EBLR Value</h4>
  
   <p><b>“Contactless Invoice financing”</b> will be deactivated after approval from checker.</p>
       
    
    <p>After deactivating new customers will not be matched to this product. But there will be no effect on customers which have already selected this loan. You can activate this product again with permission of Admin Checker.</p>
   
  
  

    <div class="btn-pop-up">
      <a href="javaScript:void(0);" (click)="close()" class="product-btn4">Cancel</a>
      <a href="javaScript:void(0);" (click)="save()" class="product-btn3"><img src="assets/img/send-to-checker-white.svg" /> Send to checker for deactivation</a>
    </div>