<form>
    <mat-card style="display: flex; width: 100%;">
        <form class="example-form form-main-section" [formGroup]="panStatusCheckForm" (ngSubmit)="onFormSubmit()">
            <mat-form-field class="example-full-width">
                <mat-label>APIPP7338B</mat-label>
                <input type="text" matInput [formControl]="panStatusCheckForm.controls.pan"
                    [errorStateMatcher]="matcher" placeholder="Ex. APIPP7338B">
                <mat-error *ngIf="panStatusCheckForm.get('pan').hasError('required')">
                    Please Enter PanNumber
                </mat-error>
            </mat-form-field>
            &nbsp;
            <mat-form-field class="example-full-width">
                <mat-label>Full Name</mat-label>
                <input type="text" matInput [formControl]="panStatusCheckForm.controls.name"
                    [errorStateMatcher]="matcher" placeholder="Ex. JAYESHKUMAR PATEL">
                <mat-error *ngIf="panStatusCheckForm.get('name').hasError('required')">
                    Please Enter Full Name
                </mat-error>
            </mat-form-field>
            &nbsp;
            <mat-form-field class="example-full-width">
                <mat-label>Date of Birth</mat-label>
                <input type="text" matInput [formControl]="panStatusCheckForm.controls.dob"
                    [errorStateMatcher]="matcher" placeholder="Ex. 06/04/1983">
                <mat-error *ngIf="panStatusCheckForm.get('dob').hasError('required')">
                    Please Enter Date Of Birth
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Consent</mat-label>
                <input type="text" matInput [formControl]="panStatusCheckForm.controls.consent"
                    [errorStateMatcher]="matcher" placeholder="Ex. Y/N">
            </mat-form-field>

            <button type="submit"  class="submit-form-btn"  mat-flat-button color="primary">Send</button>
        </form>
    </mat-card>
</form>
<app-tryout-response *ngIf="response != null" [jsonData]="response"></app-tryout-response>