<div class="b4l-login" style="background-image: url(assets/img/background.png);">

    <div id="b4l-login">

        <div class="container">
            <div class="row">
                <div class="psb-xl-12 psb-lg-12 psb-md-12 psb-sm-12 psb-xs-12">
                    <p class="login-text">Welcome to BHIM for Lending Dashboard</p>
                    <div class="login-box">
                        <img src="assets/img/sbi.png" />
                        <p>Reset your password</p>
                        <form [formGroup]="userForm">
                            <fieldset>
                                <input formControlName="password"  placeholder="New Password" type="password" tabindex="1" [(ngModel)]="user.password">
                                <app-print-error [control]="f.password" [submitted]="submitted"></app-print-error>
                            </fieldset>
                            <fieldset>
                                <input  formControlName="confirmPassword"  placeholder="Confirm Password" type="password" tabindex="2" [(ngModel)]="user.confirmPassword">
                                <app-print-error [control]="f.confirmPassword" [submitted]="submitted"></app-print-error>
                                <div *ngIf="f.confirmPassword.hasError('passwordMismatch')">Password and Confirm Password must be match.</div>
                            </fieldset>
                            <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Save</button>
                        </form>
                        <a href="#" class="login-forgot-psd" routerLink="/login">Log in</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer>
        <div class="container">
            <div id="footer">
                <div class="footer-left-login">
                    <p>Copyright © 2020 All rights reserved. Powred by psbloansin59minutes.com</p>
                </div>

                <div class="footer-right-login">
                    <ul>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Help & Support</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </footer>
</div>