
<div class="container">
    <div class="row">

 



        


<!-- Matches parameter clicked page start-->
          <div class="product-back-button">
            <p class="btn-back"><img src="assets/img/arrow-right.svg"/> Back</p>
            <p>Product View</p>
        </div>
        
                <div id="b4l-content">
        <div class="product-name">
            <p class="product-note-view">Contactless Invoice financing</p>
          
        
        
        <div class="product-name-details">
            <p><span _ngcontent-ruf-c76="" class="dot">• </span> Active Product</p>
        
            <div class="product-details-btn">
                <mat-form-field>
                    <mat-label>v3.0 (Current version)</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{food.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                <a href="javaScript:void(0);" (click)="confirmationPopUp()" class="product-btn1"><img src="assets/img/lock-blue.svg"/> Deactivate</a>
                <a href="#" class="product-btn3"><img src="assets/img/edit-white.svg"/> Edit</a>
            </div>
        
        </div>


        <div class="product-view-error">

<p><img src="assets/img/note-white.svg"/>Sent back by Checker for corrections</p>
<p>Please check the eligibility calculation model there are some changes that needs to be done in changing The ROI of the user</p>


        </div>
        
      
        
        
        
                </div>
            </div>


            







<!-- Eligibility Calculation start-->

<div id="b4l-content">

           
    <div class="b4l-product-title">
        <ul class="product">
            <li><a href="#"   class="active">
                    <p>Matches Parameter</p>
                </a></li>
            <li><a href="#" >
                    <p>Eligibility Calculation</p>
                </a></li>
          
        </ul>             

           
            </div>



        

            <div class="b4l-product-list">

                <div class="b4l-product-list-left">
                    <p>1</p>
                <p>Whether the unit/ proprietor is Banking with SBI and has CIF and Account No. Match with our database</p>
                </div>

                <div class="b4l-product-list-right">
                  
                    <div class="buttin-b4l-opacity opl2">              
                            <p>Yes</p>          

                       
                    </div>
                </div>

            </div>


            <div class="b4l-product-list back">

                <div class="b4l-product-list-left">
                    <p>2</p>
                <p>Constitution </p>
                </div>

                <div class="b4l-product-list-right">
                  
                    <div class="buttin-b4l-opacity opl2">                        
                            <p>120 Days</p>                        

                       
                    </div>
                </div>

            </div>


            <div class="b4l-product-list">

                <div class="b4l-product-list-left">
                    <p>3</p>
                <p>Usance Period of Invoice</p>
                </div>

                <div class="b4l-product-list-right">
                  
                    <div class="buttin-b4l-opacity opl2">                      
                         
                            <p>0 Days</p>
                            <p>to</p>
                            <p>120 Days</p>
                          

                       
                    </div>
                </div>

            </div>

            <div class="b4l-product-list back">

                <div class="b4l-product-list-left">
                    <p>4</p>
                <p>Whether the status of unit’s existing exposure is Standard and Regular i.e. not in SMA 1 & worse<br>
                <span>Not Applicable in case of only Current Account Holders</span></p>
                </div>

                <div class="b4l-product-list-right">
                  
                    <div class="buttin-b4l-opacity opl2">
                     <p>Special Mention Account (SMA)</p>

                       
                    </div>
                </div>

            </div>





            <div class="b4l-product-list">

                <div class="b4l-product-list-left">
                    <p>5</p>
                <p>Invoice value</p>
                </div>

                <div class="b4l-product-list-right">
                  
                    <div class="buttin-b4l-opacity opl2">                      
                         
                        <p>0 Days</p>
                        <p>to</p>
                        <p>120 Days</p>
                      

                   
                </div>
                </div>

            </div>



            <div class="b4l-product-list back">

                <div class="b4l-product-list-left">
                    <p>6</p>
                <p>Whether Input Tax Credit (ITC) is claimed by the Buyer on the invoice proposed for discounting</p>
                </div>

                <div class="b4l-product-list-right">
                  
                    <div class="buttin-b4l-opacity opl2">
                       <p>No</p>
                       
                    </div>
                </div>

            </div>




</div>


<!-- Eligibility Calculation end-->





            
<!-- Analyse now-->

<div id="b4l-content">

           
   
    <div class="matches-parameter">
    
    <img  class="img-match"  src="assets/img/Analyse-now.svg"/>
    <p class="opacity-light">Just to be on safe side you can run simulation on sample applications.</p>
    <p class="opacity-light"> This will give you an idea how your matching will perform in real applications</p>
    
    <div class="matches-parameter-data">
    
    <a href="#" routerLink="" class="product-btn4">Analyse Now</a>
    </div>
    </div>
    
    </div>
    
    <!-- Analyse now end-->
    
























    </div>
</div>