<div class="container">
    <div class="row">
        <!-- Matches parameter clicked page start-->
        <div class="product-back-button">
            <p class="btn-back" (click)="commonService.backClicked()"><img src="assets/img/arrow-right.svg" /> Back</p>
            <p>Product View</p>
        </div>

        <div id="b4l-content" class="b4l-height">
            <div class="product-name">
                <p class="product-note-view">{{product.name}}</p>
                <div class="product-name-details">
                    <p *ngIf="showStatus.isShowStatus">
                        <span _ngcontent-ruf-c76=""  [ngClass]="(showStatus.status == 'Active' ? 'dot' : 'dot1')"  >• </span> 
                        {{showStatus.status}} Product
                    </p>
                    <p *ngIf="reqType">Request for {{reqType}}</p>

                    <div class="product-details-btn">
                        <!-- <mat-form-field>
                            <mat-label>v3.0 (Current version)</mat-label>
                            <mat-select>
                                 <mat-option *ngFor="let food of foods" [value]="food.value">
                                    {{food.viewValue}}
                                </mat-option> 
                            </mat-select>
                        </mat-form-field> -->

                        <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{food.viewValue}}
                      </mat-option> -->
                      <!-- <mat-label>v3.0 (Current version)</mat-label> -->

                        <!-- <mat-form-field class="fix-select" *ngIf="versions && versions.length">
                            <mat-select [(ngModel)]="version" (ngModelChange)="getProductVersion(version)">
                                <mat-option *ngFor="let v of versions"  [value]="v">
                                    <span class="option-txt">V{{v.ver}} </span><br><span class="option-txt-inner"> {{v.from}}</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field> -->

                        <select *ngIf="versions && versions.length" style="margin-left: 10px;" class="form-control" id="versionDropdown" name="versionDropdown" [(ngModel)]="version" (ngModelChange)="getProductVersion(version)">
                            <option *ngFor="let v of versions"  [ngValue]="v">
                                <span>V{{v.ver}} </span><br><span> From  {{ v.from | date:'dd MMM yyyy' }} at  {{ v.from | date:'shortTime' }}</span>
                            </option>
                        </select>
                        <!-- [selected]="option.id == (item.answer ? item.answer.id : '')"  -->

                        <a href="javaScript:void(0);" *ngIf="product.reject" (click)="updateStatus(product.reject)" class="product-btn1"> Send back</a>
                        <a href="javaScript:void(0);" *ngIf="product.approve" (click)="updateStatus(product.approve)" class="product-btn3"> Approve</a>
                        <a href="javaScript:void(0);" *ngIf="product.isEdit" [routerLink]="[routeURL.PRODUCT, product.productsTempId]" class="product-btn3"><img src="assets/img/edit-white.svg" /> Edit</a>
                        <a href="javaScript:void(0);" *ngIf="product.actInact" (click)="confirmationPopUp(product.actInact)" class="product-btn1"><img src="assets/img/lock-blue.svg" /> {{product.actInact.reqType.buttonName}}</a>
                    </div>

                </div>

                <div class="product-view-error" *ngIf="product.comments">

                    <p><img src="assets/img/note-white.svg" />Sent back by Checker for corrections</p>
                    <p>{{product.comments}}</p>

                </div>

            </div>
        </div>

        <!-- Eligibility Calculation start-->

        <div id="b4l-content" class="b4l-height">


            <div class="b4l-product-title">
                <ul class="product">
                    <li><a [ngClass]="(isMatchesTab ? 'active' : '')" (click)="setTab(1)"
                            href="javaScript:void(0);">
                            <p>Matches Parameter</p>
                        </a></li>
                    <li><a [ngClass]="(!isMatchesTab ? 'active' : '')" (click)="setTab(2)"
                            href="javaScript:void(0);">
                            <p>Eligibility Calculation</p>
                        </a></li>
                </ul>
            </div>
            <ng-container *ngIf="isMatchesTab">
                <div class="b4l-product-list" *ngFor="let param of product.parameters; index as i">
                    <div class="b4l-product-list-left">
                        <p>{{i + 1}}.</p>
                        <p>{{param.lable}}</p>
                    </div>
                    <div class="b4l-product-list-right">
                        <div class="buttin-b4l-opacity opl2">
                            <p>{{param.answerValue || '-'}}</p>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="!isMatchesTab">

                <div class="b4l-product-list">
                    <div class="b4l-product-list-left">
                        <p>1.</p>
                        <p>Working Capital Requirement  <!-- <br> <span>Mostly lies between 15% to 25%. Depending on different situations</span> --> </p>
                    </div>
                    <div class="b4l-product-list-right">
                        <div class="buttin-b4l-opacity opl2">
                            <p>{{product.wcRequirement || '-'}}</p>
                        </div>
                    </div>
                </div>
                <div class="b4l-product-list">
                    <div class="b4l-product-list-left">
                        <p>2.</p>
                        <p>Max Loan amount as per limits</p>
                    </div>
                    <div class="b4l-product-list-right">
                        <div class="buttin-b4l-opacity opl2">
                            <p>{{product.maxLoanAmtLimit || '-'}}</p>
                        </div>
                    </div>
                </div>
                <div class="b4l-product-list">
                    <div class="b4l-product-list-left">
                        <p>3.</p>
                        <p>Discounting Percentage</p>
                    </div>
                    <div class="b4l-product-list-right">
                        <div class="buttin-b4l-opacity opl2">
                            <p>{{product.disPer || '-'}}</p>
                        </div>
                    </div>
                </div>
                <div class="b4l-product-list">
                    <div class="b4l-product-list-left">
                        <p>4.</p>
                        <p>Tenure<!-- <br> <span>You need to specify tenure in months not year</span> --></p>
                    </div>
                    <div class="b4l-product-list-right">
                        <div class="buttin-b4l-opacity opl2">
                            <p>{{product.tenure || '-'}}</p>
                        </div>
                    </div>
                </div>
                <div class="b4l-product-list">
                    <div class="b4l-product-list-left">
                        <p>5.</p>
                        <p>Rate of Interest</p>
                    </div>
                    <div class="b4l-product-list-right">
                        <div class="buttin-b4l-opacity opl2">
                            <p>{{product.roi || '-'}}</p>
                        </div>
                    </div>
                </div>
                <div class="b4l-product-list">
                    <div class="b4l-product-list-left">
                        <p>6.</p>
                        <p>Max Repayment Amount</p>
                    </div>
                    <div class="b4l-product-list-right">
                        <div class="buttin-b4l-opacity opl2">
                            <p>{{product.maxRepayAmt || '-'}}</p>
                        </div>
                    </div>
                </div>
            </ng-container>

        </div>


        <!-- Eligibility Calculation end-->

        <!-- Analyse now-->

        <div id="b4l-content">
            <div class="matches-parameter">
                <img class="img-match" src="assets/img/Analyse-now.svg" />
                <p class="opacity-light">Just to be on safe side you can run simulation on sample applications.</p>
                <p class="opacity-light"> This will give you an idea how your matching will perform in real applications
                </p>
                <div class="matches-parameter-data">
                    <a href="#" routerLink="" class="product-btn4">Analyse Now</a>
                </div>
            </div>
        </div>
        <!-- Analyse now end-->
    </div>
</div>