<div class="container">
    <div class="row">
        <!-- Matches parameter clicked page start-->
        <div class="product-back-button">
            <p class="btn-back" (click)="commonService.backClicked()"><img src="assets/img/arrow-right.svg" /> Back</p>
            <p>Product View</p>
        </div>

        <div id="b4l-content" class="b4l-height">
            <div class="product-name">
                <div class="d-flex al-center js-between w-100 border-btm mb-3 pb-4">
                <p class="product-note-view border-btm-none">{{product.name}}</p>
                <p *ngIf="showStatus.isShowStatus" class="d-flex al-center">
                    <span _ngcontent-ruf-c76=""  [ngClass]="(showStatus.status == 'Active' ? 'dot' : 'dot1')"  >• </span> 
                    {{showStatus.status}} Product
                </p>
            </div>


                <div class="product-name-details">
                    <div class="b4l-content-txt-all">
                    <div class="b4l-content-txt">
                     
                       <div class="loan-type-b4l">Demand Loan</div>
                        <div class="loan-type-b4l">Bullet Repayment</div>
                        <div class="loan-type-b4l">Digital Sanction</div>
                        <div class="loan-type-b4l">Separate Loan Account</div> 
                        </div>
                    </div>
                  

                    <div class="product-details-btn">
                        <p class="mr-2" *ngIf="reqType">Request for {{reqType}}</p>
                        <!-- <mat-form-field>
                            <mat-label>v3.0 (Current version)</mat-label>
                            <mat-select>
                                 <mat-option *ngFor="let food of foods" [value]="food.value">
                                    {{food.viewValue}}
                                </mat-option> 
                            </mat-select>
                        </mat-form-field> -->

                        <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{food.viewValue}}
                      </mat-option> -->
                      <!-- <mat-label>v3.0 (Current version)</mat-label> -->

                       <mat-form-field class="fix-select" *ngIf="versions && versions.length">
                            <mat-select [(ngModel)]="version" (ngModelChange)="getProductVersion(version)" class="b4l-drop-position">
                                <mat-option *ngFor="let v of versions"  [value]="v">
                                    <span class="option-txt">V{{v.ver}} </span><br><span class="option-txt-inner"> From {{ v.from | date:'dd MMM yyyy' }} at  {{ v.from | date:'shortTime' }}</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field> 

                        <!-- <select *ngIf="versions && versions.length" style="margin-left: 10px;" class="form-control" id="versionDropdown" name="versionDropdown" [(ngModel)]="version" (ngModelChange)="getProductVersion(version)">
                            <option *ngFor="let v of versions"  [ngValue]="v">
                                <span>V{{v.ver}} </span><br><span> From  {{ v.from | date:'dd MMM yyyy' }} at  {{ v.from | date:'shortTime' }}</span>
                            </option>
                        </select> -->
                        <!-- [selected]="option.id == (item.answer ? item.answer.id : '')"  -->

                        <a href="javaScript:void(0);" *ngIf="product.reject" (click)="updateStatus(product.reject)" class="product-btn1"> Send back</a>
                        <a href="javaScript:void(0);" *ngIf="product.approve" (click)="updateStatus(product.approve)" class="product-btn3"> Approve</a>
                        <a href="javaScript:void(0);" *ngIf="product.isEdit" [routerLink]="[routeURL.PRODUCT, product.productsTempId]" class="product-btn3"><img src="assets/img/edit-white.svg"  class="mr-1"/> Edit</a>
                        <a href="javaScript:void(0);" *ngIf="product.actInact" (click)="confirmationPopUp(product.actInact)" class="product-btn1"><img src="assets/img/lock-blue.svg" class="mr-1"/> {{product.actInact.reqType.buttonName}}</a>
                    </div>

                </div>

                <div class="product-view-error" *ngIf="product.comments">

                    <p><img src="assets/img/note-white.svg" />Sent back by Checker for corrections</p>
                    <p>{{product.comments}}</p>

                </div>

            </div>
        </div>

        <!-- Eligibility Calculation start-->

        <div id="b4l-content" class="b4l-height">


            <div class="b4l-product-title">
                <ul class="product">
                    <li><a [ngClass]="(tab.matches ? 'active' : '')" (click)="setTab('matches')" href="javaScript:void(0);"> <p>Matches Parameter</p> </a> </li>
                    <li><a [ngClass]="(tab.eligibility ? 'active' : '')" (click)="setTab('eligibility')" href="javaScript:void(0);"> <p>Eligibility Calculation</p> </a></li>
                    <li><a [ngClass]="(tab.charges ? 'active' : '')" (click)="setTab('charges')" href="javaScript:void(0);"> <p>Charges & ROI</p> </a></li>
                    <li><a [ngClass]="(tab.verhistory ? 'active' : '')" (click)="setTab('verhistory')" href="javaScript:void(0);">  <p>Version History</p> </a></li>
                </ul>
            </div>
            <ng-container *ngIf="tab.matches">
                <div class="b4l-product-list" *ngFor="let param of product.parameters; index as i">
                    <div class="b4l-product-list-left">
                        <p>{{i + 1}}.</p>
                        <p>{{param.lable}}</p>
                    </div>
                    <div class="b4l-product-list-right">
                        <div class="buttin-b4l-opacity opl2">
                            <p>{{param.answerValue || '-'}}</p>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="tab.eligibility">
                <div class="b4l-product-list">
                    <div class="b4l-product-list-left">
                        <p>1.</p>
                        <p>Maximum Assessment Limit for GST Turnover</p>
                    </div>
                    <!-- <div class="b4l-product-list-right">
                        <div class="buttin-b4l-opacity opl2">
                            <p>{{product.wcRequirement || '-'}} %</p>
                        </div>
                    </div> -->
                </div>
                <div class="b4l-product-list">
                    <div class="b4l-product-list-left">
                        <p>a.</p>
                        <p>Assessment Limit for GST Turnover in %</p>
                    </div>
                    <div class="b4l-product-list-right">
                        <div class="buttin-b4l-opacity opl2">
                            <p>{{product.assessmentLimitForGstTurnOverInPer || '-'}} %</p>
                        </div>
                    </div>
                </div>
                <div class="b4l-product-list">
                    <div class="b4l-product-list-left">
                        <p>b.</p>
                        <p>GST Turnover to be calculated for last "N" months</p>
                    </div>
                    <div class="b4l-product-list-right">
                        <div class="buttin-b4l-opacity opl2">
                            <p>{{product.gstTurnOverToBeCalcOfNMonths || '-'}} Months </p>
                        </div>
                    </div>
                </div>
                <div class="b4l-product-list">
                    <div class="b4l-product-list-left">
                        <p>2.</p>
                        <p>Maximum financing value for each Invoice</p>
                    </div>
                    <div class="b4l-product-list-right">
                        <div class="buttin-b4l-opacity opl2">
                            <p>{{product.maxFinValueEachInv || '-'}} %</p>
                        </div>
                    </div>
                </div>
                <div class="b4l-product-list">
                    <div class="b4l-product-list-left">
                        <p>3.</p>
                        <p>Tenure Period</p>
                    </div>
                    <div class="b4l-product-list-right">
                        <div class="buttin-b4l-opacity opl2">
                            <p>{{product.tenurePeriod || '-'}} Days</p>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="tab.charges">
                <div class="psb-xl-12 psb-lg-12 psb-sm-12 psb-md-12 psb-xs-12">
                    <h4 class="charges-roi-h4">1. ROI</h4>
                </div>
                <table class="table roi">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Score Range</th>
                        <th scope="col">Spread</th>
                        <th scope="col">Effective ROI</th>
                        <th scope="col">Min-Max RS</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of product.scalingMaster.roiRange; let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{data.min}} to {{data.max || '-'}}</td>
                        <td>{{data.spread || '-'}}</td>
                        <td>-</td>
                        <td>{{data.minRs || '-'}} to {{data.maxRs || '-'}}</td>
                      </tr>
                    </tbody>
                  </table>

                <div class="psb-xl-12 psb-lg-12 psb-sm-12 psb-md-12 psb-xs-12">
                    <h4 class="charges-roi-h4">2. Processing Fee</h4>
                </div>
                <table class="table roi">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Score Range</th>
                        <th scope="col">Based On</th>
                        <th scope="col">Charge (% Or Rs.) </th>
                        <th scope="col">Min - Max (Rs.)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of product.scalingMaster.processingFee; let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{data.min}} to {{data.max || '-'}}</td>
                        <td>{{data.basedOnStr}}</td>
                        <td>{{data.basedOnStr == "Fixed Amount" ?  data.maxRs : (data.basedOnPer)}}</td>
                        <td>{{data.basedOnStr != "Fixed Amount" ? data.minRs + ' to ' + data.maxRs : ''}}</td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="psb-xl-12 psb-lg-12 psb-sm-12 psb-md-12 psb-xs-12">
                    <h4 class="charges-roi-h4">3. Unified Charges</h4>
                </div>
                <table class="table roi">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Score Range</th>
                        <th scope="col">Based On</th>
                        <th scope="col">Charge (% Or Rs.) </th>
                        <th scope="col">Min - Max (Rs.)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of product.scalingMaster.unifiedCharges; let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{data.min}} to {{data.max || '-'}}</td>
                        <td>{{data.basedOnStr}}</td>
                        <td>{{data.basedOnStr == "Fixed Amount" ?  data.maxRs : (data.basedOnPer)}}</td>
                        <td>{{data.basedOnStr != "Fixed Amount" ? data.minRs + ' to ' + data.maxRs : ''}}</td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="psb-xl-12 psb-lg-12 psb-sm-12 psb-md-12 psb-xs-12">
                    <h4 class="charges-roi-h4">4. Penal Interest</h4>
                </div>
                <table class="table roi">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Score Range</th>
                        <th scope="col">Based On</th>
                        <th scope="col">Charge (% Or Rs.) </th>
                        <th scope="col">Min - Max (Rs.)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of product.scalingMaster.penalInterest; let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{data.min}} to {{data.max || '-'}}</td>
                        <td>{{data.basedOnStr}}</td>
                        <td>{{data.basedOnStr == "Fixed Amount" ?  data.maxRs : (data.basedOnPer)}}</td>
                        <td>{{data.basedOnStr != "Fixed Amount" ? data.minRs + ' to ' + data.maxRs : ''}}</td>
                      </tr>
                    </tbody>
                  </table>

                <!-- <div class="b4l-product-list">
                    <div class="b4l-product-list-left">
                        <p>1.</p>
                        <p>ROI  </p>
                    </div>
                    <div class="b4l-product-list-right">
                        <div class="buttin-b4l-opacity opl2">
                            <p>{{product.roi || '-'}} % </p>
                        </div>
                    </div>
                </div>
                <div class="b4l-product-list">
                    <div class="b4l-product-list-left">
                        <p>2.</p>
                        <p>Late payment charges</p>
                    </div>
                    <div class="b4l-product-list-right">
                        <div class="buttin-b4l-opacity opl2">
                            <p>{{product.charge.latePayment.value || '-'}}
                                <span *ngIf="product.charge.latePayment.chargeType == 'RATE_BASED'" >%</span>
                                <span *ngIf="product.charge.latePayment.chargeType == 'FIXED_AMOUNT'" >INR</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="b4l-product-list">
                    <div class="b4l-product-list-left">
                        <p>3.</p>
                        <p>Bounce charges</p>
                    </div>
                    <div class="b4l-product-list-right">
                        <div class="buttin-b4l-opacity opl2">
                            <p>{{product.charge.bounce.value || '-'}}
                                <span *ngIf="product.charge.bounce.chargeType == 'RATE_BASED'" >%</span>
                                <span *ngIf="product.charge.bounce.chargeType == 'FIXED_AMOUNT'" >INR</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="b4l-product-list">
                    <div class="b4l-product-list-left">
                        <p>4.</p>
                        <p>Processing charges</p>
                    </div>
                    <div class="b4l-product-list-right">
                        <div class="buttin-b4l-opacity opl2">
                            <p>{{product.charge.processing.value || '-'}}
                                <span *ngIf="product.charge.processing.chargeType == 'RATE_BASED'" >%</span>
                                <span *ngIf="product.charge.processing.chargeType == 'FIXED_AMOUNT'" >INR</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="b4l-product-list">
                    <div class="b4l-product-list-left">
                        <p>5.</p>
                        <p>Prepayment charges</p>
                    </div>
                    <div class="b4l-product-list-right">
                        <div class="buttin-b4l-opacity opl2">
                            <p>{{product.charge.prepayment.value  || '-'}}
                                <span *ngIf="product.charge.prepayment.chargeType == 'RATE_BASED'" >%</span>
                                <span *ngIf="product.charge.prepayment.chargeType == 'FIXED_AMOUNT'" >INR</span>
                            </p>
                        </div>
                    </div>
                </div> -->
                
            </ng-container>
            <ng-container *ngIf="tab.verhistory">
              <div class="step" *ngFor="let data of product.statusAuditList;">
                <div>
                  <div class="circle-blue" *ngIf="data.from.value == 'SENT_TO_CHECKER'"><img src="assets/img/step-arrow.svg"/></div>
                  <div class="circle-grey" *ngIf="data.from.value == 'SAVED'"><img src="assets/img/step-edit.svg"/></div>  
                  <div class="circle-green" *ngIf="data.from.value == 'APPROVED'"><img src="assets/img/step-true.svg"/></div>
                </div>
                <div>
                  <div class="title" *ngIf="data.from.value == 'SENT_TO_CHECKER'">{{constants.MASTER_TYPE.SENT_TO_CHECKER.statusStr}} - {{data.actionFrom}} to Admin Checker<br> <span>{{data.statusModifiedDate |  date: 'dd MMMM yyyy hh:mm a'}}</span></div>
                  <div class="title" *ngIf="data.from.value == 'SAVED'">{{constants.MASTER_TYPE.SAVED.statusStr}} - {{data.actionFrom}}<br> <span>{{data.statusModifiedDate |  date: 'dd MMMM yyyy hh:mm a'}}</span></div>
                  <div class="title" *ngIf="data.from.value == 'APPROVED'">{{constants.MASTER_TYPE.APPROVED.statusStr}} - {{data.actionFrom}}<br> <span>{{data.statusModifiedDate |  date: 'dd MMMM yyyy hh:mm a'}}</span></div>
                </div>
              </div>
            </ng-container>
        </div>


        <!-- Eligibility Calculation end-->

        <!-- Analyse now-->

        <div id="b4l-content" class="b4l-height">
            <div class="matches-parameter">
                <img class="img-match" src="assets/img/Analyse-now.svg" />
                <p class="opacity-light">Just to be on safe side you can run simulation on sample applications.</p>
                <p class="opacity-light"> This will give you an idea how your matching will perform in real applications
                </p>
                <div class="matches-parameter-data">
                    <a href="#" routerLink="" class="product-btn4">Analyse Now</a>
                </div>
            </div>
        </div>
        <!-- Analyse now end-->

<!-- Version History start -->

<!-- <mat-card class="w-100 pd-31">
   
    <div class="step">
        <div>
          <div class="circle-blue"><img src="assets/img/step-arrow.svg"/></div>
        </div>
        <div>
          <div class="title">Sent by Admin Maker - akshay.patel@onlinepsbloans.com to Admin Checker <br> <span>02 May 2020  10:43 AM</span></div>        
        </div>
      </div>


      <div class="step">
        <div>
          <div class="circle-grey"><img src="assets/img/step-edit.svg"/></div>
        </div>
        <div>
            <div class="title">Edited By Admin Maker - akshay.patel@onlinepsbloans.com <br> <span>02 May 2020  10:43 AM</span></div>  
        </div>
      </div>


      <div class="step">
        <div>
          <div class="circle-green"><img src="assets/img/step-true.svg"/></div>
        </div>
        <div>
          <div class="title">V3.0 Approved By Admin Checker - jinand.shah@onlinepsbloans.com <br> <span>18 April 2020 02:03 PM</span></div>        
        </div>
      </div>


      <div class="step">
        <div>
          <div class="circle-blue"><img src="assets/img/step-arrow.svg"/></div>
        </div>
        <div>
          <div class="title">Sent by Admin Maker - akshay.patel@onlinepsbloans.com to Admin Checker <br> <span>02 May 2020  10:43 AM</span></div>        
        </div>
      </div>


      <div class="step">
        <div>
          <div class="circle-grey"><img src="assets/img/step-edit.svg"/></div>
        </div>
        <div>
            <div class="title">Edited By Admin Maker - akshay.patel@onlinepsbloans.com <br> <span>02 May 2020  10:43 AM</span></div>  
        </div>
      </div>

      <div class="step">
        <div>
          <div class="circle-green"><img src="assets/img/step-true.svg"/></div>
        </div>
        <div>
          <div class="title">V3.0 Approved By Admin Checker - jinand.shah@onlinepsbloans.com <br> <span>18 April 2020 02:03 PM</span></div>        
        </div>
      </div>

      <div class="step">
        <div>
          <div class="circle-blue"><img src="assets/img/step-arrow.svg"/></div>
        </div>
        <div>
          <div class="title">Sent by Admin Maker - akshay.patel@onlinepsbloans.com to Admin Checker <br> <span>02 May 2020  10:43 AM</span></div>        
        </div>
      </div>


      <div class="step">
        <div>
          <div class="circle-grey"><img src="assets/img/step-edit.svg"/></div>
        </div>
        <div>
            <div class="title">Edited By Admin Maker - akshay.patel@onlinepsbloans.com <br> <span>02 May 2020  10:43 AM</span></div>  
        </div>
      </div>

      <div class="step">
        <div>
          <div class="circle-green"><img src="assets/img/step-true.svg"/></div>
        </div>
        <div>
          <div class="title">V3.0 Approved By Admin Checker - jinand.shah@onlinepsbloans.com <br> <span>18 April 2020 02:03 PM</span></div>        
        </div>
      </div>
      
</mat-card> -->

<!-- Version History end-->

    </div>
</div>