
<div class="container">
    <div class="row">
<div class="product-back-button">
    <p class="btn-back" href="" routerLink="{{routeURL.PRODUCTS}}" ><img src="assets/img/arrow-right.svg"/> Back</p>
    <p>Add new product</p>
</div>

        <div id="b4l-content">
<div class="product-name">
           <p>Product Name</p>

<div class="product-name-details">
    <input type="text" id="fname" name="fname" placeholder="Eg. “Contactless invoice financing”"> 

    <div class="product-details-btn">
        <a href="#" class="product-btn1"><img src="assets/img/save.svg"/> Save</a>
        <a href="#" class="product-btn2"><img src="assets/img/send-to-checker.svg"/> Send to checker</a>
    </div>

</div>

<p class="product-note"><img src="assets/img/note.svg"/> This name will be visible to users who will be matched with this product</p>




        </div>
    </div>

<!-- Matches Parameter start -->
        <div id="b4l-content">

           
            <div class="b4l-product-title">
                <ul class="product">
                    <li><a href="#" class="active">
                            <p>Matches Parameter</p>
                        </a></li>
                    <li><a href="#">
                            <p>Eligibility Calculation</p>
                        </a></li>
                  
                </ul>             

                    <a href="#" routerLink="/product" class="product-btn1"><img src="assets/img/import.svg"/> Import matches parameter</a>
                    </div>

<div class="matches-parameter">

    <img  class="img-match"  src="assets/img/matches-parameter.svg"/>
<p>We are ready to set eligibility parameters for the product.</p>
<p>You can either import parameters from existing product or set new parameters from scratch</p>

<div class="matches-parameter-data">
<a href="#" routerLink="/product" class="product-btn1"><img src="assets/img/import.svg"/> Import matches parameter</a>
<p>or</p>
<a href="#" routerLink="/product" class="product-btn1">+ Add New Parameters</a>
</div>
</div>






        </div>



        <!--  Matches Parameter end -->

         <!--  Eligibility Calculation start-->
         <div id="b4l-content">

           
            <div class="b4l-product-title">
                <ul class="product">
                    <li><a href="#">
                            <p>Matches Parameter</p>
                        </a></li>
                    <li><a href="#"  class="active">
                            <p>Eligibility Calculation</p>
                        </a></li>
                  
                </ul>             

                    <a href="#" routerLink="/product" class="product-btn1"><img src="assets/img/import.svg"/> Import Eligibility parameter</a>
                    </div>

<div class="matches-parameter">

    <img  class="img-match"  src="assets/img/eligibility-calculation.svg"/>
<p>We are ready to set eligibility parameters for the product.</p>
<p>You can either import parameters from existing product or set new parameters from scratch</p>

<div class="matches-parameter-data">
<a href="#" routerLink="/product" class="product-btn1"><img src="assets/img/import.svg"/> Import Eligibility parameter</a>
<p>or</p>
<a href="#" routerLink="/product" class="product-btn1">+ set manually from start</a>
</div>
</div>






        </div>

          <!-- Eligibility Calculation end -->



    </div>
</div>