
<div class="container">
    <div class="row">
<div class="product-back-button">
    <p class="btn-back"><img src="assets/img/arrow-right.svg"/> Back</p>
    <p>Add new product</p>
</div>

        <div id="b4l-content">
<div class="product-name">
           <p>Product Name</p>

<div class="product-name-details">
    <input type="text" id="fname" name="fname" placeholder="Eg. “Contactless invoice financing”"> 

    <div class="product-details-btn">
        <a href="#" class="product-btn1"><img src="assets/img/save.svg"/> Save</a>
        <a href="#" class="product-btn2"><img src="assets/img/send-to-checker.svg"/> Send to checker</a>
    </div>

</div>

<p class="product-note"><img src="assets/img/note.svg"/> This name will be visible to users who will be matched with this product</p>




        </div>
    </div>

<!-- Matches Parameter start -->
        <div id="b4l-content">

           
            <div class="b4l-product-title">
                <ul class="product">
                    <li><a href="#" class="active">
                            <p>Matches Parameter</p>
                        </a></li>
                    <li><a href="#">
                            <p>Eligibility Calculation</p>
                        </a></li>
                  
                </ul>             

                    <a href="#" routerLink="/product" class="product-btn1"><img src="assets/img/import.svg"/> Import matches parameter</a>
                    </div>

<div class="matches-parameter">

    <img  class="img-match"  src="assets/img/matches-parameter.svg"/>
<p>We are ready to set eligibility parameters for the product.</p>
<p>You can either import parameters from existing product or set new parameters from scratch</p>

<div class="matches-parameter-data">
<a href="#" routerLink="/product" class="product-btn1"><img src="assets/img/import.svg"/> Import matches parameter</a>
<p>or</p>
<a href="#" routerLink="/product" class="product-btn1">+ Add New Parameters</a>
</div>
</div>






        </div>



        <!--  Matches Parameter end -->

         <!--  Eligibility Calculation start-->
         <div id="b4l-content">

           
            <div class="b4l-product-title">
                <ul class="product">
                    <li><a href="#">
                            <p>Matches Parameter</p>
                        </a></li>
                    <li><a href="#"  class="active">
                            <p>Eligibility Calculation</p>
                        </a></li>
                  
                </ul>             

                    <a href="#" routerLink="/product" class="product-btn1"><img src="assets/img/import.svg"/> Import Eligibility parameter</a>
                    </div>

<div class="matches-parameter">

    <img  class="img-match"  src="assets/img/eligibility-calculation.svg"/>
<p>We are ready to set eligibility parameters for the product.</p>
<p>You can either import parameters from existing product or set new parameters from scratch</p>

<div class="matches-parameter-data">
<a href="#" routerLink="/product" class="product-btn1"><img src="assets/img/import.svg"/> Import Eligibility parameter</a>
<p>or</p>
<a href="#" routerLink="/product" class="product-btn1">+ set manually from start</a>
</div>
</div>






        </div>

          <!-- Eligibility Calculation end -->


<!-- Matches parameter clicked page start-->
          <div class="product-back-button">
            <p class="btn-back"><img src="assets/img/arrow-right.svg"/> Back</p>
            <p>Add new product</p>
        </div>
        
                <div id="b4l-content">
        <div class="product-name">
                   <p>Product Name</p>
        
        <div class="product-name-details">
            <input type="text" id="fname" name="fname" placeholder="Eg. “Contactless invoice financing”"> 
        
            <div class="product-details-btn">
                <a href="#" class="product-btn1"><img src="assets/img/save.svg"/> Save</a>
                <a href="#" class="product-btn3"><img src="assets/img/send-to-checker-white.svg"/> Send to checker</a>
            </div>
        
        </div>
        
        <p class="product-note"><img src="assets/img/note.svg"/> This name will be visible to users who will be matched with this product</p>
        
        
        
        
                </div>
            </div>


            <div id="b4l-content">

           
                <div class="b4l-product-title">
                    <ul class="product">
                        <li><a href="#"  class="active">
                                <p>Matches Parameter</p>
                            </a></li>
                        <li><a href="#" >
                                <p>Eligibility Calculation</p>
                            </a></li>
                      
                    </ul>             
    
                        <a href="#" routerLink="/product" class="product-btn1"><img src="assets/img/import.svg"/> Import matches parameter</a>
                        </div>
    
 
    
                        <div class="b4l-product-list">

                            <div class="b4l-product-list-left">
                                <p>1</p>
                            <p> Whether the unit/ proprietor is Banking with SBI and has CIF and Account No. Match with our database</p>
                            </div>
            
                            <div class="b4l-product-list-right">
                              
                                <p class="buttin-b4l-opacity">
                                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                                    <mat-button-toggle value="bold">Yes</mat-button-toggle>
                                    <mat-button-toggle value="italic">No</mat-button-toggle>                                   
                                  </mat-button-toggle-group>
                                  <img src="assets/img/close-red.svg"/>
                                </p>
                            </div>
            
                        </div>


                        <div class="b4l-product-list back ">

                            <div class="b4l-product-list-left">
                                <p>2</p>
                            <p>Constitution </p>
                            </div>
            
                            <div class="b4l-product-list-right">
                              
                                <p class="buttin-b4l-opacity">
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>Select</option>
                                        <option>Select</option>
                                        <option>Select</option>
                                        <option>Select</option>
                                        <option>Select</option>
                                      </select>
                                  
                                  <img src="assets/img/close-red.svg"/>
                                </p>
                            </div>
            
                        </div>
    



                        <div class="b4l-product-list">

                            <div class="b4l-product-list-left">
                                <p>3</p>
                            <p>Usance Period of Invoice</p>
                            </div>
            
                            <div class="b4l-product-list-right">
                              
                                <div class="buttin-b4l-opacity opl2">
                                    <div class="text-with-presnt person-text-width">
                                        <input placeholder="0" type="tel" tabindex="3" required="" maxlength="6">
                                        <p class="perstage-text-n-d">Days</p>
                                      </div>

                                      <p>to</p>
                                  
                                      <div class="text-with-presnt person-text-width">
                                        <input placeholder="0" type="tel" tabindex="3" required="" maxlength="6">
                                        <p class="perstage-text-n-d">Days</p>
                                      </div>

                                  <img class="opl" src="assets/img/close-red.svg"/>
                                </div>
                            </div>
            
                        </div>




                        <div class="b4l-product-list back">

                            <div class="b4l-product-list-left">
                                <p>4</p>
                            <p>Whether the status of unit’s existing exposure is Standard and Regular i.e. not in SMA 1 & worse<br>
                                <span>Not Applicable in case of only Current Account Holders</span></p>
                            </div>
            
                            <div class="b4l-product-list-right">
                              
                                <p class="buttin-b4l-opacity">
                                   
                                       
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>Select</option>
                                          <option>Select</option>
                                          <option>Select</option>
                                          <option>Select</option>
                                          <option>Select</option>
                                        </select>
                                      
                                  
                                  <img src="assets/img/close-red.svg"/>
                                </p>
                            </div>
            
                        </div>
    
    
                        <div class="b4l-product-list">

                            <div class="b4l-product-list-left">
                                <p>5</p>
                            <p>Invoice value</p>
                            </div>
            
                            <div class="b4l-product-list-right">
                              
                                <div class="buttin-b4l-opacity opl2">
                                    <div class="text-with-presnt person-text-width">
                                        <input placeholder="₹ 0" type="tel" tabindex="3" required="" maxlength="6">
                                        <p class="perstage-text-n-d"></p>
                                      </div>

                                      <p>to</p>
                                  
                                      <div class="text-with-presnt person-text-width">
                                        <input placeholder="₹ 10,00,000" type="tel" tabindex="3" required="" maxlength="6">
                                        <p class="perstage-text-n-d"></p>
                                      </div>

                                  <img  class="opl" src="assets/img/close-red.svg"/>
                                </div>
                            </div>
            
                        </div>


                        <div class="b4l-product-list back">

                            <div class="b4l-product-list-left">
                                <p>6</p>
                            <p> Whether Input Tax Credit (ITC) is claimed by the Buyer on the invoice proposed for discounting</p>
                            </div>
            
                            <div class="b4l-product-list-right">
                              
                                <p class="buttin-b4l-opacity">
                                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                                    <mat-button-toggle value="bold">Yes</mat-button-toggle>
                                    <mat-button-toggle value="italic">No</mat-button-toggle>                                   
                                  </mat-button-toggle-group>
                                  <img src="assets/img/close-red.svg"/>
                                </p>
                            </div>
            
                        </div>



                        <div class="b4l-product-list back">

                            
            
                            <div class="b4l-product-list-right b4l-product-list-right1">
                              
                                <p class="buttin-b4l-opacity">
                                    <a href="#" class="product-btn3">+ Add Parameters</a>
                                </p>
                            </div>
            
                        </div>
    
    
    
            </div>




            
<!-- Analyse now-->

<div id="b4l-content">

           
   
<div class="matches-parameter">

<img  class="img-match"  src="assets/img/Analyse-now.svg"/>
<p class="opacity-light">Just to be on safe side you can run simulation on sample applications.</p>
<p class="opacity-light"> This will give you an idea how your matching will perform in real applications</p>

<div class="matches-parameter-data">

<a href="#" routerLink="" class="product-btn4">Analyse Now</a>
</div>
</div>

</div>

<!-- Analyse now end-->

<!-- Matches parameter end-->


<!-- Eligibility Calculation start-->

<div id="b4l-content">

           
    <div class="b4l-product-title">
        <ul class="product">
            <li><a href="#">
                    <p>Matches Parameter</p>
                </a></li>
            <li><a href="#"   class="active">
                    <p>Eligibility Calculation</p>
                </a></li>
          
        </ul>             

            <a href="#" routerLink="/product" class="product-btn1"><img src="assets/img/import.svg"/> Import Eligibility Model</a>
            </div>



            <div class="b4l-product-list back">

                <div class="b4l-product-list-left b4l-product-list-left1">
                    <p class="fnt-size-22">EBLR eligibility calculation method</p>
                <p><span>EBLR currently set at 11.5%</span></p>
                </div>

                <div class="b4l-product-list-right title-eli-all">
                  
                   <a href="#" class="title-eli">Change eligibility model </a>
                </div>

            </div>


            <div class="b4l-product-list">

                <div class="b4l-product-list-left">
                    <p>1</p>
                <p>Working Capital Requirement<br>
                    <span>Mostly lies between 15% to 25%. Depending on different situations</span></p>
                </div>

                <div class="b4l-product-list-right">
                  
                    <div class="buttin-b4l-opacity opl2">
                        <div class="text-with-presnt person-text-width">
                            <input placeholder="Enter percentage" type="tel" tabindex="3" required="" maxlength="6">
                            <p class="perstage-text-n-d">%</p>
                          </div>

                       
                    </div>
                </div>

            </div>


            <div class="b4l-product-list back">

                <div class="b4l-product-list-left">
                    <p>2</p>
                <p>Max Loan amount as per limits</p>
                </div>

                <div class="b4l-product-list-right">
                  
                    <div class="buttin-b4l-opacity opl2">
                        <div class="text-with-presnt person-text-width">
                            <input placeholder="Enter percentage" type="text" tabindex="3" required="" maxlength="6">
                            <p class="perstage-text-n-d"><b>INR</b></p>
                          </div>

                       
                    </div>
                </div>

            </div>


            <div class="b4l-product-list">

                <div class="b4l-product-list-left">
                    <p>3</p>
                <p>Discounting Percentage</p>
                </div>

                <div class="b4l-product-list-right">
                  
                    <div class="buttin-b4l-opacity opl2">
                        <div class="text-with-presnt person-text-width">
                            <input placeholder="Enter percentage" type="tel" tabindex="3" required="" maxlength="6">
                            <p class="perstage-text-n-d">%</p>
                          </div>

                       
                    </div>
                </div>

            </div>

            <div class="b4l-product-list back">

                <div class="b4l-product-list-left">
                    <p>4</p>
                <p>Tenure<br>
                <span>You need to specify tenure in months not year</span></p>
                </div>

                <div class="b4l-product-list-right">
                  
                    <div class="buttin-b4l-opacity opl2">
                        <div class="text-with-presnt person-text-width">
                            <input placeholder="Enter months" type="text" tabindex="3" required="" maxlength="6">
                            <p class="perstage-text-n-d"><b>Months</b></p>
                          </div>

                       
                    </div>
                </div>

            </div>





            <div class="b4l-product-list">

                <div class="b4l-product-list-left">
                    <p>3</p>
                <p>Discounting Percentage</p>
                </div>

                <div class="b4l-product-list-right">
                  
                    <div class="buttin-b4l-opacity opl2">
                        <div class="text-with-presnt person-text-width1">
                            <input placeholder="Spread" type="tel" tabindex="3" required="" maxlength="6">
                            <p class="perstage-text-n-d">%</p>
                          </div>
<p class="text-input">+ 11.5% (EBLR) = 12.5%(Final ROI)</p>
                       
                    </div>
                </div>

            </div>



            <div class="b4l-product-list back">

                <div class="b4l-product-list-left">
                    <p>6</p>
                <p>Max Repayment Amount</p>
                </div>

                <div class="b4l-product-list-right">
                  
                    <div class="buttin-b4l-opacity opl2">
                        <div class="text-with-presnt person-text-width">
                            <input placeholder="Enter Amount" type="text" tabindex="3" required="" maxlength="6">
                            <p class="perstage-text-n-d"><b>INR</b></p>
                          </div>

                       
                    </div>
                </div>

            </div>




        




            


            


           



            <div class="b4l-product-list back">

                

                <div class="b4l-product-list-right b4l-product-list-right1">
                  
                    <p class="buttin-b4l-opacity">
                        <a href="#" class="product-btn3">+ Add Parameters</a>
                    </p>
                </div>

            </div>



</div>


<!-- Eligibility Calculation end-->




<!-- Eligibility Calculator-->

<div id="b4l-content">

           
   
    <div class="matches-parameter">
    
    <img  class="img-match"  src="assets/img/EligibilityCalculator.svg"/>
    <p class="opacity-light">Just to be on safe side you can run simulation on sample applications.</p>
    <p class="opacity-light"> This will give you an idea how your matching will perform in real applications</p>
    
    <div class="matches-parameter-data">
    
    <a href="#" routerLink="" class="product-btn4">Eligibility Calculator</a>
    </div>
    </div>
    
    </div>
    
    <!-- Eligibility Calculator end-->


























    </div>
</div>