<form>
    <mat-card style="display: flex; width: 100%;">
        <form class="example-form" [formGroup]="bankAccountVerificationForm" (ngSubmit)="onFormSubmit()">
            <mat-form-field class="example-full-width">
                <mat-label>IFSC Code</mat-label>
                <input type="text" matInput [formControl]="bankAccountVerificationForm.controls.ifsc"
                    [errorStateMatcher]="matcher" placeholder="Ex. ICIC0000123">
                <mat-error *ngIf="bankAccountVerificationForm.get('ifsc').hasError('required')">
                    Please Enter IFSC Code
                </mat-error>
            </mat-form-field>
            &nbsp;
            <mat-form-field class="example-full-width">
                <mat-label>Account Number</mat-label>
                <input type="text" matInput [formControl]="bankAccountVerificationForm.controls.accountNumber"
                    [errorStateMatcher]="matcher" placeholder="Ex. 123456789012">
                <mat-error *ngIf="bankAccountVerificationForm.get('accountNumber').hasError('required')">
                    Please Enter Account Number
                </mat-error>
            </mat-form-field>
            &nbsp;
            <mat-form-field class="example-full-width">
                <mat-label>Consent</mat-label>
                <input type="text" matInput [formControl]="bankAccountVerificationForm.controls.consent"
                    [errorStateMatcher]="matcher" placeholder="Ex. Y/N">
            </mat-form-field>

            <button type="submit" style="margin-left: 1em;" mat-flat-button color="primary">Send</button>
        </form>
    </mat-card>
</form>
<app-tryout-response *ngIf="response != null" [jsonData]="response"></app-tryout-response>