<div class="container">
    <div class="row">
        <!-- Matches parameter clicked page start-->
        <div class="product-back-button">
            <p class="btn-back"><img src="assets/img/arrow-right.svg" /> Back</p>
            <p>Product View</p>
        </div>

       

    <mat-card class="w-100 mt-4 mb-4 pd-3">
        <div class="row">
<div class="psb-xl-12 psb-lg-12 psb-md-12 psb-sm-12 psb-xs-12">
<p class="new-product-config-txt">New Product Configuration</p>
<span class="new-product-config-span">Please choose what type of product you want to create, you will not be able to change some things later once product is created</span>
</div>
</div>
<hr>

<div class="row">
<div class="psb-xl-4 psb-lg-4 psb-md-6 psb-sm-12 psb-xs-12">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Type of Facility</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Demand Loan</option>
        </select>
      </div>
</div>


<div class="psb-xl-4 psb-lg-4 psb-md-6 psb-sm-12 psb-xs-12">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Type of Repayment</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Bullet Repayment</option>
        </select>
      </div>
    </div>

    
    <div class="psb-xl-4 psb-lg-4 psb-md-6 psb-sm-12 psb-xs-12">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Type of Sanction</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Digital Sanction</option>
            </select>
          </div>
        </div>

        <div class="psb-xl-4 psb-lg-4 psb-md-6 psb-sm-12 psb-xs-12">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Loan Account per Unit for each Invoice</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>Separate Loan Account</option>
                </select>
              </div>
            </div>
    </div>
    <hr>
    <div class="row">
        <div class="psb-xl-4 psb-lg-4 psb-md-6 psb-sm-12 psb-xs-12">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Product Name</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>Eg. “Contactless invoice financing”</option>
                </select>
              </div>
              <span class="new-product-config-span">This name will be visible to users who will be matched with this product</span>
        </div>
        
        
        <div class="psb-xl-4 psb-lg-4 psb-md-6 psb-sm-12 psb-xs-12">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Copy from Product</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>Don't copy from any product</option>
                </select>
              </div>
              <span class="new-product-config-span">If you want to copy parameters from any existing product</span>
            </div>
        
            
        
            </div>

<div class="row">

    <div class="sidebar-main-title1 mt-4">
        <a href="javascript:void(0)" class="psb-bck">Cancel</a>
        <a href="javascript:void(0)" class="psb-submit">+ Add New Product</a>
    </div>

</div>



    </mat-card>
      


      
    </div>
</div>