<form [formGroup]="newProductConfigForm" autocomplete="off" novalidate *ngIf="this.newProductConfigForm">
  <div class="container">
    <div class="row">
      <!-- Matches parameter clicked page start-->
      <div class="product-back-button">
        <p class="btn-back" ><img src="assets/img/arrow-right.svg" /> Back</p>
        <p>Product View</p>
      </div>

      <mat-card class="w-100 mt-4 mb-4 pd-3">
        <div class="row">
          <div class="psb-xl-12 psb-lg-12 psb-md-12 psb-sm-12 psb-xs-12">
            <p class="new-product-config-txt">New Product Configuration</p>
            <span class="new-product-config-span">Please choose what type of product you want to create, you will not be able to change some things later once product is created</span>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="psb-xl-4 psb-lg-4 psb-md-6 psb-sm-12 psb-xs-12" *ngFor="let obj of mastersObj.ids">
            <!-- {{obj | json}} -->
            <div *ngFor="let data of mastersObj[obj]">
              {{data | json}}
              <!-- <mat-form-field appearance="legacy">
                <mat-select placeholder={{data.masterType.description}} aria-label="typeOffacility" formControlName={{data.masterType.value}}> 
                  <mat-option *ngFor="let selector of data.value" [value]="selector.id">
                    <span>{{selector.value}}</span>
                  </mat-option>
                </mat-select>
              </mat-form-field> -->
            </div>
          </div>
          <!-- <div class="psb-xl-4 psb-lg-4 psb-md-6 psb-sm-12 psb-xs-12" *ngFor="let keyVal of mastersObj | keyvalue">
            {{keyVal.key}}
            {{keyVal.value}}
            <mat-form-field appearance="legacy" *ngFor="let data of keyVal.value">
              {{data | json}}
              <mat-select placeholder={{data.masterType.description}} aria-label="typeOffacility" formControlName="data.masterType.value"> 
                <mat-option *ngFor="let data of keyVal.value" [value]="data.id">
                  <span>{{data.value}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->
        </div>
        
        <hr>
        <div class="row">
          <div class="psb-xl-4 psb-lg-4 psb-md-6 psb-sm-12 psb-xs-12">
            <mat-form-field appearance="legacy">
              <mat-label>Product Name *</mat-label>
              <input matInput placeholder="XYZ" formControlName="productName">
              <!-- <mat-error>
                <app-validation-messages [control]="firstAddress.controls.premiseNumber">
                </app-validation-messages>
              </mat-error> -->
            </mat-form-field>
            <!-- <div class="form-group">
              <label>Product Name</label>
              <input class="form-control" type="text" name="productName" formControlName="productName">
            </div> -->
            <span class="new-product-config-span">This name will be visible to users who will be matched with this product</span>
          </div>

          <div class="psb-xl-4 psb-lg-4 psb-md-6 psb-sm-12 psb-xs-12">
            <mat-form-field appearance="legacy">
              <mat-label>Copy from Product *</mat-label>
              <mat-select placeholder="Copy from Product" aria-label="copyProdFrom" formControlName="copyProdFrom"> 
                <!-- <mat-select-filter aria-label="Search Type Of Facility" (keyup)="searchValue($event.target.value,masterList.ResidentStatusMst, 'ResidentStatusMst')">
                </mat-select-filter> -->
                <mat-option *ngFor="let data of productList" [value]="data.productsId">
                  <span>{{data.name}}</span>
                </mat-option>
              </mat-select>
              <!-- <mat-error>
                <app-validation-messages [control]="item.controls.residentStatus">
                </app-validation-messages>
              </mat-error> -->
            </mat-form-field>

            <!-- <div class="form-group">
              <label>Copy from Product</label>
              <select class="form-control" name="copyProductId" [(ngModel)]="newProductModel.copyProductId">
                <option *ngFor="let data of productList" [value]="data.productsTempId">{{data.name}}</option>
              </select>
            </div> -->
            <span class="new-product-config-span">If you want to copy parameters from any existing product</span>
          </div>
        </div>

        <div class="row">
          <div class="sidebar-main-title1 mt-4">
            <a href="javascript:void(0)" class="psb-bck" routerLink="{{routeURL.SAVED_PRODUCTS}}">Cancel</a>
            <button class="psb-submit" (click)="createProduct()">+ Create Product</button>
          </div>
        </div>

      </mat-card>
    </div>
  </div>
</form>