.opl {
    position: absolute;
    right: 180px;
}

.fl-Col{
    flex-direction: column !important;
}

.charges-roi {
    padding: 2em 0;
    select {
        width: 100%;
        color: #000;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 1em;
    }


    label {
        color: #888888;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 0.2em;
    }
}
.blue {
    color: #271E79;
} 
.mar-6 {
    margin: 2em 5em;
}
.pd-new {
    padding: 0.65rem 0.75rem !important;
}
 .input-group-prepend {
    display: flex;
    position: absolute;
    right: 1px;
}
.warning-gst {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 1em 2em;
    background-color: #F1F1F1;
    border-radius: 8px;
    margin: 0 2em;
img {
    width: 4em;
    margin-right: 0.3em;
}
p {
    color: #888888;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;  
}

span {
    color: #000000;
}
}
.product-back-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2em 0 0;
    }
.change-b4l {
text-decoration: underline;
color: #271E79;
font-size: 16px;
font-weight: 500;
}
input[type=text] {
    width: 100%;
    border: 1px solid #ddd !important;
    background: transparent;
    padding: 12px;
    border-radius: 3px;
}

.mar-2 {
    margin: 0 5em;
}
input[type=number] {
    width: 100%;
    border: 1px solid #ddd !important;
    background: transparent;
    padding: 12px;
    border-radius: 3px;
}
.w-30 {
    width: 30% !important;
}
.w-70 {
    width: 70% !important;
}
.btm-0 {
    border-bottom: 0 !important;
}
.blue-light-bck {
    background-color: #EBF1FF;
    padding: 1em;
}
 .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-bottom: 1px solid #dee2e6;
    border-top: 0;
}


.table {
.input-group-prepend {
    display: flex;
    position: absolute;
    right: 1px;
}
.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.8em 1em;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background: none;
    border: none;
    border-radius: 0.25rem;
}
}
 select {
    text-transform: none;
    padding: 1em;
    border-radius: 5px;
    width: 50%;
    border: 1px solid #ddd;
}
.mar-5 {
    margin: 0 5rem;
}
.js-flex-end {
    justify-content: flex-end !important;
}
.fl-column {
    flex-direction: column;

}

.w-75 {
    width: 40% !important;
}
    .edit-product {
        color: #2D3079;
        font-size: 16px;
        margin-bottom: 0;
        font-weight: 500; 
        text-decoration: underline;  
    }
    .matches-parameter1 {
        .w-45 {
            width: 45% !important;
        }
        .input-group-append, .input-group-prepend {
            display: flex;
            position: absolute;
            right: 1px;
        }
        .input-group {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            width: 100%;
            margin: 0 1em;
        }
        .input-group-text {
            display: flex;
            align-items: center;
            padding: 0.8em 1em;
            margin-bottom: 0;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            text-align: center;
            white-space: nowrap;
            background: none;
            border: none;
            border-radius: 0.25rem;
        }
 
}
    .matches-parameter1 {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        padding: 2em;
        border-bottom: 1px solid #ddd;
       

        .matches-right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 40%;
            .mat-checkbox {
                width: 11%;
            }
            .w-28 {
                width: 22% !important;
            }

            a {
                margin-left: 1em;
            }
        }
        
        .matches-group-b4l {
            display: flex;
            align-items: flex-start;
width: 50%;

            p {
                color: #000000;
                font-size: 16px;
                margin-bottom: 0.5rem;
                font-weight: 500; 
                margin-right: 0.5em;
            }
            span {
                color: #888888;
                font-size: 16px;             
                font-weight: 500; 
              
            }
        }
    }

    .br-tp-1 {
        border-top: 1px solid #ddd;
    }
.pd-1 {
padding: 1em 2em !important;
}

    .product-back-button  p {
    color: #000000;
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 500;
    }
    
    .product-back-button  p.btn-back {
    
        color: #2D3079;
        margin-right: 1em;
        display: flex;
    }
    .product-back-button  p.btn-back img {
        margin-right: 0.5em;
    }
    .product-name {
    padding: 1.5em;
    @media(max-width:1199px){
        padding: .5em;
    } 
    }
    
    .product-name p {
    
        color: #000000;
    font-size: 16px;
    margin-bottom: 1em;
    font-weight: 500;
    }
    
    .product-name-details {
    
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .product-btn1 {
        border: 2px solid #2D3079;
        border-radius: 8px;
        opacity: 1;
        color: #2D3079;
        font-size: 16px;
        font-weight: 500;
        padding: 1em;
        background: #ffffff;
        margin: 0 1em;
    }
    
    .product-btn2 {
        border: 2px solid #E8E8E8;
        border-radius: 8px;
        opacity: 1;
        color: #888888;
        font-size: 16px;
        font-weight: 500;
        padding: 1em;
        background: #E8E8E8;
    }
    
    
    .product-btn3 {
        border: 2px solid #2D3079;
        border-radius: 8px;
        opacity: 1;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        padding: 1em;
        background: #2D3079;
    }

    .product-btn4 {
        border: 2px solid #E8E8E8 !important;
        border-radius: 8px;
        opacity: 1;
        color: #888888 !important;
        font-size: 16px;
        font-weight: 500;
        padding: 1em;
        background:#E8E8E8 !important;
    }
    
    .product-name-details input {
        border: 1px solid #DEDEDE;
        padding: 1em;
        width: 40%;
        border-radius: 4px;
    
    
    }
    .product-note {
        color: #000000;
        opacity: 0.7;
        font-weight: 500;
        font-size: 16px;
        margin: 2em 0 0;
        display: flex;
        margin-bottom: 0 !important;
    }
    .product-note img {
        margin-right: 0.3em;
    }
    
    .product li a p {
        padding: 1em 0;
    font-size: 18px !important;
    
    }
    .matches-parameter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    }
    
    .matches-parameter p {
        color: #000000;  
        font-weight: 500;
        font-size: 16px;
        
    }
    
    .matches-parameter-data {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 4em 0;
    }
    
    .img-match {
        margin: 5em 0 3em;
    }
    
    
    .b4l-product-list-left {
    
        display: flex;
        width: 100%;
       
    }
    
    .b4l-product-list-left1 {
    
        display: flex;
        width: 100%;
       align-items: center;
    }
    
    .b4l-product-list-left p{  
        width: auto;
        margin-right: 1em;
    }
    
    .b4l-product-list .b4l-product-list-right {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .buttin-b4l-opacity img {
        position: absolute;
        margin-top: 0;
        margin-left: 2em;
    }
    
    
    .buttin-b4l-opacity img.opl {
        position: absolute;
        margin-top: 0;
        margin-left: 2.4em;
    }
    
    .buttin-b4l-opacity {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
    
    }
    
    .text-with-presnt.person-text-width {
        width: 50%;
    }
    .text-with-presnt {
        float: left;
        width: 100%;
        display: flex;
        text-align: center;
        border: 1px solid #DEDEDE;
        border-radius: 5px;
    }
    
    input[type="tel"] {
        width: 100%;
        border: 0px solid #ABC0E2;
        background: transparent;
        padding: 12px;
        border-radius: 3px;
    }
    input[type="text"] {
        width: 100%;
        border: 0px solid #ABC0E2;
        background: transparent;
        padding: 12px;
        border-radius: 3px;
    }
    
    .text-with-presnt p.perstage-text-n-d {
        padding: 12px;
        margin: 0;
        font-size: 15px;
        color: #112749;
        font-weight: 500;
        position: unset;
        opacity: 1;
    }
    
    .input-pad {
        padding-bottom: 0 !important;
    }
    
    .text-with-presnt p {
        padding: 10px;
        margin: 0;
        font-size: 14px !important;
        color: #112749;
        font-weight: 500;
        top: 3.4em;
        position: absolute;
        right: 1.5em;
    }
    .opl2 p{
    margin: 0 2em;
    width: auto;
    opacity: 1;
    }
    .form-control {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 14px;
        line-height: 1.5;
        color: rgb(73, 80, 87, 0.8);
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    select.form-control:not([size]):not([multiple]) {
        height: 3.5em;
    }
    
    
    .b4l-product-list-right1 {
        width: 100% !important;
    }
    
    
    .b4l-product-list-right1 .product-btn3 {
        border: 2px solid #2D3079;
        border-radius: 8px;
        opacity: 1;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        padding: 1em 3em;
        background: #2D3079;
    }
    .fnt-size-22 {
        font-size: 22px;
    }
    .title-eli {
        font-size: 16px;
        font-weight: bold;
        color: #2D3079;
        text-align: right;
    }
    .title-eli-all {
        justify-content: flex-end !important;
    }
    .product-btn4 {
        border: 2px solid #2D3079;
        border-radius: 8px;
        opacity: 1;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        padding: 1em 3em;
        background: #2D3079;
    }
    .person-text-width {
        width: 100% !important;
    }
    .text-input {
    font-size: 16px;
    color: #000000;
    margin:0 0 0 0.5em !important;
    
    }
    .person-text-width1 {
        width: 30% !important;
    }
    .b4l-height {

        min-height: auto !important;
    }
    
    .example-list {
        width: 500px;
        max-width: 100%;
        border: solid 1px #ccc;
        min-height: 60px;
        display: block;
        background: white;
        border-radius: 4px;
        overflow: hidden;
      }
      
      .example-box {
        padding: 20px 10px;
        border-bottom: solid 1px #ccc;
        color: rgba(0, 0, 0, 0.87);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        cursor: move;
        background: white;
        font-size: 14px;
      }
      
      .cdk-drag-preview {
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                    0 8px 10px 1px rgba(0, 0, 0, 0.14),
                    0 3px 14px 2px rgba(0, 0, 0, 0.12);
      }
      
      .cdk-drag-placeholder {
        opacity: 0;
      }
      
      .cdk-drag-animating {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      }
      
      .example-box:last-child {
        border: none;
      }
      
      .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      }    

      html.cdk-global-scrollblock {
        position: initial !important;
    }
    
    html.cdk-global-scrollblock body {
        position: fixed;
    }

    .fl-Col{
        flex-direction: column !important;
    }