<div class="main">
    <div class="sidebar-main-title">
        <div class="d-flex fl-column js-center" style="width: 100%;"> 
            <div class="form-row">
                <div class="col-mg-4">
                    <mat-form-field>
                        <input type="file" matInput accept="application/x-x509-ca-cert, text/plain" [formControl]="fileControl" (change)="onSelectDocument($event)">
                    </mat-form-field>
                </div>
                <div class="col-mg-2">
                    <button type="button" style="margin-top: 15%;" (click)="uploadDocuments()" mat-flat-button color="primary">Upload</button>
                </div>
            </div>
        </div>
    </div>
    <div style="overflow-x: auto;">
        <table class="table dash-table-api">
            <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Cert File Name</th>
                <th scope="col">Created Date</th>
                <th scope="col">ReferenceId</th>
                <th scope="col">Algorithm</th>
                <th scope="col">Cert Created Date</th>
                <th scope="col">Cert Expity Date</th>
                <th scope="col">Key Size</th>
                <th scope="col">Organization Name</th>
                <th scope="col">Organization Unit Name</th>
                <th scope="col">Country</th>
                <th scope="col">State</th>
                <th scope="col">Locality</th>
                <th scope="col">Common Name</th>
                <th scope="col">Email Address</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let document of DocumentsList; index as documentIndex">
                    <td>{{documentIndex+1}}.</td>
                    <td>{{document.fileName}}</td>
                    <td>{{document.createdDate | date}}</td>
                    <td>{{document.referenceId}}</td>
                    <td>{{document.algorithm}}</td>
                    <td>{{document.certCreatedDate | date}}</td>
                    <td>{{document.certExpiryDate | date}}</td>
                    <td>{{document.keySize}}</td>
                    <td>{{document.organizationName}}</td>
                    <td>{{document.organizationUnitName}}</td>
                    <td>{{document.country}}</td>
                    <td>{{document.state}}</td>
                    <td>{{document.locality}}</td>
                    <td>{{document.commonName}}</td>
                    <td>{{document.emailAddress}}</td>
                    <td><p class="d-flex al-center w-100 js-center mb-0"><span [ngClass]="{'dot':document.isActive,'inActive':!document.isActive}">&#8226; </span>{{document.isActive ? 'Active' : 'InActive'}}</p></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
        
    
