.example-full-width {
  width: 100%;
}
.sand-box-cnl {
  background-color: #e8e8e8;
  padding: 0 1em;
  color: #888;
  border-radius: 5px;
  margin-right: 0.5em;
}

#b4l-content {
  min-height: 750px;
}

.sidebar {
  min-height: 750px;
  width: 250px;
  position: absolute;
  z-index: 1;
  background-color: #fafafa;
  overflow-x: hidden;
  padding-top: 0;
  border-right: 1px solid #e4e4e4;
  border-radius: 8px 0 0 8px;
}

.sidebar a {
  padding: 1em 2em;
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  display: block;
  border-bottom: 1px solid #e4e4e4;
  @media (max-width: 1366px) {
    padding: 1em;
    font-size: 14px;
  }
}
.sidebar a.active {
  color: #ffffff;
  background-color: #2d3079;
  border-right: none;
}

.main {
  // margin-left: 25em; /* Same as the width of the sidenav */
  padding: 0px 2em;
  margin-left: 18em;
  width: calc(100% - 250px);
  @media (max-width: 1366px) {
    width: calc(100% - 206px);
    margin-left: auto;
  }
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

.sidebar-main-title {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 1em 0;
}

.sidebar-main-title p {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
}

.setting-text {
  border: 1px solid #e4e4e4;
}

.setting-text-data {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 1.2em 1.5em;
  justify-content: space-between;
  border-bottom: 1px solid #e4e4e4;
}

.setting-text-data:last-of-type {
  border-bottom: none;
}

.setting-text-data p {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

.setting-text-data span {
  opacity: 0.4;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}






