<mat-card style="display: flex; width: 100%;">
    <form class="example-form" [formGroup]="ipvrResponseForm">
        <mat-form-field class="example-full-width mr-all">
            <mat-label>Application Id</mat-label>
            <input type="text" matInput placeholder="Enter Application Id" formControlName="ApplicationId">
              <mat-error>
                <app-print-error [control]="ipvrResponseForm.controls.ApplicationId"></app-print-error>
            </mat-error> 
        </mat-form-field> 
        <button type="submit" style="margin-left: 1em;" mat-flat-button color="primary"  (click)="saveipvrform()">View Ipvr Report </button> 
    </form>
   </mat-card>  
  
   <app-tryout-response *ngIf="response != null" [jsonData]="response"></app-tryout-response>
   <button *ngIf="downloadFile != null" type="submit" style="margin-left: 1em;" mat-flat-button color="primary" (click)="convertBase64ToFile()">Download Report</button>  
