<div class="container">
    <div class="row">
        <div id="b4l-content">

            <div class="sidebar">
                <a href="javascript:void(0)" class="active"> EBLR Value</a>
                <a href="javascript:void(0)"> MCLR Value</a>
                <a href="javascript:void(0)">Account Settings</a>

            </div>

            <div class="main">
                <div class="sidebar-main-title">
                    <p>EBLR Value</p>
                    <a *ngIf="isShowAddEBLR" (click)="openDialog(null);"  href="javaScript:void(0);"><img src="assets/img/update.svg" />Update EBLR Value</a>
                </div>
                <!-- <a href="javaScript:void(0);" (click)="save()" ><img src="assets/img/update.svg" />save</a> -->



                <div class="setting-text">
                    <div class="setting-text-data" *ngFor="let item of eblrList">
                        <p> {{item.plr}}% <ng-container *ngIf="item.isCurrentEffective"> (Currently Active)
                            </ng-container>
                        </p>
                        <span> From {{ item.effectiveFrom | date:'dd MMM yyyy' }}
                            {{ item.effectiveFrom | date:'shortTime' }} </span>
                        <button mat-button (click)="updatePlrActionStatus(item, 1)" *ngIf="item.approve">{{item.approve.buttonName}}</button>
                        <button mat-button (click)="updatePlrActionStatus(item, 2)" *ngIf="item.reject">{{item.reject.buttonName}}</button>
                        <span> {{item.status}}</span>
                        <span (click)="editEBLR(item)" *ngIf="item.isEdit"> <img src="assets/img/edit-icon.svg" /></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>