<div class="container">
    <div class="row">
        <div id="b4l-content">

            <div class="sidebar">
                <a href="#home" class="active"> EBLR Value</a>
                <a href="#services"> MCLR Value</a>
                <a href="#clients">Account Setting</a>

            </div>


            <div class="main">


                <div class="sidebar-main-title">
                    <p>EBLR Value</p>
                    <a (click)="openDialog();" href="javaScript:void(0);"><img src="assets/img/update.svg" />Update EBLR
                        Value</a>
                </div>
                <!-- <a href="javaScript:void(0);" (click)="save()" ><img src="assets/img/update.svg" />save</a> -->


                
    <div class="setting-text">
        <div class="setting-text-data" *ngFor="let item of eblrList">
            <p> {{item.plr}}% <ng-container *ngIf="item.isCurrentEffective" > (Currently Active) </ng-container> </p>
            <span> From {{ item.effectiveFrom | date:'dd MMM yyyy' }}  {{ item.effectiveFrom | date:'shortTime' }}  </span>
        </div>
    </div>

                <!-- <div class="setting-text">

    <div class="setting-text-data">
    <p>12.1% (Secheduled)</p>
    <span>From 22 May 2020 06:00 AM</span>
    </div>


    <div class="setting-text-data">
        <p>12.1% (Currently Active)</p>
        <span>From 18 April 2020 02:03 PM</span>
        </div>


        <div class="setting-text-data">
            <p>11.9%</p>
            <span>From 18 April 2020 02:03 PM</span>
            </div>


            <div class="setting-text-data">
                <p>11.4%</p>
                <span>From 18 April 2020 02:03 PM</span>
                </div>


                <div class="setting-text-data">
                    <p>12.1% </p>
                    <span>From 22 May 2020 06:00 AM</span>
                    </div>


                    <div class="setting-text-data">
                        <p>12.1% </p>
                        <span>From 22 May 2020 06:00 AM</span>
                        </div>


                        <div class="setting-text-data">
                            <p>12.1% </p>
                            <span>From 22 May 2020 06:00 AM</span>
                            </div>
                </div> -->
            </div>
        </div>
    </div>
</div>