<div id="b4l-pop-up">
    <div class="import-matches">
        <div class="import-matches-left">
            <p>Change Account Priority Order</p>  <span>Change order by dragging up and down or use shift arrows in right</span>
        </div>
        <a  href="#" class="product-btn1">Reset Order</a>
    </div>
   
   





    <table class="table">
      
        <tbody>
          <tr class="pop-up-cl">
            <td><p>1</p></td>
            <td><p>Cash Credit Account</p></td>
            <td></td>
            <td><p><img src="assets/img/Shiftdown.svg" /> Shift Down</p></td>
          </tr>


          <tr class="pop-up-cl">
            <td><p>2</p></td>
            <td><p>Current Account</p></td>
            <td><p><img src="assets/img/Shiftup.svg" /> Shift Up</p></td>
            <td><p><img src="assets/img/Shiftdown.svg" /> Shift Down</p></td>
          </tr>

          <tr class="pop-up-cl">
            <td><p>3</p></td>
            <td><p>Overdraft Account</p></td>
            <td><p><img src="assets/img/Shiftup.svg" /> Shift Up</p></td>
            <td><p><img src="assets/img/Shiftdown.svg" /> Shift Down</p></td>
          </tr>

          <tr class="pop-up-cl">
            <td><p>4</p></td>
            <td><p>Savings Account</p></td>
            <td><p><img src="assets/img/Shiftup.svg" /> Shift Up</p></td>
            <td><p><img src="assets/img/Shiftdown.svg" /> Shift Down</p></td>
          </tr>

          <tr class="pop-up-cl">
            <td><p>5</p></td>
            <td><p>Other Account</p></td>
            <td></td>
            <td><p><img src="assets/img/Shiftdown.svg" /> Shift Down</p></td>
          </tr>
        
        </tbody>
      </table>





    <div class="btn-pop-up">
        <a href="javascript:void(0)" class="product-btn4" (click)="close(null)">Cancel</a>
        <a href="javascript:void(0)" class="product-btn3" (click)="save()" >Save</a>
    </div>
</div>