.btn-pop-up {
    display: flex;
    position: sticky;
    max-width: 50em;
    background: #ffffff;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    margin: 3em 0 0;
    padding: 2em;
    width: 100%;
    bottom: 0;
    background: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-pop-up a img {
    margin-right: 0.3em ;
}


.btn-pop-up .product-btn3 {
    border: 1px solid #2D3079;
    border-radius: 8px;
    opacity: 1;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    padding: 1em 2em;  
    width: 48%;
    text-align: center;
    background: #2D3079;
}

.btn-pop-up .product-btn4 {
    border: 1px solid #BEBEBE;
    border-radius: 8px;
    opacity: 1;
    color: #5C5C5C;
    font-size: 16px;
    font-weight: 500;
    padding: 1em 2em;  
    width: 48%;
    text-align: center;
    background: #F7F7F7;
}
.bold span {
    margin-right: 1em;
}
.bold {
    opacity: 1 !important;
}

::-webkit-input-placeholder {
    margin-left: 1em;
}

.pop-side-left p {
    opacity: 1 !important;
    padding-right: 1em;
}
.import-matches-left {
    display: flex;
    flex-direction: column;  
}

.import-matches-left p {
color: #000000;
font-size: 20px;
font-weight: bold;
}

.import-matches-left span {
    color: #000000;
font-size: 16px;
font-weight: 500;
opacity: 0.4;
}
.pop-up-cl {
    padding: 0 2em;
}

.pop-up-cl p {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.4;
    margin-bottom: 0;
    padding: 0.5em 1em;
}
#b4l-pop-up {
 padding: 0em !important;
}


.import-matches {   
    position: sticky;
     max-width: 50em;
     width: 100%;
    background: #ffffff;
    z-index: 1;
    border-bottom: 1px solid #D8D8D8;;
}

.import-matches {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    padding: 2em;
    top: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    }
    .product-btn1 {
        border: 2px solid #2D3079;
        border-radius: 8px;
        opacity: 1;
        color: #2D3079;
        font-size: 16px;
        font-weight: 500;
        padding: 1em;
        background: #ffffff;
       
    }

    .example-list {
        width: 500px;
        max-width: 100%;
        border: solid 1px #ccc;
        min-height: 60px;
        display: block;
        background: white;
        border-radius: 4px;
        overflow: hidden;
      }
      
      .example-box {
        padding: 20px 10px;
        border-bottom: solid 1px #ccc;
        color: rgba(0, 0, 0, 0.87);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        cursor: move;
        background: white;
        font-size: 14px;
      }
      
      .cdk-drag-preview {
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                    0 8px 10px 1px rgba(0, 0, 0, 0.14),
                    0 3px 14px 2px rgba(0, 0, 0, 0.12);
      }
      
      .cdk-drag-placeholder {
        opacity: 0;
      }
      
      .cdk-drag-animating {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      }
      
      .example-box:last-child {
        border: none;
      }
      
      .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      }    

      html.cdk-global-scrollblock {
        position: initial !important;
    }
    
    html.cdk-global-scrollblock body {
        position: fixed;
    }
    @media(max-width: 1440px) {

        .btn-pop-up .product-btn3 {        
            padding: 1em 1em;             
        }

        .import-matches-left p{           
            font-size: 18px ;            
        }
        .import-matches-left span {          
            font-size: 14px;            
        }
        .pop-up-cl p {          
            font-size: 14px;           
        }

       }


     