<div id="b4l-pop-up">
    <div class="import-matches">
        <div class="import-matches-left">
            <p>Change Account Priority Order</p>  <span>Change order by dragging up and down or use shift arrows in right</span>
        </div>
        <a  href="#" class="product-btn1">Reset Order</a>
    </div>
  
     <table class="table">
        <tbody cdkDropList (cdkDropListDropped)="drop($event)">
          <tr class="pop-up-cl" *ngFor="let item of accounts; index as i; first as isFirst; last as isLast" cdkDrag>
            <td><p class="bold"><span>{{i+1}}.</span> {{item}}</p></td>
            <td></td>
            <td *ngIf="isFirst || isLast"></td>
            <td *ngIf="isFirst"><p><img src="assets/img/Shiftdown.svg" /> Shift Down</p></td>
            <td *ngIf="isLast"><p><img src="assets/img/Shiftup.svg" /> Shift up</p></td>
            <td *ngIf="!isLast && !isFirst"><p><img src="assets/img/Shiftup.svg" /> Shift Up</p></td>
            <td *ngIf="!isLast && !isFirst"><p><img src="assets/img/Shiftdown.svg" /> Shift Down</p></td>
          </tr>
        </tbody>
      </table> 



    <div class="btn-pop-up">
        <a href="javascript:void(0)" class="product-btn4" (click)="close()">Cancel</a>
        <a href="javascript:void(0)" class="product-btn3" (click)="save()" >Save</a>
    </div>
</div>