<div id="b4l-pop-up">
    <div class="import-matches">
        <div class="import-matches-left">
            <p>Change Account Priority Order</p>  <span>Change order by dragging up and down or use shift arrows in right</span>
        </div>
        <a  href="#" class="product-btn1">Reset Order</a>
    </div>
   
   





    <table class="table">
      
        <tbody>
          <tr class="pop-up-cl">
         
            <td><p class="bold"><span>1</span> Credit Account</p></td>
            <td></td>
            <td><p><img src="assets/img/Shiftdown.svg" /> Shift Down</p></td>
          </tr>


          <tr class="pop-up-cl">
          
            <td width="50%"><p class="bold"><span>2</span> Current Account</p></td>
            <td><p><img src="assets/img/Shiftup.svg" /> Shift Up</p></td>
            <td><p><img src="assets/img/Shiftdown.svg" /> Shift Down</p></td>
          </tr>

          <tr class="pop-up-cl">
       
            <td><p class="bold"><span>3</span> Overdraft Account</p></td>
            <td><p><img src="assets/img/Shiftup.svg" /> Shift Up</p></td>
            <td><p><img src="assets/img/Shiftdown.svg" /> Shift Down</p></td>
          </tr>

          <tr class="pop-up-cl">
         
            <td><p class="bold"><span>4</span> Savings Account</p></td>
            <td><p><img src="assets/img/Shiftup.svg" /> Shift Up</p></td>
            <td><p><img src="assets/img/Shiftdown.svg" /> Shift Down</p></td>
          </tr>

          <tr class="pop-up-cl">
      
            <td><p class="bold"><span>5</span> Other Account</p></td>
            <td></td>
            <td><p><img src="assets/img/Shiftdown.svg" /> Shift Down</p></td>
          </tr>
        
        </tbody>
      </table>





    <div class="btn-pop-up">
        <a href="javascript:void(0)" class="product-btn4" (click)="close(null)">Cancel</a>
        <a href="javascript:void(0)" class="product-btn3" (click)="save()" >Save</a>
    </div>
</div>