.json-pretty{
    color:#2D3079; 
    font-size: 15px; 
    font-weight: bold;
    align-items: center;
}
mat-expansion-panel-header{
    background-color: rgb(206, 197, 197);
}
form > mat-form-field{
    padding-top: 1.5em !important;
} 

mat-tab-group {
    width: 100%;
} 