<form>
    <mat-card class="common_form_wrap">
        <form [formGroup]="udhyamRegDetailForm" (ngSubmit)="onFormSubmit()">
            <div class="form_wrap">
                <mat-form-field class="form-group">
                    <mat-label>Udyam Registration Number</mat-label>
                    <input type="text" matInput [formControl]="udhyamRegDetailForm.controls.udhyamNo" [errorStateMatcher]="matcher" placeholder="Ex. UDYAM-MH-19-0000001">
                    <mat-error *ngIf="udhyamRegDetailForm.get('udhyamNo').hasError('required')">
                        Please Enter Udhyam Registration Number
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-group">
                    <mat-label>Mobile Number</mat-label>
                    <input type="text" matInput [formControl]="udhyamRegDetailForm.controls.mobileNo" [errorStateMatcher]="matcher" placeholder="Ex. 9819574650">
                    <mat-error *ngIf="udhyamRegDetailForm.get('mobileNo').hasError('required')">
                        Please Enter Mobile Number
                    </mat-error>
                </mat-form-field>
            </div>
            <button type="submit" class="send-btn submit-form-btn ml-auto" mat-flat-button>Send</button>
        </form>
    </mat-card>
</form>
<app-tryout-response *ngIf="response != null" [jsonData]="response"></app-tryout-response>