#header {

  padding: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  }
  .header {
    background: #2D3079;
  }
  .header-right {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: flex-end;
  }
  .header-right p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    margin: 0 1em;
    display: flex;
  align-items: center;
  }
  .header-right p img {
      float: left;
      width: 25px;
        height: 25px;
      object-fit: contain;
      border-radius: 50%;
      margin-right: 0.5em;
  }
  .header-right .down-arrow {
    font-size: 18px;
    color: #ffffff;
    width: 18px;
    position: relative;
  }
  .notify-badge{
    position: absolute;
    background: #EB5A47;
    height: 10px;
    top: -2px;
    right: -2px;
    width: 10px;
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
    border-radius: 50%;
    color: white;
    border: 1px solid #2D3079;
    z-index: 1;
}
.pos {
  position: relative;
}

  .topnav {
    overflow: hidden;
        padding: 0 5em;
   
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 26px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }
  
  .topnav a:hover {
    border-bottom: 3px solid #ffffff;
   
  }
  
  .topnav a.active {
    border-bottom: 3px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
  }

  
  #footer {
    background: #F4F4F4;
    padding: 2em 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  width: 100%;
    bottom: 0;
  }

   .footer-left p {
     color: #000000;
     opacity: 0.4;
     font-size: 16px;
     font-weight: 500;
     margin-bottom: 0;

   }
  .footer-right {
  float: right;
  }
  .footer-right ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  }
  .footer-right ul li {
    list-style: none;
    margin: 0 1em;
    display: flex;
    align-items: center;
  }
  .footer-right ul li a {
  color: #000000;
  opacity: 0.4;
  text-decoration: none;
  font-size: 16px;
  }

