<div id="b4l-pop-up">
    <div class="import-matches">
        <div class="import-matches-left">
            <p>Import {{data.type}} parameters</p>  <span>Please select a product</span>
        </div>
        <div class="input-group">
            <input #criteria (input)="updateCriteria(criteria.value)" id="search" type="text" class="form-control" name="search" placeholder="Search product">
            <span class="input-group-addon"><img src="assets/img/Search.svg"></span>
        </div>
    </div>
   
    <div class="pop-up-content">
        <div class="pop-up-cl" *ngFor="let item of itemList" >
            <mat-radio-group aria-label="Select an option" [(ngModel)]="product" name="projects">
                <mat-radio-button  [value]="item">{{item.name}}</mat-radio-button>
            </mat-radio-group>
            <p *ngIf="data.type == 'matches'">{{item.count}} parameters</p>
        </div>
        <div class="pop-up-cl"  *ngIf="productList.length === 0 || !productList" >
            <p>No data found</p>
        </div>
    </div>

    <div class="btn-pop-up">
        <a href="javascript:void(0)" class="product-btn4" (click)="close(null)">Cancel</a>
        <a href="javascript:void(0)" class="product-btn3" (click)="save()" >Import {{data.type}} parameters</a>
    </div>
</div>