<!-- <p> ipvr component</p>   -->

<mat-card class="w-100">
    <form class="example-form ipvr-page-form" [formGroup]="ipvrreqForm">
        <!-- stateName-->
        <mat-form-field class="example-full-width mr-all">
            <mat-label>State Name</mat-label>
            <mat-select formControlName="State" (valueChange)="getRegionMaster($event);" >                 
                <mat-option *ngFor="let data of stateMasterList" [value]="data"  >
                    {{data.name}}
                </mat-option>
            </mat-select>
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls.State"></app-print-error>
            </mat-error>
        </mat-form-field>


     
    <!-- Add For Loop Here-->
    <ng-container *ngIf="selectedStateObj && selectedStateObj['FIELDS']">
    <ng-container *ngFor="let data1 of selectedStateObj['FIELDS'];index as f" >
        <mat-form-field    class="example-full-width mr-all">
            <mat-label>{{data1.label}}</mat-label>
            <mat-select formControlName="{{data1.id}}" (ngModelChange)="getDetailMaster($event,f, data1.id)">
                <mat-select-filter [placeholder]="'search...'" [displayMember]="'name'"></mat-select-filter>
                <mat-option  *ngFor="let data of updateDistrict[data1.id] " [value]="data">
                    {{data}}
                </mat-option>
            </mat-select>
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls[data1.id]"></app-print-error>
            </mat-error>
        </mat-form-field>

    </ng-container>
    </ng-container> 


    <ng-container *ngIf="selectedStateObj1 && selectedStateObj1['LOCATION_POINT_FIELDS']">
        <ng-container *ngFor="let data2 of selectedStateObj1['LOCATION_POINT_FIELDS']" >
            <mat-form-field    class="example-full-width mr-all">
                <mat-label>{{data2.label}}</mat-label>
                <input type="text" matInput placeholder="{{data2.label}}" formControlName="{{data2.id}}" >
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls[data2.id]"></app-print-error>
            </mat-error>
            </mat-form-field>
    
        </ng-container>
        </ng-container> 
    



        
        <!-- <mat-form-field  *ngIf="data1.id=='DistrictName' || data1.id=='TalukaName' ||  data1.id=='VillageName' || data1.id=='Mouza' || data1.id=='Halka' || data1.id=='Anchal'" class="example-full-width mr-all">
            <mat-label>{{data1.label}}</mat-label>
            <div *ngIf="data1.id=='DistrictName'"> 
                <mat-select formControlName="{{data1.id}}" (valueChange)="getDetailMaster($event)">
                    <mat-select-filter [placeholder]="'search...'" [displayMember]="'name'"></mat-select-filter>
                    <mat-option  *ngFor="let data of districtNameList" [value]="data">
                        {{data.name}}
                    </mat-option>
                </mat-select>
            </div>

                    <div *ngIf="data1.id=='TalukaName'"> 
                        <mat-select formControlName="{{data1.id}}" (valueChange)="getVilageListMaster($event)">
                            <mat-select-filter [placeholder]="'search...'" [displayMember]="'name'"></mat-select-filter>
                        <mat-option  *ngFor="let data of talukaNameList" [value]="data">
                            {{data.name}}
                        </mat-option>
                        </mat-select>
                    </div>

                    <div *ngIf="data1.id=='VillageName'"> 
                    <mat-select formControlName="{{data1.id}}">
                        <mat-select-filter [placeholder]="'search...'" [displayMember]="'name'"></mat-select-filter>
                        <mat-option  *ngFor="let data of villageNameList" [value]="data">
                            {{data.name}}
                        </mat-option>
                    </mat-select>
                </div>    
                <mat-error>
                    <app-print-error [control]="ipvrreqForm.controls.DistrictName"></app-print-error>
                </mat-error>
        </mat-form-field> -->




        <!-- DistrictName   
        <mat-form-field *ngIf="data1.id=='DistrictName'"  class="example-full-width mr-all">
            <mat-label>DistrictName</mat-label>
                <mat-select formControlName="DistrictName" (valueChange)="getTalukaListByDistrictIdMaster($event)">
                    <mat-select-filter [placeholder]="'search...'" [displayMember]="'name'" [array]="districtNameList" (filteredReturn)="districtList1 =$event"></mat-select-filter>
                    <mat-option *ngFor="let data of districtList1" [value]="data">
                        {{data.name}}
                    </mat-option>
                </mat-select>
                <mat-error>
                    <app-print-error [control]="ipvrreqForm.controls.DistrictName"></app-print-error>
                </mat-error>
        </mat-form-field>

        TalukaName
        <mat-form-field *ngIf="data1.id=='TalukaName'" class="example-full-width mr-all">
            <mat-label>Taluka Name</mat-label>
                <mat-select formControlName="TalukaName" (valueChange)="getVilageListMaster($event)">
                    <mat-select-filter [placeholder]="'search...'" [displayMember]="'name'" [array]="talukaNameList" (filteredReturn)="talukaList1 =$event"></mat-select-filter>
                    <mat-option *ngFor="let data of talukaList1" [value]="data">
                        {{data.name}}
                    </mat-option>
                </mat-select>
                <mat-error>
                    <app-print-error [control]="ipvrreqForm.controls.TalukaName"></app-print-error>
                </mat-error>

        </mat-form-field>

        VillageName
        <mat-form-field *ngIf="data1.id=='VillageName'&&this.ipvrreqForm.value.State != null  && !(this.ipvrreqForm.value.State.id == 2 && this.ipvrreqForm.value.BaseDocumentType == 'PropertyCard')" class="example-full-width mr-all">
            <mat-label>Village Name</mat-label>
                <mat-select formControlName="VillageName">
                    <mat-select-filter [placeholder]="'search...'" [displayMember]="'name'" [array]="villageNameList" (filteredReturn)="villageList1 =$event"></mat-select-filter>  
                    <mat-option *ngFor="let data of villageList1" [value]="data.name">
                        {{data.name}}
                    </mat-option>
                </mat-select>
                <mat-error>
                    <app-print-error [control]="ipvrreqForm.controls.VillageName"></app-print-error>
                </mat-error>
        </mat-form-field>

        Mouza
        <mat-form-field *ngIf="data1.id=='Mouza'"  class="example-full-width mr-all">
            <mat-label>Mouza</mat-label>
                <mat-select formControlName="Mouza" (valueChange)="getTalukaListByDistrictIdMaster($event)">
                    <mat-select-filter [placeholder]="'search...'" [displayMember]="'name'" [array]="districtNameList" (filteredReturn)="districtList1 =$event"></mat-select-filter>
                    <mat-option *ngFor="let data of districtList1" [value]="data">
                        {{data.name}}
                    </mat-option>
                </mat-select>
                <mat-error>
                    <app-print-error [control]="ipvrreqForm.controls.DistrictName"></app-print-error>
                </mat-error>
        </mat-form-field>

        halka
        <mat-form-field *ngIf="data1.id=='Halka'"  class="example-full-width mr-all">
            <mat-label>Halka</mat-label>
                <mat-select formControlName="Halka" (valueChange)="getTalukaListByDistrictIdMaster($event)">
                    <mat-select-filter [placeholder]="'search...'" [displayMember]="'name'" [array]="districtNameList" (filteredReturn)="districtList1 =$event"></mat-select-filter>
                    <mat-option *ngFor="let data of districtList1" [value]="data">
                        {{data.name}}
                    </mat-option>
                </mat-select>
                <mat-error>
                    <app-print-error [control]="ipvrreqForm.controls.DistrictName"></app-print-error>
                </mat-error>
        </mat-form-field>

        Anchal
        <mat-form-field *ngIf="data1.id=='Anchal'"  class="example-full-width mr-all">
            <mat-label>Anchal</mat-label>
                <mat-select formControlName="Anchal" (valueChange)="getTalukaListByDistrictIdMaster($event)">
                    <mat-select-filter [placeholder]="'search...'" [displayMember]="'name'" [array]="districtNameList" (filteredReturn)="districtList1 =$event"></mat-select-filter>
                    <mat-option *ngFor="let data of districtList1" [value]="data">
                        {{data.name}}
                    </mat-option>
                </mat-select>
                <mat-error>
                    <app-print-error [control]="ipvrreqForm.controls.DistrictName"></app-print-error>
                </mat-error>
        </mat-form-field> -->


        <!-- <mat-form-field  *ngIf="data1.id!=='DistrictName'&& data1.id!=='TalukaName'&&  data1.id!=='VillageName'&& data1.id!=='Mouza'&& data1.id!=='Halka'&& data1.id!=='Anchal'"  class="example-full-width mr-all">
            <mat-label>{{data1.label}}</mat-label>
                <input type="text" matInput placeholder="{{data1.label}}" formControlName="{{data1.id}}" >
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls[data1.id]"></app-print-error>
            </mat-error>
        </mat-form-field>

    </ng-container>
    </ng-container>  -->

<!-- create Dynamic Input Field Here -->

<!-- End of For Loop-->

<!-- <div *ngFor="let data1 of stateMaster['Gujarat'].Fields" formGroupName="statedata1">
    {{data1}}
    <<input type="text" formControlName={{data1.label}} name={{data1.label}} [value]="data1.inputValue"/> 
</div> -->

        <mat-form-field class="example-full-width mr-all">
            <mat-label>Application No</mat-label>
            <input type="text" matInput placeholder="Enter Application No" formControlName="ApplicationNo">
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls.ApplicationNo"></app-print-error>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width mr-all">
            <mat-label>Branch Code</mat-label>
            <input type="text" matInput placeholder="Enter Branch Code" formControlName="BranchCode" [errorStateMatcher]="false">
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls.BranchCode"></app-print-error>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width mr-all">
            <mat-label>Applicant Name</mat-label>
            <input type="text" matInput placeholder="Enter Applicant Name" formControlName="ApplicantName">
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls.ApplicantName"></app-print-error>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width mr-all">
            <mat-label>Bank Mobile Number</mat-label>
            <input type="text" matInput placeholder="Enter Bank Mobile Number" formControlName="BankMobileNumber">
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls.BankMobileNumber"></app-print-error>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width mr-all">
            <mat-label>Bank Email</mat-label>
            <input type="text" matInput placeholder="Enter Bank Email" formControlName="BankEmail">
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls.BankEmail"></app-print-error>
            </mat-error>
        </mat-form-field>

        <!-- <mat-form-field class="example-full-width mr-all">
            <mat-label>Property Address</mat-label>
            <input type="text" matInput placeholder="Enter Property Address" formControlName="PropertyAddress">
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls.PropertyAddress"></app-print-error>
            </mat-error>
        </mat-form-field> -->

        <mat-form-field class="example-full-width mr-all">
            <mat-label>Base Document Type</mat-label>
            <mat-select formControlName="BaseDocumentType" (ngModelChange)="baseDocumentTypeValidation($event)">
                <mat-option *ngFor="let data of baseDocument" [value]="data.value">
                    {{data.value}}
                </mat-option>
            </mat-select>
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls.BaseDocumentType"></app-print-error>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width mr-all">
            <mat-label>Land Property Type</mat-label>
            <mat-select formControlName="LandPropertyType">
                <mat-option *ngFor="let data of landProperty" [value]="data.value">
                    {{data.value}}
                </mat-option>
            </mat-select>
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls.LandPropertyType"></app-print-error>
            </mat-error>
        </mat-form-field>

        <!--Region-->
        <!-- <mat-form-field
            *ngIf="this.ipvrreqForm.value.State != null && this.ipvrreqForm.value.stateId === 53 && this.ipvrreqForm.value.BaseDocumentType === 'PropertyCard'"
            class="example-full-width mr-all">
            <mat-label>Region</mat-label>
            <mat-select formControlName="Region" (valueChange)="getdistrictListByRegionIdMaster($event)">
                <mat-select-filter [placeholder]="'search...'" [displayMember]="'name'" [array]="regionMasterList" (filteredReturn)="regionList1 =$event"></mat-select-filter>  
                <mat-option *ngFor="let data of regionList1" [value]="data">
                    {{data.name}}
                </mat-option>
            </mat-select>
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls.Region"></app-print-error>
            </mat-error>
        </mat-form-field> -->

        <!--DistrictName-->
         <!-- <mat-form-field class="example-full-width">
            <mat-label>District Name</mat-label>
            <mat-select formControlName="DistrictName" (valueChange)="getTalukaListByDistrictIdMaster($event)">
                <mat-select-filter [placeholder]="'search...'" [displayMember]="'name'" [array]="districtNameList" (filteredReturn)="districtList1 =$event"></mat-select-filter>
                <mat-option *ngFor="let data of districtList1" [value]="data">
                    {{data.name}}
                </mat-option>
            </mat-select>
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls.DistrictName"></app-print-error>
            </mat-error>
        </mat-form-field>  -->

        <!--TalukaName-->
         <!-- <mat-form-field *ngIf="this.ipvrreqForm.value.BaseDocumentType === '712'" class="example-full-width mr-all">
            <mat-label>Taluka Name</mat-label>
            <mat-select formControlName="TalukaName" (valueChange)="getVilageListMaster($event)">
                                <mat-select-filter [placeholder]="'search...'" [displayMember]="'name'" [array]="talukaNameList" (filteredReturn)="talukaList1 =$event"></mat-select-filter>
                                <mat-option *ngFor="let data of talukaList1" [value]="data">
                    {{data.name}}
                </mat-option>
            </mat-select>
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls.TalukaName"></app-print-error>
            </mat-error>
        </mat-form-field>  -->

        <!--CitySurveyOffice-->
        <!-- <mat-form-field *ngIf="this.ipvrreqForm.value.BaseDocumentType === 'PropertyCard'"
            class="example-full-width mr-all">
            <mat-label>City Survey Office</mat-label>
            <mat-select formControlName="CitySurveyOffice"
                (valueChange)="getVilageListBySurveyOfficeNameMaster($event)">
                
                <mat-select-filter [placeholder]="'search...'" [displayMember]="'name'" [array]="getCitySurveyOfficeList" (filteredReturn)="citySurveyOfficeList1 =$event"></mat-select-filter>  
                <mat-option *ngFor="let data of this.citySurveyOfficeList1" [value]="data">
                    {{data.name}}
                </mat-option>
            </mat-select>
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls.CitySurveyOffice"></app-print-error>
            </mat-error>
        </mat-form-field> -->

        <!--VillageName-->
         <!-- <mat-form-field
            *ngIf="this.ipvrreqForm.value.State != null  && !(this.ipvrreqForm.value.State.id == 2 && this.ipvrreqForm.value.BaseDocumentType == 'PropertyCard')"
            class="example-full-width mr-all">
            <mat-label>Village Name</mat-label>
            <mat-select formControlName="VillageName">
                <mat-select-filter [placeholder]="'search...'" [displayMember]="'name'" [array]="villageNameList" (filteredReturn)="villageList1 =$event"></mat-select-filter>  
                <mat-option *ngFor="let data of villageList1" [value]="data.name">
                    {{data.name}}
                </mat-option>
            </mat-select>
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls.VillageName"></app-print-error>
            </mat-error>
        </mat-form-field>  -->

        <!-- <mat-form-field *ngIf="this.ipvrreqForm.value.BaseDocumentType === '712'" class="example-full-width mr-all">
            <mat-label>Survey No</mat-label>
            <input type="text" matInput placeholder="Enter Survey No" formControlName="SurveyNo">
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls.SurveyNo"></app-print-error>
            </mat-error>
        </mat-form-field> -->

        <!-- <mat-form-field class="example-full-width mr-all">
            <mat-label>TP No</mat-label>
            <input type="text" matInput placeholder="Enter TP No" formControlName="TpNo">
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls.TpNo"></app-print-error>
            </mat-error>
        </mat-form-field> -->

        <!-- <mat-form-field class="example-full-width mr-all">
            <mat-label>FP No</mat-label>
            <input type="text" matInput placeholder="Enter FP No" formControlName="FpNo">
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls.FpNo"></app-print-error>
            </mat-error>
        </mat-form-field> -->

        <!-- <mat-form-field class="example-full-width mr-all">
            <mat-label>Khata No</mat-label>
            <input type="text" matInput placeholder="Enter Khata No" formControlName="KhataNo">
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls.KhataNo"></app-print-error>
            </mat-error>
        </mat-form-field> -->

        <!-- <mat-form-field *ngIf="this.ipvrreqForm.value.BaseDocumentType === 'PropertyCard'"
            class="example-full-width mr-all">
            <mat-label>City Survey Number</mat-label>
            <input type="text" matInput placeholder="Enter City Survey Number" formControlName="CitySurveyNumber">
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls.CitySurveyNumber"></app-print-error>
            </mat-error>
        </mat-form-field> -->

        <!--Ward-->
        <!-- <mat-form-field
            *ngIf="this.ipvrreqForm.value.State != null && this.ipvrreqForm.value.State.id === 44 && this.ipvrreqForm.value.BaseDocumentType === 'PropertyCard'"
            class="example-full-width mr-all">
            <mat-label>Ward</mat-label>
            <mat-select formControlName="Ward">
                <mat-select-filter [placeholder]="'search...'" [displayMember]="'name'" [array]="wardList" (filteredReturn)="wardList1 =$event"></mat-select-filter>               
                <mat-option *ngFor="let data of wardList1" [value]="data.name">
                    {{data.name}}
                </mat-option>
            </mat-select>
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls.Ward"></app-print-error>
            </mat-error>
        </mat-form-field> -->

        <!-- <mat-form-field class="example-full-width mr-all">
            <mat-label>Sheet No</mat-label>
            <input type="text" matInput placeholder="Enter Sheet No" formControlName="SheetNo">
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls.SheetNo"></app-print-error>
            </mat-error>
        </mat-form-field> -->

        <!-- <mat-form-field class="example-full-width mr-all">
            <mat-label>Flat Society Scheme Name</mat-label>
            <input type="text" matInput placeholder="Enter Flat Society Scheme Name"
                formControlName="FlatSocietySchemeName">
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls.FlatSocietySchemeName"></app-print-error>
            </mat-error>
        </mat-form-field>
 -->

        <!-- <mat-form-field class="example-full-width mr-all">
            <mat-label>Flat Building Plot Shop No</mat-label>
            <input type="text" matInput placeholder="Enter Flat Building Plot Shop No"
                formControlName="FlatBuildingPlotShopNo">
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls.FlatBuildingPlotShopNo"></app-print-error>
            </mat-error>
        </mat-form-field> -->

        <mat-form-field class="example-full-width mr-all">
            <mat-label>Loan Amount</mat-label>
            <input type="text" matInput placeholder="Enter Loan Amount" formControlName="LoanAmount">
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls.LoanAmount"></app-print-error>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width mr-all">
            <mat-label>Type Of Loan</mat-label>
            <mat-select formControlName="TypeOfLoan">
                <mat-option *ngFor="let data of typeofLoans" [value]="data.value">
                    {{data.value}}
                </mat-option>
            </mat-select>
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls.TypeOfLoan"></app-print-error>
            </mat-error>
        </mat-form-field>


        <!--IsLien-->
        <mat-slide-toggle formControlName="IsLien" color="primary" (change)="islienValidation()">Is Lien
        </mat-slide-toggle>

        <!-- <mat-form-field class="example-full-width mr-all">
            <mat-label>Lien Amount</mat-label>
            <input type="text" matInput placeholder="Enter Lien Amount" formControlName="LienAmount">
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls.LienAmount"></app-print-error>
            </mat-error>
        </mat-form-field> -->

        <!-- <mat-form-field class="example-full-width mr-all">
            <mat-label>Lien Date</mat-label>
            <input matInput formControlName="LienDate" [matDatepicker]="picker" placeholder="Ex.1991/12/03"
                (dateChange)="onDateChange($event.value, ipvrreqForm, 'LienDate', 'en_IN', 'yyyy-MM-dd')">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls.LienDate"></app-print-error>
            </mat-error>
        </mat-form-field> -->

        <!-- <mat-form-field class="example-full-width mr-all">
            <mat-label>Lien Person Name</mat-label>
            <input type="text" matInput placeholder="Enter Lien Person Name" formControlName="LienPersonName">
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls.LienPersonName"></app-print-error>
            </mat-error>
        </mat-form-field> -->

        <!-- <mat-form-field class="example-full-width mr-all">
            <mat-label>Lien From</mat-label>
            <input type="text" matInput placeholder="Enter Lien From" formControlName="LienFrom">
            <mat-error>
                <app-print-error [control]="ipvrreqForm.controls.LienFrom"></app-print-error>
            </mat-error>
        </mat-form-field> -->

        <!--IsOwnerSame-->
        <mat-slide-toggle formControlName="IsOwnerSame" color="primary">Is Owner Same
        </mat-slide-toggle>

        <!-- #docregion basic-panel -->
        <!-- #docregion hide-toggle -->
        <!-- <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-description>
                    Owner Names
                </mat-panel-description>
                <button type="submit"  class="submit-form-btn" mat-flat-button color="primary"
                    (click)="addNewGroup()">Add owner name</button>
            </mat-expansion-panel-header>
            <div formArrayName="PropertyOwners">
                <div *ngFor="let data of ipvrreqForm.get('PropertyOwners').controls;index as i" [formGroupName]="i">
                    <mat-form-field class="example-full-width mr-all">
                        <mat-label>Owner Name</mat-label>
                        <input type="text" matInput placeholder="Enter ownername" formControlName="OwnerName">
                        <mat-error>
                            <app-print-error [control]="ipvrreqForm.controls.ownername"></app-print-error>
                        </mat-error>
                    </mat-form-field>

                    <button mat-icon-button color="gray" (click)="deleteAddGroup(i)">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>

        </mat-expansion-panel> -->

        <mat-card class="w-100 px-1">
            <div class="add-owner-btn">
                <button type="button" class="submit-form-btn" class="create-application-btn" mat-flat-button color="primary"
                    (click)="addNewGroup()">Add owner name</button>
            </div>

            <div formArrayName="PropertyOwners">
                <div class="row px-3">
                    <div *ngFor="let data of ipvrreqForm.get('PropertyOwners').controls;index as i" [formGroupName]="i">
                        <mat-form-field class="example-full-width mr-all ml-0">
                            <mat-label>Owner Name</mat-label>
                            <input type="text" matInput placeholder="Enter ownername" formControlName="OwnerName">
                            <mat-error>
                                <app-print-error [control]="ipvrreqForm.controls.ownername"></app-print-error>
                            </mat-error>
                        </mat-form-field>

                        <button type="button" mat-icon-button color="gray" (click)="deleteAddGroup(i)">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

        </mat-card>
    </form>
    <div class="w-100 text-end">

        <button type="submit"  class="submit-form-btn"class="create-application-btn" mat-flat-button color="primary"
            (click)="saveipvrform()">Create Loan Application</button>

    </div>
</mat-card>
<app-tryout-response *ngIf="response != null" [jsonData]="response"></app-tryout-response>