.pd-2 {
    padding: 3em 4em 2em !important;
}

.pd-1 {
  padding: 2em 4em 2em !important;
}

.example-form {

    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
 .btn {
  border-radius: 8px;
padding: 1em 3em;
}

.cancel-btn {
  background: #E8E8E8;
  color: #888888;
  font-size: 16px;
  font-weight: 500;
}

.trigger-btn {
  background: #2D3079;
  color:#FFFFFF;
  font-size: 16px;
  font-weight: 500;
}