

<div class="container">
  <div class="row">
      <div id="b4l-content">
        <div class="main">
          <div class="sidebar-main-title">
            <div class="d-flex al-center js-between w-100 pd-30"> 
              <span class="text-span">Activity Logs</span> 
            </div>
          </div>
          <div class="psb-xl-4 psb-lg-4 psb-md-6 psb-sm-12 psb-xs-12" style="float: right;">
            <mat-form-field class="input-group" appearance="outline" >
            <input matInput placeholder="Type to search..."  [(ngModel)]="valueToFilter" (keyup)="filterApplicationData()">            
          </mat-form-field>
          </div> 
          <table matSort (matSortChange)="sortData($event)"  class="table dash-table dash-table-brige table-responsive" style="margin-top: 1em;">
            <thead>
              <tr>
                <th scope="col">#</th> 
                <th  mat-sort-header="requestId" scope="col">Request ID</th>
                <th mat-sort-header="requestTime"  scope="col">Request Timestamp</th>
                <th mat-sort-header="responseTime"  scope="col">Response Timestamp</th>
                <th mat-sort-header="path" scope="col" style="text-align: left;">Path</th>
                <th mat-sort-header="httpStatus" scope="col">Http Status</th>
                <th mat-sort-header="httpStatusDescription" scope="col">Http Status Description</th>
                <th mat-sort-header="clientIp" scope="col">Client IP</th>
                <th mat-sort-header="serverRequestId" scope="col">Server Request Id</th>
                <th mat-sort-header="serverRequestId" scope="col">Action</th>
              </tr>
            </thead>

          <tbody>
            <ng-container *ngFor="let audit of audits | slice: (pagination.page-1) * pagination.size : (pagination.page-1) * pagination.size + pagination.size;  let i=index;">
                <tr class="accordion-toggle collapsed" id="{{audit.id}}" data-toggle="collapse" [attr.href]="'#collapse_'+audit.id">
                  <td> {{(pagination.size*(pagination.page-1)) + (i+1)}}</td>
                    <td>{{audit.requestId}}</td>
                    <td>{{audit.requestTime}}</td>
                    <td>{{audit.responseTime}}</td>
                    <td style="text-align: left;">{{audit.path}}</td>
                    <td>{{audit.httpStatus}}</td>
                    <td>{{audit.httpStatusDescription}}</td>
                    <td>{{audit.clientIp}}</td>
                    <td>{{audit.serverRequestId}}</td>
                    <td>
                      <button class="btn3-b4l" *ngIf="audit.auditDataLogProxy != null"  matTooltip="View Detailed Logs" style="line-height: 24px;"  matTooltipPosition="above" aria-label="View Detailed logs" (click)="openDialog(audit.auditDataLogProxy)">
                        <mat-icon>visibility</mat-icon>
                      </button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
      
          </table>
      </div>



 <!---pagination-->  
 <div class="row pagination-table" *ngIf="audits">
  <div class="col-sm-12 col-md-4" style="margin-left: 15%;">
    <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
      {{ audits.length > 0 ? ((pagination.size * (pagination.page - 1)) + 1) : 0}} to
      {{(pagination.size*pagination.page) > (audits.length) ? (audits.length) : (pagination.size*pagination.page)}} of {{audits.length}}
      entries
    </div>
  </div>  


  <div class="col-sm-12 col-md-6">
    <div class="text-md-right float-md-right pagination-rounded">
      <ngb-pagination [maxSize]=3 [collectionSize]="audits.length" [(page)]="pagination.page" [pageSize]="pagination.size" [rotate]="true" [ellipses]="false"
      [boundaryLinks]="true">
      </ngb-pagination>
    </div>
  </div>
  </div>

      </div>
  </div>
</div>
