<div class="container">
  <div class="row">
    <!-- Matches parameter clicked page start-->
    <div class="product-back-button">
      <p class="btn-back" routerLink="{{routeURL.SAVED_PRODUCTS}}"><img src="assets/img/arrow-right.svg" /> Back</p>
      <p>Product View</p>
    </div>
    <mat-card class="w-100 mt-4 mb-4 pd-3">
      <div class="row">
        <div class="psb-xl-12 psb-lg-12 psb-md-12 psb-sm-12 psb-xs-12">
          <p class="new-product-config-txt">New Product Configuration</p>
          <span class="new-product-config-span">Please choose what type of product you want to create, you will not be able to change some things later once product is created</span>
        </div>
      </div>
      
      <hr>
      
      <div class="form" *ngIf="formConfig != null && usersSelectedData != null">
        <div style="text-align:center">
          <!-- [data] = "usersSelectedData" -->
          <app-dynamic-form [fields]="formConfig" [data] = "usersSelectedData"  (submit)="submit()"></app-dynamic-form>
        </div>

        <div class="row">
          <div class="sidebar-main-title1 mt-4">
            <a href="javascript:void(0)" class="psb-bck" routerLink="{{routeURL.SAVED_PRODUCTS}}">Cancel</a>
            <a href="javascript:void(0)" class="psb-submit" (click)="submit()">+ Create Product</a>
          </div>
        </div>
      </div>

    </mat-card>
  </div>
</div>

<!-- <div class="form" *ngIf="formConfig != null">
  <div style="text-align:center"> 
    <h1>Create Product</h1>
    <app-dynamic-form [fields]="formConfig" (submit)="submit()"></app-dynamic-form>
  </div>
</div> -->