<form>
    <mat-card class="common_form_wrap">
        <form [formGroup]="generateOtpForm" autocomplete="off" (ngSubmit)="onFormSubmit()">
            <div class="form_wrap">
                <mat-form-field class="form-group">
                    <mat-label>GST No.</mat-label>
                    <input type="text" matInput [formControl]="generateOtpForm.controls.id" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="generateOtpForm.get('id').hasError('required')">
                        Please Enter GST Number.
                    </mat-error>
                    <mat-error *ngIf="generateOtpForm.get('id').hasError('pattern')">
                        Please Enter Valid GST Number.
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-group">
                    <mat-label>User Name</mat-label>
                    <input type="text" matInput [formControl]="generateOtpForm.controls.userName" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="generateOtpForm.get('userName').hasError('required')">
                        Please Enter User Name.
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- <mat-form-field class="form-group">
                <mat-label>Request Type</mat-label>
                <input type="text" matInput [formControl]="generateOtpForm.controls.requestType" [errorStateMatcher]="matcher"
                    placeholder="Ex. OTPREQUEST">
                <mat-error *ngIf="generateOtpForm.get('requestType').hasError('required')">
                    Please Enter Request Type.
                </mat-error>
            </mat-form-field> -->
            <button type="submit" class="submit-form-btn" mat-flat-button color="primary">Generate OTP</button>
        </form>
    </mat-card>
</form>
<app-tryout-response *ngIf="response != null" [jsonData]="response"></app-tryout-response>