<div class="b4l-login" style="background-image: url(assets/img/background.png);">
  <div id="b4l-login">
      <div class="container">
        <div class="row">
          <div class="psb-xl-12 psb-lg-12 psb-md-12 psb-sm-12 psb-xs-12">
  
            <p class="login-text">Welcome to BHIM for Lending Dashboard</p>
            <div class="login-box">
              <img src="assets/img/sbi.png" />
              <p>Sign up</p>
                <form  name="loginForm" #fs="ngForm" autocomplete="off" novalidate> 
                  <fieldset>
                    <input placeholder="Username" type="text" tabindex="1" required="" [(ngModel)]="user.userName" name="userName">
                  </fieldset>
                  <fieldset>
                    <input placeholder="Password" type="password" tabindex="1" required="" [(ngModel)]="user.password" name="password" >
                  </fieldset>
                  <fieldset>
                    <select name="userRole" id="userRole" [(ngModel)]="user.roleId">
                      <option *ngFor="let role of roles" [ngValue]="role.id" >{{role.name}}</option>
                    </select>
                  </fieldset>
                  <button mat-raised-button color="primary" type="submit"  (click)="onSubmit()">Sign up</button>
                </form>
                <a href="#" class="login-forgot-psd" routerLink="/login">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  