.submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
}

.submenu.expanded {
    transform: scaleY(1);
}

.menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
}

.menu-button.rotated {
    transform: rotate(180deg);
}

.sidenav-content {
    height: 100%;
    align-items: center;
    justify-content: center;
    // padding-left: 0.5em;
}

.current-active {
    background-color: #2d30791c !important;
    color: #2D3079 !important;
    min-width: 220px;
}

.mat-list-item {
    padding: 0 !important;
    border-radius: 8px;
    .mat-list-item-content {
        padding: 0 !important;
    }
}