<div id="b4l-pop-up">
    <h4>Are you sure you want to delete this product ?</h4>
    <p><b>“ {{data.productName}}”</b> will be deleted immediately. Everything you have created in this product will be deleted and you will not be able to undo this action.</p>
    <div class="btn-pop-up">
        <a href="javaScript:void(0);" (click)="close()" class="product-btn4">Cancel</a>
        <a href="javaScript:void(0);" (click)="save()" class="product-btn3"><img src="assets/img/delete-icon.svg" /> Delete Product</a>
    </div>
</div>