<form>
    <mat-card style="display: flex; width: 100%;">
        <form class="example-form" [formGroup]="panInquiryForm" (ngSubmit)="onFormSubmit()">
            <mat-form-field class="example-full-width">
                <mat-label>Pan</mat-label>
                <input type="text" matInput [formControl]="panInquiryForm.controls.pan" [errorStateMatcher]="matcher"
                    placeholder="Ex. AAAAA1212A">
                <mat-error *ngIf="panInquiryForm.get('pan').hasError('required')">
                    Please enter PAN.
                </mat-error>
            </mat-form-field>
            &nbsp;
            <button type="submit" style="margin-left: 1em;" mat-flat-button color="primary">Get Pan Details</button>
        </form>
    </mat-card>
</form>
<app-tryout-response *ngIf="response != null" [jsonData]="response"></app-tryout-response>